{
  "openapi": "3.1.0",
  "info": {
    "title": "Infinite Ocean Operations API",
    "version": "0.1.0",
    "description": "Staff-only API. Staff identities remain distinct from customer actors and every customer projection is exact, bounded, read-only and audited."
  },
  "servers": [{"url": "https://ops.infiniteocean.net"}],
  "paths": {
"/api/operations/v1/auth/start":{"post": {"operationId": "operationsAdminStart", "x-spyglass-service": "operations-api", "security": [], "responses": {"201": {"description": "Admin authentication result", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AdminStart"}}}}, "default": {"$ref": "#/components/responses/Problem"}}}},"/api/operations/v1/auth/google/complete":{"post": {"operationId": "operationsAdminGoogle", "x-spyglass-service": "operations-api", "security": [], "responses": {"303": {"description": "Admin authentication result"}, "default": {"$ref": "#/components/responses/Problem"}}, "requestBody": {"required": true, "content": {"application/x-www-form-urlencoded": {"schema": {"$ref": "#/components/schemas/AdminGoogleTicket"}}}}}},"/api/operations/v1/auth":{"get": {"operationId": "operationsAdminStatus", "x-spyglass-service": "operations-api", "security": [{"adminLoginCookie": []}], "responses": {"200": {"description": "Admin authentication result", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AdminLoginStatus"}}}}, "default": {"$ref": "#/components/responses/Problem"}}}},"/api/operations/v1/auth/enrollment":{"post": {"operationId": "operationsAdminEnrollment", "x-spyglass-service": "operations-api", "security": [{"adminLoginCookie": []}], "responses": {"200": {"description": "Admin authentication result", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AdminSetup"}}}}, "default": {"$ref": "#/components/responses/Problem"}}}},"/api/operations/v1/auth/verify":{"post": {"operationId": "operationsAdminVerify", "x-spyglass-service": "operations-api", "security": [{"adminLoginCookie": []}], "responses": {"200": {"description": "Admin authentication result", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AdminVerification"}}}}, "default": {"$ref": "#/components/responses/Problem"}}, "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AdminCode"}}}}}},"/api/operations/v1/auth/reauthenticate":{"post": {"operationId": "operationsAdminReauthenticate", "x-spyglass-service": "operations-api", "security": [{"operationsCookie": []}], "responses": {"204": {"description": "Admin authentication result"}, "default": {"$ref": "#/components/responses/Problem"}}, "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AdminReauthentication"}}}}}},
    "/api/operations/v1/traffic/reports": {"post":{"operationId":"operationsTrafficReport","x-spyglass-service":"operations-api","security":[{"operationsCookie":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperationsTrafficRequest"}}}},"responses":{"200":{"description":"Audited administrator-only traffic and redacted request logs","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperationsTrafficReport"}}}},"default":{"$ref":"#/components/responses/Problem"}}}},
    "/api/operations/v1/passkey-login/challenges": {
      "post": {"operationId": "operationsBeginPasskeyLogin", "x-spyglass-service": "operations-api", "security": [], "responses": {"201": {"$ref": "#/components/responses/PasskeyCeremonyCreated"}, "default": {"$ref": "#/components/responses/Problem"}}}
    },
    "/api/operations/v1/passkey-login/challenges/{ceremonyID}/complete": {
      "parameters": [{"$ref": "#/components/parameters/ceremonyID"}],
      "post": {"operationId": "operationsCompletePasskeyLogin", "x-spyglass-service": "operations-api", "security": [], "requestBody": {"$ref": "#/components/requestBodies/CompletePasskeyLogin"}, "responses": {"201": {"$ref": "#/components/responses/SessionCreated"}, "default": {"$ref": "#/components/responses/Problem"}}}
    },
    "/api/operations/v1/session": {
      "get": {"operationId": "operationsCurrentSession", "x-spyglass-service": "operations-api", "security": [{"operationsCookie": []}], "responses": {"200": {"$ref": "#/components/responses/SessionOK"}, "default": {"$ref": "#/components/responses/Problem"}}},
      "delete": {"operationId": "operationsLogout", "x-spyglass-service": "operations-api", "security": [{"operationsCookie": []}], "responses": {"204": {"description": "Staff session revoked"}, "default": {"$ref": "#/components/responses/Problem"}}}
    },
    "/api/operations/v1/lookups": {
      "post": {"operationId": "operationsLookup", "x-spyglass-service": "operations-api", "security": [{"operationsCookie": []}], "requestBody": {"$ref": "#/components/requestBodies/Lookup"}, "responses": {"200": {"$ref": "#/components/responses/LookupOK"}, "default": {"$ref": "#/components/responses/Problem"}}}
    },
    "/api/operations/v1/support-grants": {
      "post": {"operationId": "operationsCreateSupportGrant", "x-spyglass-service": "operations-api", "security": [{"operationsCookie": []}], "requestBody": {"$ref": "#/components/requestBodies/CreateSupportGrant"}, "responses": {"201": {"$ref": "#/components/responses/SupportGrantCreated"}, "default": {"$ref": "#/components/responses/Problem"}}}
    },
    "/api/operations/v1/support-grants/{grantID}/views": {
      "parameters": [{"$ref": "#/components/parameters/grantID"}],
      "post": {"operationId": "operationsOpenSupportView", "x-spyglass-service": "operations-api", "security": [{"operationsCookie": []}], "requestBody": {"$ref": "#/components/requestBodies/AuditReason"}, "responses": {"200": {"$ref": "#/components/responses/SupportViewOK"}, "default": {"$ref": "#/components/responses/Problem"}}}
    },
    "/api/operations/v1/support-grants/{grantID}/revocations": {
      "parameters": [{"$ref": "#/components/parameters/grantID"}],
      "post": {"operationId": "operationsRevokeSupportGrant", "x-spyglass-service": "operations-api", "security": [{"operationsCookie": []}], "requestBody": {"$ref": "#/components/requestBodies/RevokeSupportGrant"}, "responses": {"200": {"$ref": "#/components/responses/SupportGrantOK"}, "default": {"$ref": "#/components/responses/Problem"}}}
    },
    "/api/operations/v1/analytics/reports": {
      "post": {"operationId": "operationsAnalyticsReport", "x-spyglass-service": "operations-api", "security": [{"operationsCookie": []}], "requestBody": {"$ref": "#/components/requestBodies/AnalyticsReport"}, "responses": {"200": {"$ref": "#/components/responses/AnalyticsReportOK"}, "default": {"$ref": "#/components/responses/Problem"}}}
    },
    "/api/operations/v1/billing/failures/reports": {
      "post": {"operationId": "operationsBillingFailures", "x-spyglass-service": "operations-api", "security": [{"operationsCookie": []}], "requestBody": {"$ref": "#/components/requestBodies/BillingFailures"}, "responses": {"200": {"$ref": "#/components/responses/BillingFailuresOK"}, "default": {"$ref": "#/components/responses/Problem"}}}
    },
    "/api/operations/v1/billing/events/{eventID}/replays": {
      "parameters": [{"$ref": "#/components/parameters/eventID"}],
      "post": {"operationId": "operationsReplayBillingEvent", "x-spyglass-service": "operations-api", "security": [{"operationsCookie": []}], "requestBody": {"$ref": "#/components/requestBodies/BillingAction"}, "responses": {"200": {"$ref": "#/components/responses/BillingRecordOK"}, "default": {"$ref": "#/components/responses/Problem"}}}
    },
    "/api/operations/v1/billing/subscriptions/{subscriptionID}/refreshes": {
      "parameters": [{"$ref": "#/components/parameters/subscriptionID"}],
      "post": {"operationId": "operationsRefreshBillingSubscription", "x-spyglass-service": "operations-api", "security": [{"operationsCookie": []}], "requestBody": {"$ref": "#/components/requestBodies/BillingAction"}, "responses": {"200": {"$ref": "#/components/responses/BillingRecordOK"}, "default": {"$ref": "#/components/responses/Problem"}}}
    },
    "/api/operations/v1/privacy-rights/reports/open": {
      "post": {"operationId": "operationsOpenPrivacyRights", "x-spyglass-service": "operations-api", "security": [{"operationsCookie": []}], "requestBody": {"$ref": "#/components/requestBodies/PrivacyOpen"}, "responses": {"200": {"$ref": "#/components/responses/PrivacyQueueOK"}, "default": {"$ref": "#/components/responses/Problem"}}}
    },
    "/api/operations/v1/privacy-rights/{requestID}/inspections": {
      "parameters": [{"$ref": "#/components/parameters/requestID"}],
      "post": {"operationId": "operationsInspectPrivacyRight", "x-spyglass-service": "operations-api", "security": [{"operationsCookie": []}], "requestBody": {"$ref": "#/components/requestBodies/AuditReason"}, "responses": {"200": {"$ref": "#/components/responses/PrivacyRequestOK"}, "default": {"$ref": "#/components/responses/Problem"}}}
    },
    "/api/operations/v1/privacy-rights/{requestID}/review-starts": {
      "parameters": [{"$ref": "#/components/parameters/requestID"}],
      "post": {"operationId": "operationsStartPrivacyReview", "x-spyglass-service": "operations-api", "security": [{"operationsCookie": []}], "requestBody": {"$ref": "#/components/requestBodies/PrivacyReview"}, "responses": {"200": {"$ref": "#/components/responses/PrivacyRequestOK"}, "default": {"$ref": "#/components/responses/Problem"}}}
    },
    "/api/operations/v1/privacy-rights/{requestID}/resolutions": {
      "parameters": [{"$ref": "#/components/parameters/requestID"}],
      "post": {"operationId": "operationsResolvePrivacyRight", "x-spyglass-service": "operations-api", "security": [{"operationsCookie": []}], "requestBody": {"$ref": "#/components/requestBodies/PrivacyResolution"}, "responses": {"200": {"$ref": "#/components/responses/PrivacyRequestOK"}, "default": {"$ref": "#/components/responses/Problem"}}}
    },
    "/api/operations/v1/affiliates/{affiliateID}/inspections": {
      "parameters": [{"$ref": "#/components/parameters/affiliateID"}],
      "post": {"operationId": "operationsInspectAffiliate", "x-spyglass-service": "operations-api", "security": [{"operationsCookie": []}], "requestBody": {"$ref": "#/components/requestBodies/AuditReason"}, "responses": {"200": {"$ref": "#/components/responses/AffiliateEnrollmentOK"}, "default": {"$ref": "#/components/responses/Problem"}}}
    },
    "/api/operations/v1/affiliates/{affiliateID}/risk-inspections": {
      "parameters": [{"$ref": "#/components/parameters/affiliateID"}],
      "post": {"operationId": "operationsInspectAffiliateRisk", "x-spyglass-service": "operations-api", "security": [{"operationsCookie": []}], "requestBody": {"$ref": "#/components/requestBodies/AuditReason"}, "responses": {"200": {"$ref": "#/components/responses/AffiliateRiskOK"}, "default": {"$ref": "#/components/responses/Problem"}}}
    },
    "/api/operations/v1/affiliates/{affiliateID}/transitions": {
      "parameters": [{"$ref": "#/components/parameters/affiliateID"}],
      "post": {"operationId": "operationsTransitionAffiliate", "x-spyglass-service": "operations-api", "security": [{"operationsCookie": []}], "requestBody": {"$ref": "#/components/requestBodies/AffiliateTransition"}, "responses": {"200": {"$ref": "#/components/responses/AffiliateEnrollmentOK"}, "default": {"$ref": "#/components/responses/Problem"}}}
    }
  },
  "components": {
    "securitySchemes": {
 "adminLoginCookie":{"type":"apiKey","in":"cookie","name":"__Host-spyglass_admin_login","description":"Short-lived Google login challenge; never an admin session."},
      "operationsCookie": {"type": "apiKey", "in": "cookie", "name": "__Host-spyglass_operations", "description": "Host-only staff session. Stage requires Google and a separate authenticator code. Never accepted by customer APIs."}
    },
    "parameters": {
      "ceremonyID": {"name": "ceremonyID", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}},
      "grantID": {"name": "grantID", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}}
      ,"eventID": {"name": "eventID", "in": "path", "required": true, "schema": {"type": "string", "pattern": "^evt_[^\\s]+$"}}
      ,"subscriptionID": {"name": "subscriptionID", "in": "path", "required": true, "schema": {"type": "string", "pattern": "^sub_[^\\s]+$"}}
      ,"requestID": {"name": "requestID", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}}
      ,"affiliateID": {"name": "affiliateID", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}}
    },
    "requestBodies": {
      "CompletePasskeyLogin": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/OperationsCompletePasskeyLogin"}}}},
      "Lookup": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/OperationsLookupRequest"}}}},
      "CreateSupportGrant": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/OperationsCreateSupportGrant"}}}},
      "AuditReason": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/OperationsAuditReason"}}}},
      "RevokeSupportGrant": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/OperationsRevokeSupportGrant"}}}},
      "AnalyticsReport": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/OperationsAnalyticsRequest"}}}},
      "BillingFailures": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/OperationsBillingFailuresRequest"}}}},
      "BillingAction": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/OperationsBillingActionRequest"}}}},
      "PrivacyOpen": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/OperationsPrivacyOpenRequest"}}}},
      "PrivacyReview": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/OperationsPrivacyReviewRequest"}}}},
      "PrivacyResolution": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/OperationsPrivacyResolutionRequest"}}}},
      "AffiliateTransition": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/OperationsAffiliateTransitionRequest"}}}}
    },
    "responses": {
      "PasskeyCeremonyCreated": {"description": "Discoverable passkey challenge", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/OperationsPasskeyCeremony"}}}},
      "SessionCreated": {"description": "Authorized staff session created", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/OperationsSession"}}}},
      "SessionOK": {"description": "Current staff session", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/OperationsSession"}}}},
      "LookupOK": {"description": "Exact audited lookup results", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/OperationsLookupPage"}}}},
      "SupportGrantCreated": {"description": "Exact bounded support grant", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/OperationsSupportGrantEnvelope"}}}},
      "SupportGrantOK": {"description": "Current support grant state", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/OperationsSupportGrantEnvelope"}}}},
      "SupportViewOK": {"description": "Visibly marked read-only customer-safe projection", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/OperationsSupportViewEnvelope"}}}},
      "AnalyticsReportOK": {"description": "Suppressed privacy-bounded aggregate report", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/OperationsAnalyticsReport"}}}},
      "BillingFailuresOK": {"description": "Audited billing failure report", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/OperationsBillingFailuresReport"}}}},
      "BillingRecordOK": {"description": "Audited billing operator result", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/OperationsBillingRecordEnvelope"}}}},
      "PrivacyQueueOK": {"description": "Content-minimized open rights queue", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/OperationsPrivacyQueue"}}}},
      "PrivacyRequestOK": {"description": "Audited privacy-rights request state", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/OperationsPrivacyRequestEnvelope"}}}},
      "AffiliateEnrollmentOK": {"description": "Audited Affiliate enrollment state", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/OperationsAffiliateEnrollmentEnvelope"}}}},
      "AffiliateRiskOK": {"description": "Content-free Affiliate risk summary", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/OperationsAffiliateRiskEnvelope"}}}},
      "Problem": {"description": "Staff request failed without internal detail", "content": {"application/problem+json": {"schema": {"$ref": "#/components/schemas/OperationsProblem"}}}}
    },
    "schemas": {
"AdminLoginStatus":{"type": "object", "additionalProperties": false, "required": ["stage", "display_name"], "properties": {"stage": {"type": "string", "enum": ["code", "enroll"]}, "display_name": {"type": "string"}}},"AdminSetup":{"type": "object", "additionalProperties": false, "required": ["secret", "uri"], "properties": {"secret": {"type": "string"}, "uri": {"type": "string"}}},"AdminVerification":{"type": "object", "additionalProperties": false, "properties": {"session": {"$ref": "#/components/schemas/OperationsSession"}, "stage": {"type": "string", "const": "enroll"}, "recovery_codes": {"anyOf": [{"type": "array", "items": {"type": "string"}}, {"type": "null"}]}}},"AdminCode":{"type": "object", "additionalProperties": false, "required": ["code"], "properties": {"code": {"type": "string", "maxLength": 40}, "recovery": {"type": "boolean"}}},"AdminStart":{"type": "object", "additionalProperties": false, "required": ["url"], "properties": {"url": {"type": "string"}}},"AdminGoogleTicket":{"type": "object", "additionalProperties": false, "required": ["ticket"], "properties": {"ticket": {"type": "string", "maxLength": 8192}}},"AdminReauthentication":{"type": "object", "additionalProperties": false, "required": ["code"], "properties": {"code": {"type": "string", "pattern": "^[0-9]{6}$"}}},
      "OperationsTrafficRequest": {"type":"object","additionalProperties":false,"required":["from","to","ticket","reason"],"properties":{"from":{"type":"string","format":"date-time"},"to":{"type":"string","format":"date-time"},"ticket":{"type":"string","minLength":3,"maxLength":80},"reason":{"type":"string","minLength":8,"maxLength":500}}},
      "OperationsTrafficEntry": {"type":"object","additionalProperties":false,"required":["time","ip","host","method","status","duration_ms","user_agent"],"properties":{"time":{"type":"string","format":"date-time"},"ip":{"type":"string"},"host":{"type":"string"},"method":{"type":"string"},"status":{"type":"integer","minimum":0},"duration_ms":{"type":"number","minimum":0},"user_agent":{"type":"string","maxLength":1024,"description":"Client-reported User-Agent, with control characters removed and long values truncated. Empty when not recorded."}}},
      "OperationsTrafficIP": {"type":"object","additionalProperties":false,"required":["ip","requests","first_seen","last_seen"],"properties":{"ip":{"type":"string"},"requests":{"type":"integer","minimum":0},"first_seen":{"type":"string","format":"date-time"},"last_seen":{"type":"string","format":"date-time"}}},
      "OperationsTrafficCount": {"type":"object","additionalProperties":false,"required":["label","requests"],"properties":{"label":{"type":"string"},"requests":{"type":"integer","minimum":0}}},
      "OperationsTrafficReport": {"type":"object","additionalProperties":false,"required":["from","to","generated_at","available_from","available_to","requests","unique_ips","server_errors","files_read","invalid_records","truncated","ip_list_truncated","ips","hosts","statuses","days","logs"],"properties":{"from":{"type":"string","format":"date-time"},"to":{"type":"string","format":"date-time"},"generated_at":{"type":"string","format":"date-time"},"available_from":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}]},"available_to":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}]},"requests":{"type":"integer","minimum":0},"unique_ips":{"type":"integer","minimum":0},"server_errors":{"type":"integer","minimum":0},"files_read":{"type":"integer","minimum":0},"invalid_records":{"type":"integer","minimum":0},"truncated":{"type":"boolean"},"ip_list_truncated":{"type":"boolean"},"ips":{"type":"array","items":{"$ref":"#/components/schemas/OperationsTrafficIP"}},"hosts":{"type":"array","items":{"$ref":"#/components/schemas/OperationsTrafficCount"}},"statuses":{"type":"array","items":{"$ref":"#/components/schemas/OperationsTrafficCount"}},"days":{"type":"array","items":{"$ref":"#/components/schemas/OperationsTrafficCount"}},"logs":{"type":"array","items":{"$ref":"#/components/schemas/OperationsTrafficEntry"}}}},

      "OperationsUUID": {"type": "string", "format": "uuid"},
      "OperationsTimestamp": {"type": "string", "format": "date-time"},
      "OperationsStaffRole": {"type": "string", "enum": ["operations_administrator", "support", "billing", "analytics", "privacy", "affiliate"]},
      "OperationsLookupKind": {"type": "string", "enum": ["user_id", "email", "account_id", "stripe_customer_id", "stripe_subscription_id"]},
      "OperationsAuditReason": {"type": "object", "additionalProperties": false, "required": ["ticket", "reason"], "properties": {"ticket": {"type": "string", "minLength": 3, "maxLength": 80}, "reason": {"type": "string", "minLength": 8, "maxLength": 500}}},
      "OperationsStaff": {"type": "object", "additionalProperties": false, "required": ["user_id", "display_name", "state", "roles"], "properties": {"user_id": {"$ref": "#/components/schemas/OperationsUUID"}, "display_name": {"type": "string"}, "state": {"type": "string", "const": "active"}, "roles": {"type": "array", "items": {"$ref": "#/components/schemas/OperationsStaffRole"}}}},
      "OperationsPasskeyCeremony": {"type": "object", "additionalProperties": false, "required": ["ceremony_id", "public_key", "expires_at"], "properties": {"ceremony_id": {"$ref": "#/components/schemas/OperationsUUID"}, "public_key": {"type": "object"}, "expires_at": {"$ref": "#/components/schemas/OperationsTimestamp"}}},
      "OperationsCompletePasskeyLogin": {"type": "object", "additionalProperties": false, "required": ["credential"], "properties": {"credential": {"type": "object"}, "client_label": {"type": "string", "maxLength": 160}}},
      "OperationsSession": {"type": "object", "additionalProperties": false, "required": ["staff", "expires_at", "authentication_method"], "properties": {"staff": {"$ref": "#/components/schemas/OperationsStaff"}, "expires_at": {"$ref": "#/components/schemas/OperationsTimestamp"}, "authentication_method": {"type": "string", "enum": ["passkey", "google_totp"]}}},
      "OperationsLookupRequest": {"type": "object", "additionalProperties": false, "required": ["kind", "value", "ticket", "reason"], "properties": {"kind": {"$ref": "#/components/schemas/OperationsLookupKind"}, "value": {"type": "string", "maxLength": 320}, "ticket": {"type": "string"}, "reason": {"type": "string"}}},
      "OperationsLookupResult": {"type": "object", "additionalProperties": false, "required": ["user_id", "display_name", "email", "user_state", "email_verified", "account_id", "account_name", "account_state", "account_type", "membership_role", "membership_state"], "properties": {"user_id": {"$ref": "#/components/schemas/OperationsUUID"}, "display_name": {"type": "string"}, "email": {"type": "string"}, "user_state": {"type": "string"}, "email_verified": {"type": "boolean"}, "account_id": {"$ref": "#/components/schemas/OperationsUUID"}, "account_name": {"type": "string"}, "account_state": {"type": "string"}, "account_type": {"type": "string"}, "membership_role": {"type": "string"}, "membership_state": {"type": "string"}, "stripe_customer_id": {"type": "string"}, "stripe_subscription_id": {"type": "string"}}},
      "OperationsLookupPage": {"type": "object", "additionalProperties": false, "required": ["results"], "properties": {"results": {"type": "array", "items": {"$ref": "#/components/schemas/OperationsLookupResult"}}}},
      "OperationsCreateSupportGrant": {"type": "object", "additionalProperties": false, "required": ["target_user_id", "account_id", "lifetime_seconds", "ticket", "reason"], "properties": {"target_user_id": {"$ref": "#/components/schemas/OperationsUUID"}, "account_id": {"$ref": "#/components/schemas/OperationsUUID"}, "lifetime_seconds": {"type": "integer", "minimum": 300, "maximum": 3600}, "ticket": {"type": "string"}, "reason": {"type": "string"}}},
      "OperationsRevokeSupportGrant": {"type": "object", "additionalProperties": false, "required": ["expected_version", "ticket", "reason"], "properties": {"expected_version": {"type": "integer", "minimum": 1}, "ticket": {"type": "string"}, "reason": {"type": "string"}}},
      "OperationsSupportGrant": {"type": "object", "additionalProperties": false, "required": ["id", "staff_user_id", "target_user_id", "account_id", "state", "ticket", "reason", "created_at", "expires_at", "version"], "properties": {"id": {"$ref": "#/components/schemas/OperationsUUID"}, "staff_user_id": {"$ref": "#/components/schemas/OperationsUUID"}, "target_user_id": {"$ref": "#/components/schemas/OperationsUUID"}, "account_id": {"$ref": "#/components/schemas/OperationsUUID"}, "state": {"type": "string", "enum": ["active", "revoked"]}, "ticket": {"type": "string"}, "reason": {"type": "string"}, "created_at": {"$ref": "#/components/schemas/OperationsTimestamp"}, "expires_at": {"$ref": "#/components/schemas/OperationsTimestamp"}, "revoked_at": {"anyOf": [{"$ref": "#/components/schemas/OperationsTimestamp"}, {"type": "null"}]}, "version": {"type": "integer", "minimum": 1}}},
      "OperationsSupportGrantEnvelope": {"type": "object", "additionalProperties": false, "required": ["grant"], "properties": {"grant": {"$ref": "#/components/schemas/OperationsSupportGrant"}}},
      "OperationsAccessEvent": {"type": "object", "additionalProperties": false, "required": ["id", "staff_display_name", "action", "ticket", "reason", "occurred_at"], "properties": {"id": {"$ref": "#/components/schemas/OperationsUUID"}, "staff_display_name": {"type": "string"}, "action": {"type": "string"}, "ticket": {"type": "string"}, "reason": {"type": "string"}, "occurred_at": {"$ref": "#/components/schemas/OperationsTimestamp"}}},
      "OperationsUserView": {"type": "object", "additionalProperties": false, "required": ["id", "display_name", "email", "state", "created_at", "passkey_count", "recovery_codes_remaining"], "properties": {"id": {"$ref": "#/components/schemas/OperationsUUID"}, "display_name": {"type": "string"}, "email": {"type": "string"}, "state": {"type": "string"}, "email_verified_at": {"anyOf": [{"$ref": "#/components/schemas/OperationsTimestamp"}, {"type": "null"}]}, "created_at": {"$ref": "#/components/schemas/OperationsTimestamp"}, "passkey_count": {"type": "integer"}, "recovery_codes_remaining": {"type": "integer"}}},
      "OperationsAccountSummary": {"type": "object", "additionalProperties": false, "required": ["id", "display_name", "state", "type", "cell_id", "placement_generation", "entitlement_version", "created_at"], "properties": {"id": {"$ref": "#/components/schemas/OperationsUUID"}, "display_name": {"type": "string"}, "state": {"type": "string"}, "type": {"type": "string"}, "cell_id": {"type": "string"}, "placement_generation": {"type": "integer"}, "entitlement_version": {"type": "integer"}, "created_at": {"$ref": "#/components/schemas/OperationsTimestamp"}}},
      "OperationsMembershipView": {"type": "object", "additionalProperties": false, "required": ["role", "state", "version"], "properties": {"role": {"type": "string"}, "state": {"type": "string"}, "version": {"type": "integer"}}},
      "OperationsBillingView": {"type": "object", "additionalProperties": false, "properties": {"customer_id": {"type": "string"}, "billing_email": {"type": "string"}, "subscription_id": {"type": "string"}, "provider_mode": {"type": "string"}, "state": {"type": "string"}, "offer_code": {"type": "string"}, "offer_version": {"type": "integer"}, "current_period_end": {"anyOf": [{"$ref": "#/components/schemas/OperationsTimestamp"}, {"type": "null"}]}, "cancel_at": {"anyOf": [{"$ref": "#/components/schemas/OperationsTimestamp"}, {"type": "null"}]}, "last_synced_at": {"anyOf": [{"$ref": "#/components/schemas/OperationsTimestamp"}, {"type": "null"}]}}},
      "OperationsEntitlementView": {"type": "object", "additionalProperties": false, "required": ["version", "catalog_version", "evaluated_at", "packages"], "properties": {"version": {"type": "integer"}, "catalog_version": {"type": "integer"}, "evaluated_at": {"$ref": "#/components/schemas/OperationsTimestamp"}, "packages": {"type": "array", "items": {"type": "object"}}}},
      "OperationsAITokenView": {"type": "object", "additionalProperties": false, "required": ["available", "reserved", "consumed"], "properties": {"available": {"type": "integer"}, "reserved": {"type": "integer"}, "consumed": {"type": "integer"}}},
      "OperationsLifecycleView": {"type": "object", "additionalProperties": false, "properties": {"request_id": {"type": "string"}, "state": {"type": "string"}, "execute_after": {"anyOf": [{"$ref": "#/components/schemas/OperationsTimestamp"}, {"type": "null"}]}, "delete_after": {"anyOf": [{"$ref": "#/components/schemas/OperationsTimestamp"}, {"type": "null"}]}, "blocker_code": {"type": "string"}}},
      "OperationsAccountView": {"type": "object", "additionalProperties": false, "required": ["grant", "user", "account", "membership", "billing", "entitlements", "ai_tokens", "lifecycle", "support_history"], "properties": {"grant": {"$ref": "#/components/schemas/OperationsSupportGrant"}, "user": {"$ref": "#/components/schemas/OperationsUserView"}, "account": {"$ref": "#/components/schemas/OperationsAccountSummary"}, "membership": {"$ref": "#/components/schemas/OperationsMembershipView"}, "billing": {"$ref": "#/components/schemas/OperationsBillingView"}, "entitlements": {"$ref": "#/components/schemas/OperationsEntitlementView"}, "ai_tokens": {"$ref": "#/components/schemas/OperationsAITokenView"}, "lifecycle": {"$ref": "#/components/schemas/OperationsLifecycleView"}, "support_history": {"type": "array", "items": {"$ref": "#/components/schemas/OperationsAccessEvent"}}}},
      "OperationsSupportViewEnvelope": {"type": "object", "additionalProperties": false, "required": ["mode", "staff", "view"], "properties": {"mode": {"type": "string", "const": "read_only_support_view"}, "staff": {"$ref": "#/components/schemas/OperationsStaff"}, "view": {"$ref": "#/components/schemas/OperationsAccountView"}}},
      "OperationsAnalyticsRequest": {"type": "object", "additionalProperties": false, "required": ["from", "to", "bucket", "dimension", "minimum_cohort", "ticket", "reason"], "properties": {"from": {"$ref": "#/components/schemas/OperationsTimestamp"}, "to": {"$ref": "#/components/schemas/OperationsTimestamp"}, "bucket": {"type": "string", "enum": ["hour", "day"]}, "dimension": {"type": "string"}, "minimum_cohort": {"type": "integer", "minimum": 5, "maximum": 100}, "ticket": {"type": "string"}, "reason": {"type": "string"}}},
      "OperationsAnalyticsRow": {"type": "object", "additionalProperties": false, "required": ["bucket_start", "event_name", "surface", "dimension_value", "event_count", "unique_subjects"], "properties": {"bucket_start": {"$ref": "#/components/schemas/OperationsTimestamp"}, "event_name": {"type": "string"}, "surface": {"type": "string"}, "dimension_value": {"type": "string"}, "event_count": {"type": "integer"}, "unique_subjects": {"type": "integer"}}},
      "OperationsAnalyticsReport": {"type": "object", "additionalProperties": false, "required": ["from", "to", "bucket", "dimension", "minimum_cohort", "rows"], "properties": {"from": {"$ref": "#/components/schemas/OperationsTimestamp"}, "to": {"$ref": "#/components/schemas/OperationsTimestamp"}, "bucket": {"type": "string"}, "dimension": {"type": "string"}, "minimum_cohort": {"type": "integer"}, "rows": {"type": "array", "items": {"$ref": "#/components/schemas/OperationsAnalyticsRow"}}}},
      "OperationsBillingFailuresRequest": {"type": "object", "additionalProperties": false, "required": ["limit", "mode", "ticket", "reason"], "properties": {"limit": {"type": "integer", "minimum": 1, "maximum": 100}, "mode": {"type": "string", "enum": ["test", "live"]}, "ticket": {"type": "string"}, "reason": {"type": "string"}}},
      "OperationsBillingActionRequest": {"type": "object", "additionalProperties": false, "required": ["mode", "ticket", "reason"], "properties": {"mode": {"type": "string", "enum": ["test", "live"]}, "ticket": {"type": "string"}, "reason": {"type": "string"}}},
      "OperationsBillingRecord": {"type": "object", "additionalProperties": false, "required": ["kind", "target_id", "account_id", "mode", "state", "explanation_code", "explanation", "attempt_count", "created_at"], "properties": {"kind": {"type": "string"}, "target_id": {"type": "string"}, "account_id": {"type": "string"}, "mode": {"type": "string"}, "state": {"type": "string"}, "last_error_code": {"type": "string"}, "explanation_code": {"type": "string"}, "explanation": {"type": "string"}, "attempt_count": {"type": "integer"}, "next_attempt_at": {"anyOf": [{"$ref": "#/components/schemas/OperationsTimestamp"}, {"type": "null"}]}, "created_at": {"$ref": "#/components/schemas/OperationsTimestamp"}}},
      "OperationsBillingFailuresReport": {"type": "object", "additionalProperties": false, "required": ["batch_id", "records"], "properties": {"batch_id": {"$ref": "#/components/schemas/OperationsUUID"}, "records": {"type": "array", "items": {"$ref": "#/components/schemas/OperationsBillingRecord"}}}},
      "OperationsBillingRecordEnvelope": {"type": "object", "additionalProperties": false, "required": ["batch_id", "record"], "properties": {"batch_id": {"$ref": "#/components/schemas/OperationsUUID"}, "record": {"$ref": "#/components/schemas/OperationsBillingRecord"}}},
      "OperationsPrivacyOpenRequest": {"type": "object", "additionalProperties": false, "required": ["due_before", "limit", "ticket", "reason"], "properties": {"due_before": {"$ref": "#/components/schemas/OperationsTimestamp"}, "limit": {"type": "integer", "minimum": 1, "maximum": 100}, "ticket": {"type": "string"}, "reason": {"type": "string"}}},
      "OperationsPrivacyReviewRequest": {"type": "object", "additionalProperties": false, "required": ["expected_version", "ticket", "reason"], "properties": {"expected_version": {"type": "integer", "minimum": 1}, "ticket": {"type": "string"}, "reason": {"type": "string"}}},
      "OperationsPrivacyResolutionRequest": {"type": "object", "additionalProperties": false, "required": ["expected_version", "state", "evidence_id", "evidence_sha256", "ticket", "reason"], "properties": {"expected_version": {"type": "integer", "minimum": 1}, "state": {"type": "string", "enum": ["completed", "partially_completed", "declined"]}, "evidence_id": {"$ref": "#/components/schemas/OperationsUUID"}, "evidence_sha256": {"type": "string", "pattern": "^[0-9a-f]{64}$"}, "ticket": {"type": "string"}, "reason": {"type": "string"}}},
      "OperationsPrivacyQueueItem": {"type": "object", "additionalProperties": false, "required": ["request_id", "version", "kind", "scope", "state", "requested_at", "response_due_at", "updated_at"], "properties": {"request_id": {"$ref": "#/components/schemas/OperationsUUID"}, "version": {"type": "integer"}, "kind": {"type": "string"}, "scope": {"type": "string"}, "state": {"type": "string"}, "requested_at": {"$ref": "#/components/schemas/OperationsTimestamp"}, "response_due_at": {"$ref": "#/components/schemas/OperationsTimestamp"}, "updated_at": {"$ref": "#/components/schemas/OperationsTimestamp"}}},
      "OperationsPrivacyQueue": {"type": "object", "additionalProperties": false, "required": ["items"], "properties": {"items": {"type": "array", "items": {"$ref": "#/components/schemas/OperationsPrivacyQueueItem"}}}},
      "OperationsPrivacyRequest": {"type": "object", "additionalProperties": false, "required": ["request_id", "version", "kind", "scope", "state", "verified_at", "requested_at", "response_due_at", "updated_at"], "properties": {"request_id": {"$ref": "#/components/schemas/OperationsUUID"}, "version": {"type": "integer"}, "kind": {"type": "string"}, "scope": {"type": "string"}, "state": {"type": "string"}, "verified_at": {"$ref": "#/components/schemas/OperationsTimestamp"}, "requested_at": {"$ref": "#/components/schemas/OperationsTimestamp"}, "response_due_at": {"$ref": "#/components/schemas/OperationsTimestamp"}, "updated_at": {"$ref": "#/components/schemas/OperationsTimestamp"}}},
      "OperationsPrivacyRequestEnvelope": {"type": "object", "additionalProperties": false, "required": ["request"], "properties": {"request": {"$ref": "#/components/schemas/OperationsPrivacyRequest"}}},
      "OperationsAffiliateTransitionRequest": {"type": "object", "additionalProperties": false, "required": ["expected_version", "state", "ticket", "reason"], "properties": {"expected_version": {"type": "integer", "minimum": 1}, "state": {"type": "string", "enum": ["active", "suspended", "closed"]}, "ticket": {"type": "string"}, "reason": {"type": "string"}}},
      "OperationsAffiliateEnrollment": {"type": "object", "additionalProperties": false, "required": ["affiliate_id", "user_id", "public_code", "terms_version", "rule_version", "state", "version", "created_at"], "properties": {"affiliate_id": {"$ref": "#/components/schemas/OperationsUUID"}, "user_id": {"$ref": "#/components/schemas/OperationsUUID"}, "settlement_account_id": {"$ref": "#/components/schemas/OperationsUUID"}, "public_code": {"type": "string"}, "terms_version": {"type": "integer"}, "rule_version": {"type": "integer"}, "state": {"type": "string"}, "version": {"type": "integer"}, "created_at": {"$ref": "#/components/schemas/OperationsTimestamp"}}},
      "OperationsAffiliateEnrollmentEnvelope": {"type": "object", "additionalProperties": false, "required": ["enrollment"], "properties": {"enrollment": {"$ref": "#/components/schemas/OperationsAffiliateEnrollment"}}},
      "OperationsAffiliateRisk": {"type": "object", "additionalProperties": false, "required": ["affiliate_id", "enrollment_state", "enrollment_version", "observed_at", "reservation_window_started_at", "valid_reservations", "distinct_referred_accounts", "repeated_referred_accounts", "maximum_reservations_per_account", "cross_affiliate_code_cycle_accounts", "locked_attributions", "largest_account_share_basis_points", "code_replacement_window_started_at", "code_replacements"], "properties": {"affiliate_id": {"$ref": "#/components/schemas/OperationsUUID"}, "enrollment_state": {"type": "string"}, "enrollment_version": {"type": "integer"}, "observed_at": {"$ref": "#/components/schemas/OperationsTimestamp"}, "reservation_window_started_at": {"$ref": "#/components/schemas/OperationsTimestamp"}, "valid_reservations": {"type": "integer"}, "distinct_referred_accounts": {"type": "integer"}, "repeated_referred_accounts": {"type": "integer"}, "maximum_reservations_per_account": {"type": "integer"}, "cross_affiliate_code_cycle_accounts": {"type": "integer"}, "locked_attributions": {"type": "integer"}, "largest_account_share_basis_points": {"type": "integer"}, "code_replacement_window_started_at": {"$ref": "#/components/schemas/OperationsTimestamp"}, "code_replacements": {"type": "integer"}}},
      "OperationsAffiliateRiskEnvelope": {"type": "object", "additionalProperties": false, "required": ["risk", "flags"], "properties": {"risk": {"$ref": "#/components/schemas/OperationsAffiliateRisk"}, "flags": {"type": "array", "items": {"type": "string"}}}},
      "OperationsProblem": {"type": "object", "additionalProperties": false, "required": ["type", "title", "status", "code", "detail"], "properties": {"type": {"type": "string"}, "title": {"type": "string"}, "status": {"type": "integer"}, "code": {"type": "string"}, "detail": {"type": "string"}}}
    }
  }
}
