{
  "openapi": "3.1.0",
  "info": {"title": "Infinite Ocean: Spyglass API", "version": "0.1.0", "description": "Customer-facing JSON API. Cell-owned operations are reached through the authenticated Spyglass router; clients never select a cell."},
  "servers": [{"url": "https://app.infiniteocean.net"}],
  "paths": {
    "/api/v1/catalog/public": {"get": {"operationId": "publicCatalog", "x-spyglass-service": "account-api", "security": [], "responses": {"200": {"$ref": "#/components/responses/PublicCatalogOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/registrations": {"post": {"operationId": "beginRegistration", "x-spyglass-service": "account-api", "security": [], "requestBody": {"$ref": "#/components/requestBodies/BeginRegistration"}, "responses": {"202": {"$ref": "#/components/responses/RegistrationAccepted"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/registrations/verify": {"post": {"operationId": "completeRegistration", "x-spyglass-service": "account-api", "security": [], "requestBody": {"$ref": "#/components/requestBodies/CompleteRegistration"}, "responses": {"201": {"$ref": "#/components/responses/RegistrationCompleted"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/recovery-challenges": {"post": {"operationId": "beginRecovery", "x-spyglass-service": "account-api", "security": [], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/recovery-challenges/complete": {"post": {"operationId": "completeRecovery", "x-spyglass-service": "account-api", "security": [], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/sessions": {
      "get": {"operationId": "listSessions", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}},
      "post": {"operationId": "login", "x-spyglass-service": "account-api", "security": [], "requestBody": {"$ref": "#/components/requestBodies/Login"}, "responses": {"201": {"$ref": "#/components/responses/LoginCreated"}, "default": {"$ref": "#/components/responses/Problem"}}},
      "delete": {"operationId": "logoutAll", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}
    },
    "/api/v1/passkey-login/challenges": {"post": {"operationId": "beginPasskeyLogin", "x-spyglass-service": "account-api", "security": [], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/passkey-login/challenges/{ceremonyID}/complete": {"parameters": [{"$ref": "#/components/parameters/ceremonyID"}], "post": {"operationId": "completePasskeyLogin", "x-spyglass-service": "account-api", "security": [], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/passkeys": {"get": {"operationId": "listPasskeys", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/passkey-registrations": {"post": {"operationId": "beginPasskeyRegistration", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/passkey-registrations/{ceremonyID}/complete": {"parameters": [{"$ref": "#/components/parameters/ceremonyID"}], "post": {"operationId": "completePasskeyRegistration", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/passkeys/{credentialID}": {"parameters": [{"$ref": "#/components/parameters/credentialID"}], "delete": {"operationId": "deletePasskey", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/passkey-reauthentications": {"post": {"operationId": "beginPasskeyReauthentication", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/passkey-reauthentications/{ceremonyID}/complete": {"parameters": [{"$ref": "#/components/parameters/ceremonyID"}], "post": {"operationId": "completePasskeyReauthentication", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/recovery-codes": {
      "get": {"operationId": "recoveryCodeStatus", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}},
      "post": {"operationId": "rotateRecoveryCodes", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}
    },
    "/api/v1/recovery-codes/consume": {"post": {"operationId": "consumeRecoveryCode", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/security-posture": {"get": {"operationId": "securityPostureStatus", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/security-events": {"get": {"operationId": "listSecurityEvents", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/sessions/{sessionID}": {"parameters": [{"$ref": "#/components/parameters/sessionID"}], "delete": {"operationId": "revokeSession", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/session/reauthenticate": {"post": {"operationId": "reauthenticate", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/session": {"delete": {"operationId": "logout", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/session/accounts": {"get": {"operationId": "listAccounts", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"200": {"$ref": "#/components/responses/AccountChoicesOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/session/account": {"post": {"operationId": "selectAccount", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "requestBody": {"$ref": "#/components/requestBodies/SelectAccount"}, "responses": {"200": {"$ref": "#/components/responses/AccountSelected"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/account-closures": {"get": {"operationId": "listAccountClosures", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/closure": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "post": {"operationId": "requestAccountClosure", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}, "delete": {"operationId": "cancelAccountClosure", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/invitations": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "post": {"operationId": "createInvitation", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/memberships": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "get": {"operationId": "listMemberships", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/memberships/{membershipID}": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/membershipID"}], "patch": {"operationId": "changeMembershipRole", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}, "delete": {"operationId": "removeMembership", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/memberships/{membershipID}/suspensions": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/membershipID"}], "post": {"operationId": "suspendMembership", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}, "delete": {"operationId": "reactivateMembership", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/membership": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "delete": {"operationId": "leaveAccount", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/ownership-transfers": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "post": {"operationId": "transferOwnership", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/checkout-sessions": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "post": {"operationId": "createCheckoutSession", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/billing-portal-sessions": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "post": {"operationId": "createBillingPortalSession", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/billing": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "get": {"operationId": "billingStatus", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/invitations/accept": {"post": {"operationId": "acceptInvitation", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/webhooks/stripe": {"post": {"operationId": "stripeWebhook", "x-spyglass-service": "account-api", "security": [{"stripeSignature": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},

    "/api/v1/accounts/{accountID}/context": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "get": {"operationId": "accountContext", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "responses": {"200": {"$ref": "#/components/responses/AccountContextOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/work-items": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "get": {"operationId": "workList", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/workState"}, {"$ref": "#/components/parameters/workKind"}, {"$ref": "#/components/parameters/search"}, {"$ref": "#/components/parameters/cursor"}, {"$ref": "#/components/parameters/limit"}], "responses": {"200": {"$ref": "#/components/responses/WorkPageOK"}, "default": {"$ref": "#/components/responses/Problem"}}}, "post": {"operationId": "workCreate", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}], "requestBody": {"$ref": "#/components/requestBodies/CreateWork"}, "responses": {"201": {"$ref": "#/components/responses/WorkItemCreated"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/work-items/summary": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "get": {"operationId": "workSummary", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "responses": {"200": {"$ref": "#/components/responses/WorkSummaryOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/work-items/{itemID}": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/itemID"}], "get": {"operationId": "workItem", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "responses": {"200": {"$ref": "#/components/responses/WorkItemOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/work-items/{itemID}/children": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/itemID"}], "get": {"operationId": "workChildren", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/limit"}], "responses": {"200": {"$ref": "#/components/responses/WorkItemsOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/work-items/{itemID}/transitions": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/itemID"}], "post": {"operationId": "workTransition", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}, {"$ref": "#/components/parameters/ifMatch"}], "requestBody": {"$ref": "#/components/requestBodies/TransitionWork"}, "responses": {"200": {"$ref": "#/components/responses/WorkItemOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/work-items/{itemID}/assignment": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/itemID"}], "patch": {"operationId": "workAssign", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}, {"$ref": "#/components/parameters/ifMatch"}], "requestBody": {"$ref": "#/components/requestBodies/AssignWork"}, "responses": {"200": {"$ref": "#/components/responses/WorkItemOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/agent-boardrooms": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "get": {"operationId": "agentBoardrooms", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "responses": {"200": {"$ref": "#/components/responses/AgentBoardroomsOK"}, "default": {"$ref": "#/components/responses/Problem"}}}, "post": {"operationId": "agentBoardroomCreate", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}], "requestBody": {"$ref": "#/components/requestBodies/CreateAgentBoardroom"}, "responses": {"200": {"$ref": "#/components/responses/AgentBoardroomWithLocation"}, "201": {"$ref": "#/components/responses/AgentBoardroomWithLocation"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/agent-boardrooms/{boardroomID}/personas": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/boardroomID"}], "get": {"operationId": "agentPersonas", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "responses": {"200": {"$ref": "#/components/responses/AgentPersonasOK"}, "default": {"$ref": "#/components/responses/Problem"}}}, "post": {"operationId": "agentPersonaPublish", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}], "requestBody": {"$ref": "#/components/requestBodies/PublishAgentPersona"}, "responses": {"200": {"$ref": "#/components/responses/AgentPersonaOK"}, "201": {"$ref": "#/components/responses/AgentPersonaOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/agent-boardrooms/{boardroomID}/runs": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/boardroomID"}], "post": {"operationId": "agentRunStart", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}], "requestBody": {"$ref": "#/components/requestBodies/StartAgentRun"}, "responses": {"200": {"$ref": "#/components/responses/AgentRunWithLocation"}, "202": {"$ref": "#/components/responses/AgentRunWithLocation"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/agent-runs/{runID}": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/runID"}], "get": {"operationId": "agentRun", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "responses": {"200": {"$ref": "#/components/responses/AgentRunOK"}, "default": {"$ref": "#/components/responses/Problem"}}}}
  },
  "components": {
    "securitySchemes": {
      "sessionCookie": {"type": "apiKey", "in": "cookie", "name": "__Host-spyglass_session"},
      "stripeSignature": {"type": "apiKey", "in": "header", "name": "Stripe-Signature"}
    },
    "parameters": {
      "accountID": {"name": "accountID", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}},
      "boardroomID": {"name": "boardroomID", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}},
      "ceremonyID": {"name": "ceremonyID", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}},
      "credentialID": {"name": "credentialID", "in": "path", "required": true, "schema": {"type": "string", "minLength": 1, "maxLength": 1024}},
      "itemID": {"name": "itemID", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}},
      "membershipID": {"name": "membershipID", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}},
      "runID": {"name": "runID", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}},
      "sessionID": {"name": "sessionID", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}},
      "idempotencyKey": {"name": "Idempotency-Key", "in": "header", "required": true, "schema": {"type": "string", "format": "uuid"}},
      "ifMatch": {"name": "If-Match", "in": "header", "required": true, "schema": {"type": "string", "pattern": "^W/\\\"[1-9][0-9]*\\\"$"}},
      "workState": {"name": "state", "in": "query", "required": false, "style": "form", "explode": true, "schema": {"type": "array", "maxItems": 5, "uniqueItems": true, "items": {"$ref": "#/components/schemas/WorkState"}}},
      "workKind": {"name": "kind", "in": "query", "required": false, "style": "form", "explode": true, "schema": {"type": "array", "maxItems": 2, "uniqueItems": true, "items": {"$ref": "#/components/schemas/WorkKind"}}},
      "search": {"name": "q", "in": "query", "required": false, "schema": {"type": "string", "maxLength": 200}},
      "cursor": {"name": "cursor", "in": "query", "required": false, "schema": {"type": "string", "maxLength": 1024, "pattern": "^[A-Za-z0-9_-]+$"}},
      "limit": {"name": "limit", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 1, "maximum": 100, "default": 50}}
    },
    "schemas": {
      "Problem": {"type": "object", "required": ["type", "title", "status", "code", "detail"], "properties": {"type": {"type": "string", "format": "uri", "pattern": "^https://infiniteocean\\.net/problems/[a-z][a-z0-9_]{0,99}$"}, "title": {"type": "string", "minLength": 1}, "status": {"type": "integer", "minimum": 400, "maximum": 599}, "code": {"type": "string", "pattern": "^[a-z][a-z0-9_]{0,99}$"}, "detail": {"type": "string", "minLength": 1}}, "additionalProperties": false},
      "CatalogPackageCode": {"type": "string", "enum": ["knowledge", "work", "agents", "finance", "marketing", "integrations"]},
      "CatalogPackageMode": {"type": "string", "enum": ["enabled", "read_only", "suspended"]},
      "CatalogFeaturePackage": {"type": "object", "required": ["code", "version", "name", "description", "features"], "properties": {"code": {"$ref": "#/components/schemas/CatalogPackageCode"}, "version": {"type": "integer", "minimum": 1}, "name": {"type": "string", "minLength": 1, "maxLength": 120}, "description": {"type": "string", "maxLength": 1000}, "dependencies": {"type": "array", "uniqueItems": true, "items": {"$ref": "#/components/schemas/CatalogPackageCode"}}, "features": {"type": "array", "items": {"type": "string", "pattern": "^[a-z][a-z0-9_.-]{1,99}$"}}, "default_limits": {"type": "object", "additionalProperties": {"type": "integer", "minimum": 0}}}, "additionalProperties": false},
      "CatalogLimitDefinition": {"type": "object", "required": ["code", "package_code", "name", "unit", "kind", "combine"], "properties": {"code": {"type": "string", "pattern": "^[a-z][a-z0-9_-]{0,49}$"}, "package_code": {"$ref": "#/components/schemas/CatalogPackageCode"}, "name": {"type": "string", "minLength": 1, "maxLength": 120}, "unit": {"type": "string", "pattern": "^[a-z][a-z0-9_-]{0,49}$"}, "kind": {"type": "string", "enum": ["capacity"]}, "combine": {"type": "string", "enum": ["replace", "add", "maximum", "minimum"]}, "reservation_ttl_seconds": {"type": "integer", "minimum": 1, "maximum": 2592000}}, "additionalProperties": false},
      "CatalogPlan": {"type": "object", "required": ["code", "version", "name", "description", "packages"], "properties": {"code": {"type": "string", "pattern": "^[a-z][a-z0-9_-]{0,49}$"}, "version": {"type": "integer", "minimum": 1}, "name": {"type": "string", "minLength": 1, "maxLength": 120}, "description": {"type": "string", "maxLength": 1000}, "packages": {"type": "object", "additionalProperties": {"$ref": "#/components/schemas/CatalogPackageMode"}}}, "additionalProperties": false},
      "CatalogOffer": {"type": "object", "required": ["code", "plan_code", "plan_version", "currency", "amount_minor", "billing_interval", "effective_from"], "properties": {"code": {"type": "string", "pattern": "^[a-z][a-z0-9_-]{0,79}$"}, "plan_code": {"type": "string", "pattern": "^[a-z][a-z0-9_-]{0,49}$"}, "plan_version": {"type": "integer", "minimum": 1}, "currency": {"type": "string", "pattern": "^[A-Z]{3}$"}, "amount_minor": {"type": "integer", "minimum": 0}, "billing_interval": {"type": "string", "enum": ["none", "month", "year"]}, "effective_from": {"type": "string", "format": "date-time"}}, "additionalProperties": false},
      "PublicCatalog": {"type": "object", "required": ["version", "published_at", "packages", "limits", "plans", "offers"], "properties": {"version": {"type": "integer", "minimum": 1}, "published_at": {"type": "string", "format": "date-time"}, "packages": {"type": "array", "minItems": 1, "items": {"$ref": "#/components/schemas/CatalogFeaturePackage"}}, "limits": {"type": "array", "items": {"$ref": "#/components/schemas/CatalogLimitDefinition"}}, "plans": {"type": "array", "minItems": 1, "items": {"$ref": "#/components/schemas/CatalogPlan"}}, "offers": {"type": "array", "items": {"$ref": "#/components/schemas/CatalogOffer"}}}, "additionalProperties": false},
      "BeginRegistrationRequest": {"type": "object", "required": ["email", "display_name", "account_name"], "properties": {"email": {"type": "string", "format": "email", "maxLength": 254}, "display_name": {"type": "string", "minLength": 2, "maxLength": 120}, "account_name": {"type": "string", "minLength": 2, "maxLength": 140}, "region": {"type": "string", "pattern": "^[a-z][a-z0-9-]{1,31}$", "default": "us-east"}, "offer_code": {"type": "string", "pattern": "^[a-z][a-z0-9_-]{0,79}$"}}, "additionalProperties": false},
      "RegistrationAccepted": {"type": "object", "required": ["registration_id", "expires_at", "status"], "properties": {"registration_id": {"type": "string", "format": "uuid"}, "expires_at": {"type": "string", "format": "date-time"}, "status": {"type": "string", "enum": ["verification_required"]}, "development_verification_token": {"type": "string", "minLength": 43, "maxLength": 43, "description": "Development compositions only; never present in production."}}, "additionalProperties": false},
      "CompleteRegistrationRequest": {"type": "object", "required": ["token", "password"], "properties": {"token": {"type": "string", "minLength": 43, "maxLength": 43}, "password": {"type": "string", "minLength": 12, "maxLength": 1024, "format": "password"}}, "additionalProperties": false},
      "ProvisionedUser": {"type": "object", "required": ["id", "email", "display_name", "state"], "properties": {"id": {"type": "string", "format": "uuid"}, "email": {"type": "string", "format": "email"}, "display_name": {"type": "string", "minLength": 2, "maxLength": 120}, "state": {"type": "string", "enum": ["active"]}}, "additionalProperties": false},
      "ProvisionedAccount": {"type": "object", "required": ["id", "slug", "display_name", "type", "state", "cell_id", "placement_generation"], "properties": {"id": {"type": "string", "format": "uuid"}, "slug": {"type": "string", "pattern": "^[a-z0-9]+(?:-[a-z0-9]+)*$"}, "display_name": {"type": "string", "minLength": 2, "maxLength": 140}, "type": {"type": "string", "enum": ["free"]}, "state": {"type": "string", "enum": ["active"]}, "cell_id": {"type": "string", "pattern": "^[a-z][a-z0-9-]{0,63}$"}, "placement_generation": {"type": "integer", "minimum": 1}}, "additionalProperties": false},
      "ProvisionedMembership": {"type": "object", "required": ["id", "role", "state"], "properties": {"id": {"type": "string", "format": "uuid"}, "role": {"type": "string", "enum": ["owner"]}, "state": {"type": "string", "enum": ["active"]}}, "additionalProperties": false},
      "EntitlementGrantSource": {"type": "string", "enum": ["free_plan", "subscription", "trial", "promotion", "support_override", "grandfathered"]},
      "EntitlementPackageAccess": {"type": "object", "required": ["code", "version", "mode", "sources"], "properties": {"code": {"$ref": "#/components/schemas/CatalogPackageCode"}, "version": {"type": "integer", "minimum": 1}, "mode": {"$ref": "#/components/schemas/CatalogPackageMode"}, "limits": {"type": "object", "additionalProperties": {"type": "integer", "minimum": 0}}, "limit_policies": {"type": "object", "additionalProperties": {"$ref": "#/components/schemas/LimitPolicy"}}, "sources": {"type": "array", "minItems": 1, "items": {"$ref": "#/components/schemas/EntitlementGrantSource"}}}, "additionalProperties": false},
      "EntitlementSnapshot": {"type": "object", "required": ["account_id", "version", "catalog_version", "evaluated_at", "packages"], "properties": {"account_id": {"type": "string", "format": "uuid"}, "version": {"type": "integer", "minimum": 1}, "catalog_version": {"type": "integer", "minimum": 1}, "evaluated_at": {"type": "string", "format": "date-time"}, "packages": {"type": "array", "items": {"$ref": "#/components/schemas/EntitlementPackageAccess"}}}, "additionalProperties": false},
      "RegistrationCompleted": {"type": "object", "required": ["user", "account", "membership", "entitlements"], "properties": {"user": {"$ref": "#/components/schemas/ProvisionedUser"}, "account": {"$ref": "#/components/schemas/ProvisionedAccount"}, "membership": {"$ref": "#/components/schemas/ProvisionedMembership"}, "entitlements": {"$ref": "#/components/schemas/EntitlementSnapshot"}}, "additionalProperties": false},
      "LoginRequest": {"type": "object", "required": ["email", "password"], "properties": {"email": {"type": "string", "format": "email", "maxLength": 254}, "password": {"type": "string", "minLength": 12, "maxLength": 1024, "format": "password"}}, "additionalProperties": false},
      "LoginSession": {"type": "object", "required": ["status", "user_id", "expires_at", "authentication_method", "authentication_assurance"], "properties": {"status": {"type": "string", "enum": ["authenticated"]}, "user_id": {"type": "string", "format": "uuid"}, "expires_at": {"type": "string", "format": "date-time"}, "authentication_method": {"type": "string", "enum": ["password"]}, "authentication_assurance": {"type": "string", "enum": ["single_factor"]}}, "additionalProperties": false},
      "AccountChoice": {"type": "object", "required": ["account_id", "slug", "display_name", "account_type", "account_version", "role", "cell_id", "placement_generation", "entitlements", "owner_enrollment_required"], "properties": {"account_id": {"type": "string", "format": "uuid"}, "slug": {"type": "string", "pattern": "^[a-z0-9]+(?:-[a-z0-9]+)*$"}, "display_name": {"type": "string", "minLength": 2, "maxLength": 140}, "account_type": {"type": "string", "enum": ["free", "paid"]}, "account_version": {"type": "integer", "minimum": 1}, "role": {"type": "string", "enum": ["owner", "administrator", "billing_admin", "member", "viewer"]}, "cell_id": {"type": "string", "pattern": "^[a-z][a-z0-9-]{0,63}$"}, "placement_generation": {"type": "integer", "minimum": 1}, "entitlements": {"$ref": "#/components/schemas/EntitlementSnapshot"}, "owner_enrollment_required": {"type": "boolean"}}, "additionalProperties": false},
      "AccountChoices": {"type": "object", "required": ["accounts"], "properties": {"accounts": {"type": "array", "items": {"$ref": "#/components/schemas/AccountChoice"}}}, "additionalProperties": false},
      "SelectAccountRequest": {"type": "object", "required": ["account_id"], "properties": {"account_id": {"type": "string", "format": "uuid"}}, "additionalProperties": false},
      "SelectedAccountContext": {"type": "object", "required": ["account_id", "account_name", "cell_id", "placement_generation", "entitlement_version", "role"], "properties": {"account_id": {"type": "string", "format": "uuid"}, "account_name": {"type": "string", "minLength": 2, "maxLength": 140}, "cell_id": {"type": "string", "pattern": "^[a-z][a-z0-9-]{0,63}$"}, "placement_generation": {"type": "integer", "minimum": 1}, "entitlement_version": {"type": "integer", "minimum": 1}, "role": {"type": "string", "enum": ["owner", "administrator", "billing_admin", "member", "viewer"]}}, "additionalProperties": false},
      "AccountSelected": {"type": "object", "required": ["account_context"], "properties": {"account_context": {"$ref": "#/components/schemas/SelectedAccountContext"}}, "additionalProperties": false},
      "PackageAccess": {"type": "object", "required": ["code", "version", "mode"], "properties": {"code": {"type": "string", "pattern": "^[a-z][a-z0-9_-]{0,49}$"}, "version": {"type": "integer", "minimum": 1}, "mode": {"type": "string", "enum": ["enabled", "read_only", "suspended"]}, "limits": {"type": "object", "additionalProperties": {"type": "integer", "minimum": 0}}, "limit_policies": {"type": "object", "additionalProperties": {"$ref": "#/components/schemas/LimitPolicy"}}}, "additionalProperties": false},
      "LimitPolicy": {"type": "object", "required": ["kind", "combine"], "properties": {"kind": {"type": "string", "enum": ["capacity"]}, "combine": {"type": "string", "enum": ["replace", "add", "maximum", "minimum"]}, "reservation_ttl_seconds": {"type": "integer", "minimum": 1}}, "additionalProperties": false},
      "AccountContext": {"type": "object", "required": ["account_id", "actor_kind", "role", "cell_id", "placement_generation", "entitlement_version", "package_access"], "properties": {"account_id": {"type": "string", "format": "uuid"}, "actor_kind": {"type": "string", "enum": ["user", "workload"]}, "role": {"type": "string", "enum": ["owner", "administrator", "billing_admin", "member", "viewer"]}, "cell_id": {"type": "string", "pattern": "^[a-z][a-z0-9-]{0,63}$"}, "placement_generation": {"type": "integer", "minimum": 1}, "entitlement_version": {"type": "integer", "minimum": 1}, "package_access": {"anyOf": [{"$ref": "#/components/schemas/PackageAccess"}, {"type": "null"}]}}, "additionalProperties": false},
      "WorkKind": {"type": "string", "enum": ["todo", "ticket"]},
      "WorkState": {"type": "string", "enum": ["open", "in_progress", "waiting", "done", "canceled"]},
      "WorkPriority": {"type": "string", "enum": ["low", "normal", "high", "urgent"]},
      "WorkResponsibility": {"type": "string", "enum": ["user", "persona", "shared", "external"]},
      "WorkAssignment": {"type": "object", "required": ["responsibility"], "properties": {"responsibility": {"$ref": "#/components/schemas/WorkResponsibility"}, "user_id": {"type": "string", "format": "uuid"}, "persona_id": {"type": "string", "format": "uuid"}, "external_ref": {"type": "string", "minLength": 2, "maxLength": 200}}, "additionalProperties": false},
      "WorkAssignmentInput": {"type": "object", "required": ["responsibility"], "properties": {"responsibility": {"type": "string", "enum": ["user", "shared", "external"]}, "user_id": {"type": "string", "format": "uuid"}, "external_ref": {"type": "string", "minLength": 2, "maxLength": 200}}, "additionalProperties": false},
      "WorkActor": {"type": "object", "required": ["kind", "id"], "properties": {"kind": {"type": "string", "enum": ["user", "workload"]}, "id": {"type": "string", "minLength": 1, "maxLength": 200}}, "additionalProperties": false},
      "WorkProvenance": {"type": "object", "required": ["source", "created_by"], "properties": {"source": {"type": "string", "enum": ["manual", "baseline", "schedule", "conversation", "run", "system"]}, "created_by": {"$ref": "#/components/schemas/WorkActor"}, "baseline_requirement_id": {"type": "string", "format": "uuid"}, "schedule_id": {"type": "string", "format": "uuid"}, "conversation_id": {"type": "string", "format": "uuid"}, "run_id": {"type": "string", "format": "uuid"}}, "additionalProperties": false},
      "WorkItem": {"type": "object", "required": ["id", "number", "depth", "kind", "title", "description", "state", "priority", "assignment", "provenance", "version", "created_at", "updated_at"], "properties": {"id": {"type": "string", "format": "uuid"}, "number": {"type": "integer", "minimum": 1}, "parent_id": {"type": "string", "format": "uuid"}, "depth": {"type": "integer", "minimum": 0, "maximum": 3}, "kind": {"$ref": "#/components/schemas/WorkKind"}, "title": {"type": "string", "minLength": 2, "maxLength": 240}, "description": {"type": "string", "maxLength": 20000}, "state": {"$ref": "#/components/schemas/WorkState"}, "priority": {"$ref": "#/components/schemas/WorkPriority"}, "assignment": {"$ref": "#/components/schemas/WorkAssignment"}, "provenance": {"$ref": "#/components/schemas/WorkProvenance"}, "due_at": {"type": "string", "format": "date-time"}, "completed_at": {"type": "string", "format": "date-time"}, "version": {"type": "integer", "minimum": 1}, "created_at": {"type": "string", "format": "date-time"}, "updated_at": {"type": "string", "format": "date-time"}}, "additionalProperties": false},
      "WorkPage": {"type": "object", "required": ["items"], "properties": {"items": {"type": "array", "maxItems": 100, "items": {"$ref": "#/components/schemas/WorkItem"}}, "next_cursor": {"type": "string", "maxLength": 1024, "pattern": "^[A-Za-z0-9_-]+$"}}, "additionalProperties": false},
      "WorkItems": {"type": "object", "required": ["items"], "properties": {"items": {"type": "array", "maxItems": 100, "items": {"$ref": "#/components/schemas/WorkItem"}}}, "additionalProperties": false},
      "WorkSummary": {"type": "object", "required": ["active", "in_progress", "waiting", "urgent", "done"], "properties": {"active": {"type": "integer", "minimum": 0}, "in_progress": {"type": "integer", "minimum": 0}, "waiting": {"type": "integer", "minimum": 0}, "urgent": {"type": "integer", "minimum": 0}, "done": {"type": "integer", "minimum": 0}}, "additionalProperties": false},
      "CreateWorkRequest": {"type": "object", "required": ["kind", "title", "priority", "assignment"], "properties": {"parent_id": {"type": "string", "format": "uuid"}, "kind": {"$ref": "#/components/schemas/WorkKind"}, "title": {"type": "string", "minLength": 2, "maxLength": 240}, "description": {"type": "string", "maxLength": 20000}, "priority": {"$ref": "#/components/schemas/WorkPriority"}, "assignment": {"$ref": "#/components/schemas/WorkAssignmentInput"}, "due_at": {"type": "string", "format": "date-time"}, "reason": {"type": "string", "maxLength": 1000}}, "additionalProperties": false},
      "TransitionWorkRequest": {"type": "object", "required": ["to"], "properties": {"to": {"$ref": "#/components/schemas/WorkState"}, "reason": {"type": "string", "maxLength": 1000}}, "additionalProperties": false},
      "AssignWorkRequest": {"type": "object", "required": ["assignment"], "properties": {"assignment": {"$ref": "#/components/schemas/WorkAssignmentInput"}, "reason": {"type": "string", "maxLength": 1000}}, "additionalProperties": false},
      "AgentBoardroomState": {"type": "string", "enum": ["active", "archived"]},
      "AgentBoardroom": {"type": "object", "required": ["id", "name", "purpose", "state", "version", "created_at", "updated_at"], "properties": {"id": {"type": "string", "format": "uuid"}, "name": {"type": "string", "minLength": 2, "maxLength": 160}, "purpose": {"type": "string", "maxLength": 2000}, "state": {"$ref": "#/components/schemas/AgentBoardroomState"}, "version": {"type": "integer", "minimum": 1}, "created_at": {"type": "string", "format": "date-time"}, "updated_at": {"type": "string", "format": "date-time"}}, "additionalProperties": false},
      "AgentBoardrooms": {"type": "object", "required": ["items"], "properties": {"items": {"type": "array", "maxItems": 100, "items": {"$ref": "#/components/schemas/AgentBoardroom"}}}, "additionalProperties": false},
      "CreateAgentBoardroomRequest": {"type": "object", "required": ["name", "purpose"], "properties": {"name": {"type": "string", "minLength": 2, "maxLength": 160}, "purpose": {"type": "string", "maxLength": 2000}}, "additionalProperties": false},
      "AgentToolGrantInput": {"type": "object", "required": ["name", "capability", "description", "input_schema"], "properties": {"name": {"type": "string", "pattern": "^[a-zA-Z][a-zA-Z0-9_-]{0,63}$"}, "capability": {"type": "string", "enum": ["work.summary.read"]}, "description": {"type": "string", "minLength": 2, "maxLength": 4000}, "input_schema": {"type": "object"}}, "additionalProperties": false},
      "AgentToolGrant": {"type": "object", "required": ["name", "capability", "description", "input_schema"], "properties": {"name": {"type": "string", "pattern": "^[a-zA-Z][a-zA-Z0-9_-]{0,63}$"}, "capability": {"type": "string", "enum": ["work.summary.read"]}, "description": {"type": "string", "minLength": 2, "maxLength": 4000}, "input_schema": {"type": "object"}}, "additionalProperties": false},
      "AgentPersonaPolicyInput": {"type": "object", "required": ["provider", "model", "maximum_input_tokens", "maximum_output_tokens", "maximum_cost_micros", "maximum_tool_steps", "citation_policy", "action_policy", "tools"], "properties": {"provider": {"type": "string", "pattern": "^[a-z][a-z0-9._:-]{0,127}$"}, "model": {"type": "string", "pattern": "^[a-z][a-z0-9._:-]{0,127}$"}, "reasoning_effort": {"type": "string", "pattern": "^[a-z][a-z0-9._:-]{0,127}$"}, "maximum_input_tokens": {"type": "integer", "minimum": 1, "maximum": 2000000}, "maximum_output_tokens": {"type": "integer", "minimum": 1, "maximum": 32768}, "maximum_cost_micros": {"type": "integer", "minimum": 0, "maximum": 1000000000}, "maximum_tool_steps": {"type": "integer", "minimum": 0, "maximum": 5}, "citation_policy": {"type": "string", "enum": ["none", "required", "best_effort"]}, "action_policy": {"type": "string", "enum": ["none", "propose"]}, "tools": {"type": "array", "maxItems": 32, "items": {"$ref": "#/components/schemas/AgentToolGrantInput"}}}, "additionalProperties": false},
      "AgentPersonaPolicy": {"type": "object", "required": ["provider", "model", "maximum_input_tokens", "maximum_output_tokens", "maximum_cost_micros", "maximum_tool_steps", "citation_policy", "action_policy", "tools", "output_schema"], "properties": {"provider": {"type": "string", "pattern": "^[a-z][a-z0-9._:-]{0,127}$"}, "model": {"type": "string", "pattern": "^[a-z][a-z0-9._:-]{0,127}$"}, "reasoning_effort": {"type": "string", "pattern": "^[a-z][a-z0-9._:-]{0,127}$"}, "maximum_input_tokens": {"type": "integer", "minimum": 1, "maximum": 2000000}, "maximum_output_tokens": {"type": "integer", "minimum": 1, "maximum": 32768}, "maximum_cost_micros": {"type": "integer", "minimum": 0, "maximum": 1000000000}, "maximum_tool_steps": {"type": "integer", "minimum": 0, "maximum": 5}, "citation_policy": {"type": "string", "enum": ["none", "required", "best_effort"]}, "action_policy": {"type": "string", "enum": ["none", "propose"]}, "tools": {"type": "array", "maxItems": 32, "items": {"$ref": "#/components/schemas/AgentToolGrant"}}, "output_schema": {"type": "object"}}, "additionalProperties": false},
      "PublishAgentPersonaRequest": {"type": "object", "required": ["persona_id", "expected_latest_version", "name", "role", "description", "system_instructions", "policy"], "properties": {"persona_id": {"type": "string", "format": "uuid"}, "expected_latest_version": {"type": "integer", "minimum": 0}, "name": {"type": "string", "minLength": 2, "maxLength": 120}, "role": {"type": "string", "minLength": 2, "maxLength": 160}, "description": {"type": "string", "maxLength": 4000}, "system_instructions": {"type": "string", "minLength": 20, "maxLength": 32768}, "policy": {"$ref": "#/components/schemas/AgentPersonaPolicyInput"}}, "additionalProperties": false},
      "AgentPersonaState": {"type": "string", "enum": ["active", "inactive", "archived"]},
      "AgentPersona": {"type": "object", "required": ["id", "boardroom_id", "state", "latest_version", "persona_version_id", "name", "role", "description", "system_instructions", "policy", "content_digest", "created_at", "updated_at"], "properties": {"id": {"type": "string", "format": "uuid"}, "boardroom_id": {"type": "string", "format": "uuid"}, "state": {"$ref": "#/components/schemas/AgentPersonaState"}, "latest_version": {"type": "integer", "minimum": 1}, "persona_version_id": {"type": "string", "format": "uuid"}, "name": {"type": "string", "minLength": 2, "maxLength": 120}, "role": {"type": "string", "minLength": 2, "maxLength": 160}, "description": {"type": "string", "maxLength": 4000}, "system_instructions": {"type": "string", "minLength": 20, "maxLength": 32768}, "policy": {"$ref": "#/components/schemas/AgentPersonaPolicy"}, "content_digest": {"type": "string", "pattern": "^[0-9a-f]{64}$"}, "created_at": {"type": "string", "format": "date-time"}, "updated_at": {"type": "string", "format": "date-time"}}, "additionalProperties": false},
      "AgentPersonas": {"type": "object", "required": ["items"], "properties": {"items": {"type": "array", "maxItems": 100, "items": {"$ref": "#/components/schemas/AgentPersona"}}}, "additionalProperties": false},
      "StartAgentRunRequest": {"type": "object", "required": ["prompt", "persona_ids"], "properties": {"conversation_id": {"type": "string", "format": "uuid"}, "subject": {"type": "string", "minLength": 2, "maxLength": 240}, "prompt": {"type": "string", "minLength": 1, "maxLength": 65536}, "persona_ids": {"type": "array", "minItems": 1, "maxItems": 32, "uniqueItems": true, "items": {"type": "string", "format": "uuid"}}}, "allOf": [{"if": {"required": ["conversation_id"]}, "then": {"not": {"required": ["subject"]}}, "else": {"required": ["subject"]}}], "additionalProperties": false},
      "AgentRunState": {"type": "string", "enum": ["planned", "running", "succeeded", "partially_failed", "failed", "canceled"]},
      "AgentRunTurn": {"type": "object", "required": ["turn", "persona_id", "persona_version_id"], "properties": {"turn": {"type": "integer", "minimum": 1, "maximum": 32}, "persona_id": {"type": "string", "format": "uuid"}, "persona_version_id": {"type": "string", "format": "uuid"}}, "additionalProperties": false},
      "AgentRun": {"type": "object", "required": ["id", "boardroom_id", "conversation_id", "state", "subject", "prompt", "user_message_id", "entitlement_version", "policy_version", "plan_digest", "turns", "invocation_ids", "created_at"], "properties": {"id": {"type": "string", "format": "uuid"}, "boardroom_id": {"type": "string", "format": "uuid"}, "conversation_id": {"type": "string", "format": "uuid"}, "state": {"$ref": "#/components/schemas/AgentRunState"}, "subject": {"type": "string", "minLength": 2, "maxLength": 240}, "prompt": {"type": "string", "minLength": 1, "maxLength": 65536}, "user_message_id": {"type": "string", "format": "uuid"}, "entitlement_version": {"type": "integer", "minimum": 1}, "policy_version": {"type": "integer", "minimum": 1}, "plan_digest": {"type": "string", "pattern": "^[0-9a-f]{64}$"}, "turns": {"type": "array", "minItems": 1, "maxItems": 32, "items": {"$ref": "#/components/schemas/AgentRunTurn"}}, "invocation_ids": {"type": "array", "minItems": 1, "maxItems": 32, "items": {"type": "string", "format": "uuid"}}, "created_at": {"type": "string", "format": "date-time"}}, "additionalProperties": false}
    },
    "requestBodies": {
      "BeginRegistration": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BeginRegistrationRequest"}}}},
      "CompleteRegistration": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CompleteRegistrationRequest"}}}},
      "Login": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/LoginRequest"}}}},
      "SelectAccount": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/SelectAccountRequest"}}}},
      "CreateWork": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CreateWorkRequest"}}}},
      "TransitionWork": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TransitionWorkRequest"}}}},
      "AssignWork": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AssignWorkRequest"}}}},
      "CreateAgentBoardroom": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CreateAgentBoardroomRequest"}}}},
      "PublishAgentPersona": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PublishAgentPersonaRequest"}}}},
      "StartAgentRun": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/StartAgentRunRequest"}}}}
    },
    "responses": {
      "Success": {"description": "Successful response. Status codes and operation-specific payload schemas are certified per operation before this contract is published as a typed SDK surface."},
      "PublicCatalogOK": {"description": "Published customer-visible packages, plans, limits, and effective offers; provider identifiers are never exposed", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PublicCatalog"}}}},
      "RegistrationAccepted": {"description": "Verification delivery accepted", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/RegistrationAccepted"}}}},
      "RegistrationCompleted": {"description": "Verified system identity, free Account, owner Membership, and initial entitlement snapshot created atomically", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/RegistrationCompleted"}}}},
      "LoginCreated": {"description": "Password session created", "headers": {"Set-Cookie": {"required": true, "schema": {"type": "string", "minLength": 1}}}, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/LoginSession"}}}},
      "AccountChoicesOK": {"description": "Active Accounts available to the authenticated system identity, including owner security-enrollment gating", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AccountChoices"}}}},
      "AccountSelected": {"description": "Account scope selected after current Membership, placement, entitlement, and owner-security authorization", "headers": {"Set-Cookie": {"required": true, "schema": {"type": "string", "minLength": 1}}}, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AccountSelected"}}}},
      "AccountContextOK": {"description": "Trusted routed Account context", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AccountContext"}}}},
      "WorkPageOK": {"description": "Stable cursor Work page", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/WorkPage"}}}},
      "WorkSummaryOK": {"description": "Work queue summary", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/WorkSummary"}}}},
      "WorkItemsOK": {"description": "Direct Work children", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/WorkItems"}}}},
      "WorkItemOK": {"description": "Work item", "headers": {"ETag": {"required": true, "schema": {"type": "string", "pattern": "^W/\\\"[1-9][0-9]*\\\"$"}}}, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/WorkItem"}}}},
      "WorkItemCreated": {"description": "Work item created", "headers": {"ETag": {"required": true, "schema": {"type": "string", "pattern": "^W/\\\"[1-9][0-9]*\\\"$"}}, "Location": {"required": true, "schema": {"type": "string", "pattern": "^/api/v1/accounts/[0-9a-f-]{36}/work-items/[0-9a-f-]{36}$"}}}, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/WorkItem"}}}},
      "AgentBoardroomsOK": {"description": "Account Agent Boardrooms", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AgentBoardrooms"}}}},
      "AgentBoardroomWithLocation": {"description": "Created or idempotently replayed Agent Boardroom", "headers": {"Location": {"required": true, "schema": {"type": "string", "pattern": "^/api/v1/accounts/[0-9a-f-]{36}/agent-boardrooms/[0-9a-f-]{36}$"}}}, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AgentBoardroom"}}}},
      "AgentPersonasOK": {"description": "Published Personas in an Agent Boardroom", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AgentPersonas"}}}},
      "AgentPersonaOK": {"description": "Created or idempotently replayed immutable Persona version", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AgentPersona"}}}},
      "AgentRunWithLocation": {"description": "Accepted or idempotently replayed Agent Run", "headers": {"Location": {"required": true, "schema": {"type": "string", "pattern": "^/api/v1/accounts/[0-9a-f-]{36}/agent-runs/[0-9a-f-]{36}$"}}}, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AgentRun"}}}},
      "AgentRunOK": {"description": "Immutable Agent Run plan and current lifecycle state", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AgentRun"}}}},
      "Problem": {"description": "Request failed", "content": {"application/problem+json": {"schema": {"$ref": "#/components/schemas/Problem"}}}}
    }
  }
}
