{
  "openapi": "3.1.0",
  "info": {"title": "Infinite Ocean: Spyglass API", "version": "0.1.0", "description": "Customer-facing JSON API. Cell-owned operations are reached through the authenticated Spyglass router; clients never select a cell."},
  "servers": [{"url": "https://app.infiniteocean.net"}],
  "paths": {
    "/api/v1/catalog/public": {"get": {"operationId": "publicCatalog", "x-spyglass-service": "account-api", "security": [], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/registrations": {"post": {"operationId": "beginRegistration", "x-spyglass-service": "account-api", "security": [], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/registrations/verify": {"post": {"operationId": "completeRegistration", "x-spyglass-service": "account-api", "security": [], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/recovery-challenges": {"post": {"operationId": "beginRecovery", "x-spyglass-service": "account-api", "security": [], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/recovery-challenges/complete": {"post": {"operationId": "completeRecovery", "x-spyglass-service": "account-api", "security": [], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/sessions": {
      "get": {"operationId": "listSessions", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}},
      "post": {"operationId": "login", "x-spyglass-service": "account-api", "security": [], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}},
      "delete": {"operationId": "logoutAll", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}
    },
    "/api/v1/passkey-login/challenges": {"post": {"operationId": "beginPasskeyLogin", "x-spyglass-service": "account-api", "security": [], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/passkey-login/challenges/{ceremonyID}/complete": {"parameters": [{"$ref": "#/components/parameters/ceremonyID"}], "post": {"operationId": "completePasskeyLogin", "x-spyglass-service": "account-api", "security": [], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/passkeys": {"get": {"operationId": "listPasskeys", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/passkey-registrations": {"post": {"operationId": "beginPasskeyRegistration", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/passkey-registrations/{ceremonyID}/complete": {"parameters": [{"$ref": "#/components/parameters/ceremonyID"}], "post": {"operationId": "completePasskeyRegistration", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/passkeys/{credentialID}": {"parameters": [{"$ref": "#/components/parameters/credentialID"}], "delete": {"operationId": "deletePasskey", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/passkey-reauthentications": {"post": {"operationId": "beginPasskeyReauthentication", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/passkey-reauthentications/{ceremonyID}/complete": {"parameters": [{"$ref": "#/components/parameters/ceremonyID"}], "post": {"operationId": "completePasskeyReauthentication", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/recovery-codes": {
      "get": {"operationId": "recoveryCodeStatus", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}},
      "post": {"operationId": "rotateRecoveryCodes", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}
    },
    "/api/v1/recovery-codes/consume": {"post": {"operationId": "consumeRecoveryCode", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/security-posture": {"get": {"operationId": "securityPostureStatus", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/security-events": {"get": {"operationId": "listSecurityEvents", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/sessions/{sessionID}": {"parameters": [{"$ref": "#/components/parameters/sessionID"}], "delete": {"operationId": "revokeSession", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/session/reauthenticate": {"post": {"operationId": "reauthenticate", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/session": {"delete": {"operationId": "logout", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/session/accounts": {"get": {"operationId": "listAccounts", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/session/account": {"post": {"operationId": "selectAccount", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/account-closures": {"get": {"operationId": "listAccountClosures", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/closure": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "post": {"operationId": "requestAccountClosure", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}, "delete": {"operationId": "cancelAccountClosure", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/invitations": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "post": {"operationId": "createInvitation", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/memberships": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "get": {"operationId": "listMemberships", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/memberships/{membershipID}": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/membershipID"}], "patch": {"operationId": "changeMembershipRole", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}, "delete": {"operationId": "removeMembership", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/memberships/{membershipID}/suspensions": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/membershipID"}], "post": {"operationId": "suspendMembership", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}, "delete": {"operationId": "reactivateMembership", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/membership": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "delete": {"operationId": "leaveAccount", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/ownership-transfers": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "post": {"operationId": "transferOwnership", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/checkout-sessions": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "post": {"operationId": "createCheckoutSession", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/billing-portal-sessions": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "post": {"operationId": "createBillingPortalSession", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/billing": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "get": {"operationId": "billingStatus", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/invitations/accept": {"post": {"operationId": "acceptInvitation", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/webhooks/stripe": {"post": {"operationId": "stripeWebhook", "x-spyglass-service": "account-api", "security": [{"stripeSignature": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},

    "/api/v1/accounts/{accountID}/context": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "get": {"operationId": "accountContext", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/work-items": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "get": {"operationId": "workList", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}, "post": {"operationId": "workCreate", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/work-items/summary": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "get": {"operationId": "workSummary", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/work-items/{itemID}": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/itemID"}], "get": {"operationId": "workItem", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/work-items/{itemID}/children": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/itemID"}], "get": {"operationId": "workChildren", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/work-items/{itemID}/transitions": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/itemID"}], "post": {"operationId": "workTransition", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/work-items/{itemID}/assignment": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/itemID"}], "patch": {"operationId": "workAssign", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/agent-boardrooms": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "get": {"operationId": "agentBoardrooms", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}, "post": {"operationId": "agentBoardroomCreate", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/agent-boardrooms/{boardroomID}/personas": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/boardroomID"}], "get": {"operationId": "agentPersonas", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}, "post": {"operationId": "agentPersonaPublish", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/agent-boardrooms/{boardroomID}/runs": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/boardroomID"}], "post": {"operationId": "agentRunStart", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/agent-runs/{runID}": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/runID"}], "get": {"operationId": "agentRun", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}}
  },
  "components": {
    "securitySchemes": {
      "sessionCookie": {"type": "apiKey", "in": "cookie", "name": "__Host-spyglass_session"},
      "stripeSignature": {"type": "apiKey", "in": "header", "name": "Stripe-Signature"}
    },
    "parameters": {
      "accountID": {"name": "accountID", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}},
      "boardroomID": {"name": "boardroomID", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}},
      "ceremonyID": {"name": "ceremonyID", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}},
      "credentialID": {"name": "credentialID", "in": "path", "required": true, "schema": {"type": "string", "minLength": 1, "maxLength": 1024}},
      "itemID": {"name": "itemID", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}},
      "membershipID": {"name": "membershipID", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}},
      "runID": {"name": "runID", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}},
      "sessionID": {"name": "sessionID", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}}
    },
    "schemas": {
      "Problem": {"type": "object", "required": ["status", "code"], "properties": {"status": {"type": "integer", "minimum": 400, "maximum": 599}, "code": {"type": "string", "pattern": "^[a-z][a-z0-9_]{0,99}$"}, "message": {"type": "string"}}, "additionalProperties": false}
    },
    "responses": {
      "Success": {"description": "Successful response. Status codes and operation-specific payload schemas are certified per operation before this contract is published as a typed SDK surface."},
      "Problem": {"description": "Request failed", "content": {"application/problem+json": {"schema": {"$ref": "#/components/schemas/Problem"}}}}
    }
  }
}
