{
  "openapi": "3.1.0",
  "info": {"title": "Infinite Ocean: Spyglass API", "version": "0.1.0", "description": "Customer-facing JSON API. Cell-owned operations are reached through the authenticated Spyglass router; clients never select a cell."},
  "servers": [{"url": "https://app.infiniteocean.net"}],
  "paths": {
    "/api/v1/catalog/public": {"get": {"operationId": "publicCatalog", "x-spyglass-service": "account-api", "security": [], "responses": {"200": {"$ref": "#/components/responses/PublicCatalogOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/privacy/consent": {"get": {"operationId": "getPrivacyConsent", "x-spyglass-service": "account-api", "security": [], "responses": {"200": {"$ref": "#/components/responses/PrivacyConsentOK"}, "default": {"$ref": "#/components/responses/Problem"}}}, "put": {"operationId": "setPrivacyConsent", "x-spyglass-service": "account-api", "security": [], "parameters": [{"$ref": "#/components/parameters/origin"}], "requestBody": {"$ref": "#/components/requestBodies/SetPrivacyConsent"}, "responses": {"200": {"$ref": "#/components/responses/PrivacyConsentSaved"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/privacy/consent/history": {"get": {"operationId": "getPrivacyConsentHistory", "x-spyglass-service": "account-api", "security": [{"privacyPreferenceCookie": []}], "responses": {"200": {"$ref": "#/components/responses/PrivacyConsentHistoryOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/privacy/data": {"delete": {"operationId": "erasePrivacyData", "x-spyglass-service": "account-api", "security": [{"privacyPreferenceCookie": []}], "parameters": [{"$ref": "#/components/parameters/origin"}], "responses": {"204": {"$ref": "#/components/responses/PrivacyDataErased"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/privacy/rights-requests": {"get": {"operationId": "listPrivacyRightsRequests", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"200": {"$ref": "#/components/responses/PrivacyRightsRequestsOK"}, "default": {"$ref": "#/components/responses/Problem"}}}, "post": {"operationId": "submitPrivacyRightsRequest", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/origin"}], "requestBody": {"$ref": "#/components/requestBodies/SubmitPrivacyRightsRequest"}, "responses": {"201": {"$ref": "#/components/responses/PrivacyRightsRequestCreated"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/privacy/rights-requests/{requestID}": {"parameters": [{"$ref": "#/components/parameters/requestID"}], "delete": {"operationId": "cancelPrivacyRightsRequest", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/origin"}], "responses": {"200": {"$ref": "#/components/responses/PrivacyRightsRequestCanceled"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/analytics/events": {"post": {"operationId": "ingestAnalyticsEvent", "x-spyglass-service": "account-api", "security": [{"privacyPreferenceCookie": []}], "parameters": [{"$ref": "#/components/parameters/origin"}], "requestBody": {"$ref": "#/components/requestBodies/IngestAnalyticsEvent"}, "responses": {"204": {"$ref": "#/components/responses/NoContent"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/affiliate": {"get": {"operationId": "getAffiliateProgram", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"200": {"$ref": "#/components/responses/AffiliateProgramOK"}, "default": {"$ref": "#/components/responses/Problem"}}}, "post": {"operationId": "enrollAffiliate", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/origin"}], "requestBody": {"$ref": "#/components/requestBodies/EnrollAffiliate"}, "responses": {"201": {"$ref": "#/components/responses/AffiliateEnrollmentCreated"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/affiliate/code-replacements": {"post": {"operationId": "replaceAffiliateCode", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/origin"}], "requestBody": {"$ref": "#/components/requestBodies/ReplaceAffiliateCode"}, "responses": {"200": {"$ref": "#/components/responses/AffiliateCodeReplaced"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/affiliate/data-export": {"get": {"operationId": "downloadAffiliateDataExport", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"200": {"$ref": "#/components/responses/AffiliateDataExportOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/affiliate/statement": {"get": {"operationId": "getAffiliateStatement", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"200": {"$ref": "#/components/responses/AffiliateStatementOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/affiliate/support-requests": {"get": {"operationId": "listAffiliateSupportRequests", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"200": {"$ref": "#/components/responses/AffiliateSupportRequestsOK"}, "default": {"$ref": "#/components/responses/Problem"}}}, "post": {"operationId": "submitAffiliateSupportRequest", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/origin"}], "requestBody": {"$ref": "#/components/requestBodies/SubmitAffiliateSupportRequest"}, "responses": {"201": {"$ref": "#/components/responses/AffiliateSupportRequestCreated"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/affiliate/support-requests/{requestID}": {"parameters": [{"$ref": "#/components/parameters/requestID"}], "delete": {"operationId": "cancelAffiliateSupportRequest", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/origin"}], "responses": {"200": {"$ref": "#/components/responses/AffiliateSupportRequestCanceled"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/registrations": {"post": {"operationId": "beginRegistration", "x-spyglass-service": "account-api", "security": [], "requestBody": {"$ref": "#/components/requestBodies/BeginRegistration"}, "responses": {"202": {"$ref": "#/components/responses/RegistrationAccepted"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/registrations/verify": {"post": {"operationId": "completeRegistration", "x-spyglass-service": "account-api", "security": [], "requestBody": {"$ref": "#/components/requestBodies/CompleteRegistration"}, "responses": {"201": {"$ref": "#/components/responses/RegistrationCompleted"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/recovery-challenges": {"post": {"operationId": "beginRecovery", "x-spyglass-service": "account-api", "security": [], "requestBody": {"$ref": "#/components/requestBodies/BeginRecovery"}, "responses": {"202": {"$ref": "#/components/responses/RecoveryAccepted"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/recovery-challenges/complete": {"post": {"operationId": "completeRecovery", "x-spyglass-service": "account-api", "security": [], "requestBody": {"$ref": "#/components/requestBodies/CompleteRecovery"}, "responses": {"204": {"$ref": "#/components/responses/NoContent"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/contact-change-requests": {"post": {"operationId": "beginContactChange", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/origin"}], "requestBody": {"$ref": "#/components/requestBodies/BeginContactChange"}, "responses": {"202": {"$ref": "#/components/responses/ContactChangeAccepted"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/contact-change-verifications": {"post": {"operationId": "completeContactChange", "x-spyglass-service": "account-api", "security": [], "requestBody": {"$ref": "#/components/requestBodies/CompleteContactChange"}, "responses": {"200": {"$ref": "#/components/responses/ContactChangeCompleted"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/identity": {"get": {"operationId": "currentIdentity", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"200": {"$ref": "#/components/responses/CurrentIdentityOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/mcp-grants": {"get": {"operationId": "listMCPGrants", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"200": {"$ref": "#/components/responses/MCPGrantsOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/mcp-grants/{grantID}": {"parameters": [{"$ref": "#/components/parameters/grantID"}], "delete": {"operationId": "revokeMCPGrant", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/origin"}], "responses": {"204": {"$ref": "#/components/responses/NoContent"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/sessions": {
      "get": {"operationId": "listSessions", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"200": {"$ref": "#/components/responses/ActiveSessionsOK"}, "default": {"$ref": "#/components/responses/Problem"}}},
      "post": {"operationId": "login", "x-spyglass-service": "account-api", "security": [], "requestBody": {"$ref": "#/components/requestBodies/Login"}, "responses": {"201": {"$ref": "#/components/responses/LoginCreated"}, "default": {"$ref": "#/components/responses/Problem"}}},
      "delete": {"operationId": "logoutAll", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/origin"}], "responses": {"204": {"$ref": "#/components/responses/SessionCleared"}, "default": {"$ref": "#/components/responses/Problem"}}}
    },
    "/api/v1/passkey-login/challenges": {"post": {"operationId": "beginPasskeyLogin", "x-spyglass-service": "account-api", "security": [], "parameters": [{"$ref": "#/components/parameters/origin"}], "responses": {"201": {"$ref": "#/components/responses/PasskeyCeremonyCreated"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/passkey-login/challenges/{ceremonyID}/complete": {"parameters": [{"$ref": "#/components/parameters/ceremonyID"}], "post": {"operationId": "completePasskeyLogin", "x-spyglass-service": "account-api", "security": [], "parameters": [{"$ref": "#/components/parameters/origin"}], "requestBody": {"$ref": "#/components/requestBodies/CompletePasskeyLogin"}, "responses": {"201": {"$ref": "#/components/responses/PasskeyLoginCreated"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/passkeys": {"get": {"operationId": "listPasskeys", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"200": {"$ref": "#/components/responses/PasskeysOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/passkey-registrations": {"post": {"operationId": "beginPasskeyRegistration", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/origin"}], "responses": {"201": {"$ref": "#/components/responses/PasskeyCeremonyCreated"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/passkey-registrations/{ceremonyID}/complete": {"parameters": [{"$ref": "#/components/parameters/ceremonyID"}], "post": {"operationId": "completePasskeyRegistration", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/origin"}], "requestBody": {"$ref": "#/components/requestBodies/CompletePasskeyRegistration"}, "responses": {"201": {"$ref": "#/components/responses/PasskeyCreated"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/passkeys/{credentialID}": {"parameters": [{"$ref": "#/components/parameters/credentialID"}], "patch": {"operationId": "renamePasskey", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/origin"}], "requestBody": {"$ref": "#/components/requestBodies/RenamePasskey"}, "responses": {"204": {"$ref": "#/components/responses/NoContent"}, "default": {"$ref": "#/components/responses/Problem"}}}, "delete": {"operationId": "deletePasskey", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/origin"}], "responses": {"204": {"$ref": "#/components/responses/NoContent"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/passkeys/{credentialID}/compromise": {"parameters": [{"$ref": "#/components/parameters/credentialID"}], "post": {"operationId": "compromisePasskey", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/origin"}], "responses": {"204": {"$ref": "#/components/responses/SessionCleared"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/passkey-reauthentications": {"post": {"operationId": "beginPasskeyReauthentication", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/origin"}], "responses": {"201": {"$ref": "#/components/responses/PasskeyCeremonyCreated"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/passkey-reauthentications/{ceremonyID}/complete": {"parameters": [{"$ref": "#/components/parameters/ceremonyID"}], "post": {"operationId": "completePasskeyReauthentication", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/origin"}], "requestBody": {"$ref": "#/components/requestBodies/CompletePasskeyReauthentication"}, "responses": {"204": {"$ref": "#/components/responses/NoContent"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/recovery-codes": {
      "get": {"operationId": "recoveryCodeStatus", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"200": {"$ref": "#/components/responses/RecoveryCodeStatusOK"}, "default": {"$ref": "#/components/responses/Problem"}}},
      "post": {"operationId": "rotateRecoveryCodes", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/origin"}], "responses": {"201": {"$ref": "#/components/responses/RecoveryCodesCreated"}, "default": {"$ref": "#/components/responses/Problem"}}}
    },
    "/api/v1/recovery-codes/consume": {"post": {"operationId": "consumeRecoveryCode", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/origin"}], "requestBody": {"$ref": "#/components/requestBodies/ConsumeRecoveryCode"}, "responses": {"204": {"$ref": "#/components/responses/NoContent"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/security-posture": {"get": {"operationId": "securityPostureStatus", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"200": {"$ref": "#/components/responses/SecurityPostureOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/security-events": {"get": {"operationId": "listSecurityEvents", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"200": {"$ref": "#/components/responses/SecurityEventsOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/sessions/{sessionID}": {"parameters": [{"$ref": "#/components/parameters/sessionID"}], "delete": {"operationId": "revokeSession", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/origin"}], "responses": {"204": {"$ref": "#/components/responses/NoContent"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/session/reauthenticate": {"post": {"operationId": "reauthenticate", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/origin"}], "requestBody": {"$ref": "#/components/requestBodies/Reauthenticate"}, "responses": {"204": {"$ref": "#/components/responses/NoContent"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/session": {"delete": {"operationId": "logout", "x-spyglass-service": "account-api", "security": [], "responses": {"204": {"$ref": "#/components/responses/SessionCleared"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/session/accounts": {"get": {"operationId": "listAccounts", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"200": {"$ref": "#/components/responses/AccountChoicesOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/session/account": {"post": {"operationId": "selectAccount", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/origin"}], "requestBody": {"$ref": "#/components/requestBodies/SelectAccount"}, "responses": {"200": {"$ref": "#/components/responses/AccountSelected"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/account-closures": {"get": {"operationId": "listAccountClosures", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"200": {"$ref": "#/components/responses/AccountClosuresOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/closure": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "post": {"operationId": "requestAccountClosure", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/origin"}], "requestBody": {"$ref": "#/components/requestBodies/ChangeAccountClosure"}, "responses": {"202": {"$ref": "#/components/responses/AccountClosureAccepted"}, "default": {"$ref": "#/components/responses/Problem"}}}, "delete": {"operationId": "cancelAccountClosure", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/origin"}], "requestBody": {"$ref": "#/components/requestBodies/ChangeAccountClosure"}, "responses": {"200": {"$ref": "#/components/responses/AccountClosureOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/invitations": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "post": {"operationId": "createInvitation", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/origin"}], "requestBody": {"$ref": "#/components/requestBodies/CreateInvitation"}, "responses": {"201": {"$ref": "#/components/responses/InvitationCreated"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/memberships": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "get": {"operationId": "listMemberships", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"200": {"$ref": "#/components/responses/MembershipsOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/memberships/{membershipID}": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/membershipID"}], "patch": {"operationId": "changeMembershipRole", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/origin"}], "requestBody": {"$ref": "#/components/requestBodies/ChangeMembershipRole"}, "responses": {"200": {"$ref": "#/components/responses/MembershipOK"}, "default": {"$ref": "#/components/responses/Problem"}}}, "delete": {"operationId": "removeMembership", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/origin"}], "requestBody": {"$ref": "#/components/requestBodies/ChangeMembershipState"}, "responses": {"204": {"$ref": "#/components/responses/NoContent"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/memberships/{membershipID}/suspensions": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/membershipID"}], "post": {"operationId": "suspendMembership", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/origin"}], "requestBody": {"$ref": "#/components/requestBodies/ChangeMembershipState"}, "responses": {"200": {"$ref": "#/components/responses/MembershipOK"}, "default": {"$ref": "#/components/responses/Problem"}}}, "delete": {"operationId": "reactivateMembership", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/origin"}], "requestBody": {"$ref": "#/components/requestBodies/ChangeMembershipState"}, "responses": {"200": {"$ref": "#/components/responses/MembershipOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/membership": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "get": {"operationId": "currentMembership", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"200": {"$ref": "#/components/responses/MembershipOK"}, "default": {"$ref": "#/components/responses/Problem"}}}, "delete": {"operationId": "leaveAccount", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/origin"}], "requestBody": {"$ref": "#/components/requestBodies/ChangeMembershipState"}, "responses": {"204": {"$ref": "#/components/responses/NoContent"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/ownership-transfers": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "post": {"operationId": "transferOwnership", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/origin"}], "requestBody": {"$ref": "#/components/requestBodies/TransferOwnership"}, "responses": {"200": {"$ref": "#/components/responses/OwnershipTransferred"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/checkout-sessions": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "post": {"operationId": "createCheckoutSession", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/optionalOrigin"}, {"$ref": "#/components/parameters/idempotencyKey"}], "requestBody": {"$ref": "#/components/requestBodies/CreateCheckoutSession"}, "responses": {"201": {"$ref": "#/components/responses/HostedBillingSessionCreated"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/purchase-checkout-sessions": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "post": {"operationId": "createPurchaseCheckoutSession", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/optionalOrigin"}, {"$ref": "#/components/parameters/idempotencyKey"}], "requestBody": {"$ref": "#/components/requestBodies/CreatePurchaseCheckoutSession"}, "responses": {"201": {"$ref": "#/components/responses/HostedBillingSessionCreated"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/billing-portal-sessions": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "post": {"operationId": "createBillingPortalSession", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/optionalOrigin"}, {"$ref": "#/components/parameters/idempotencyKey"}], "responses": {"201": {"$ref": "#/components/responses/HostedBillingSessionCreated"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/billing": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "get": {"operationId": "billingStatus", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/optionalOrigin"}], "responses": {"200": {"$ref": "#/components/responses/BillingStatusOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/ai-tokens": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "get": {"operationId": "aiTokenBalance", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"200": {"$ref": "#/components/responses/AITokenBalanceOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/ai-token-promotions": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "post": {"operationId": "redeemAITokenPromotion", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/origin"}, {"$ref": "#/components/parameters/idempotencyKey"}], "requestBody": {"$ref": "#/components/requestBodies/RedeemAITokenPromotion"}, "responses": {"201": {"$ref": "#/components/responses/AITokenPromotionRedeemed"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/exports": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "get": {"operationId": "listAccountExports", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/limit"}], "responses": {"200": {"$ref": "#/components/responses/AccountExportsOK"}, "default": {"$ref": "#/components/responses/Problem"}}}, "post": {"operationId": "createAccountExport", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/origin"}], "responses": {"202": {"$ref": "#/components/responses/AccountExportAccepted"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/exports/{exportID}": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/exportID"}], "get": {"operationId": "getAccountExport", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"200": {"$ref": "#/components/responses/AccountExportOK"}, "default": {"$ref": "#/components/responses/Problem"}}}, "delete": {"operationId": "cancelAccountExport", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/origin"}], "requestBody": {"$ref": "#/components/requestBodies/CancelAccountExport"}, "responses": {"200": {"$ref": "#/components/responses/AccountExportOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/exports/{exportID}/download-capabilities": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/exportID"}], "post": {"operationId": "createAccountExportDownloadCapability", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/origin"}], "responses": {"201": {"$ref": "#/components/responses/AccountExportDownloadCapabilityCreated"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/account-exports/{exportID}/artifact": {"parameters": [{"$ref": "#/components/parameters/exportID"}], "get": {"operationId": "downloadAccountExport", "x-spyglass-service": "account-api", "security": [{"exportDownloadCapability": []}], "responses": {"200": {"$ref": "#/components/responses/AccountExportArtifactOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/invitations/accept": {"post": {"operationId": "acceptInvitation", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/origin"}], "requestBody": {"$ref": "#/components/requestBodies/AcceptInvitation"}, "responses": {"201": {"$ref": "#/components/responses/InvitationAccepted"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/webhooks/stripe": {"post": {"operationId": "stripeWebhook", "x-spyglass-service": "account-api", "security": [{"stripeSignature": []}], "requestBody": {"$ref": "#/components/requestBodies/StripeWebhook"}, "responses": {"200": {"$ref": "#/components/responses/StripeWebhookAccepted"}, "default": {"$ref": "#/components/responses/Problem"}}}},

    "/api/v1/accounts/{accountID}/context": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "get": {"operationId": "accountContext", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "responses": {"200": {"$ref": "#/components/responses/AccountContextOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/work-items": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "get": {"operationId": "workList", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/workState"}, {"$ref": "#/components/parameters/workKind"}, {"$ref": "#/components/parameters/search"}, {"$ref": "#/components/parameters/cursor"}, {"$ref": "#/components/parameters/limit"}], "responses": {"200": {"$ref": "#/components/responses/WorkPageOK"}, "default": {"$ref": "#/components/responses/Problem"}}}, "post": {"operationId": "workCreate", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}], "requestBody": {"$ref": "#/components/requestBodies/CreateWork"}, "responses": {"201": {"$ref": "#/components/responses/WorkItemCreated"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/work-items/summary": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "get": {"operationId": "workSummary", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "responses": {"200": {"$ref": "#/components/responses/WorkSummaryOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/work-items/{itemID}": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/itemID"}], "get": {"operationId": "workItem", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "responses": {"200": {"$ref": "#/components/responses/WorkItemOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/work-items/{itemID}/children": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/itemID"}], "get": {"operationId": "workChildren", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/limit"}], "responses": {"200": {"$ref": "#/components/responses/WorkItemsOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/work-items/{itemID}/transitions": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/itemID"}], "post": {"operationId": "workTransition", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}, {"$ref": "#/components/parameters/ifMatch"}], "requestBody": {"$ref": "#/components/requestBodies/TransitionWork"}, "responses": {"200": {"$ref": "#/components/responses/WorkItemOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/work-items/{itemID}/assignment": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/itemID"}], "patch": {"operationId": "workAssign", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}, {"$ref": "#/components/parameters/ifMatch"}], "requestBody": {"$ref": "#/components/requestBodies/AssignWork"}, "responses": {"200": {"$ref": "#/components/responses/WorkItemOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/work-items/{itemID}/provenance-links": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/itemID"}], "post": {"operationId": "workAttachProvenance", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}, {"$ref": "#/components/parameters/ifMatch"}], "requestBody": {"$ref": "#/components/requestBodies/AttachWorkProvenance"}, "responses": {"200": {"$ref": "#/components/responses/WorkItemOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/work-items/{itemID}/conversation-links": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/itemID"}], "post": {"operationId": "workLinkConversation", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}, {"$ref": "#/components/parameters/ifMatch"}], "requestBody": {"$ref": "#/components/requestBodies/LinkWorkConversation"}, "responses": {"200": {"$ref": "#/components/responses/WorkItemOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/agent-boardrooms": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "get": {"operationId": "agentBoardrooms", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "responses": {"200": {"$ref": "#/components/responses/AgentBoardroomsOK"}, "default": {"$ref": "#/components/responses/Problem"}}}, "post": {"operationId": "agentBoardroomCreate", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}], "requestBody": {"$ref": "#/components/requestBodies/CreateAgentBoardroom"}, "responses": {"200": {"$ref": "#/components/responses/AgentBoardroomWithLocation"}, "201": {"$ref": "#/components/responses/AgentBoardroomWithLocation"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/agent-boardrooms/{boardroomID}/manager": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/boardroomID"}], "put": {"operationId": "agentBoardroomManagerConfigure", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}], "requestBody": {"$ref": "#/components/requestBodies/ConfigureAgentBoardroomManager"}, "responses": {"200": {"$ref": "#/components/responses/AgentBoardroomOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/agent-boardrooms/{boardroomID}/personas": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/boardroomID"}], "get": {"operationId": "agentPersonas", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "responses": {"200": {"$ref": "#/components/responses/AgentPersonasOK"}, "default": {"$ref": "#/components/responses/Problem"}}}, "post": {"operationId": "agentPersonaPublish", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}], "requestBody": {"$ref": "#/components/requestBodies/PublishAgentPersona"}, "responses": {"200": {"$ref": "#/components/responses/AgentPersonaOK"}, "201": {"$ref": "#/components/responses/AgentPersonaOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/agent-boardrooms/{boardroomID}/conversations": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/boardroomID"}], "get": {"operationId": "agentConversations", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/cursor"}, {"$ref": "#/components/parameters/limit"}], "responses": {"200": {"$ref": "#/components/responses/AgentConversationsOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/agent-boardrooms/{boardroomID}/runs": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/boardroomID"}], "post": {"operationId": "agentRunStart", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}], "requestBody": {"$ref": "#/components/requestBodies/StartAgentRun"}, "responses": {"200": {"$ref": "#/components/responses/AgentRunWithLocation"}, "202": {"$ref": "#/components/responses/AgentRunWithLocation"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/agent-conversations/{conversationID}": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/conversationID"}], "get": {"operationId": "agentConversation", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "responses": {"200": {"$ref": "#/components/responses/AgentConversationOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/agent-conversations/{conversationID}/messages": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/conversationID"}], "get": {"operationId": "agentMessages", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/cursor"}, {"$ref": "#/components/parameters/limit"}], "responses": {"200": {"$ref": "#/components/responses/AgentMessagesOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/agent-runs/{runID}": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/runID"}], "get": {"operationId": "agentRun", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "responses": {"200": {"$ref": "#/components/responses/AgentRunOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/agent-runs/{runID}/resolutions": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/runID"}], "post": {"operationId": "agentRunResolve", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}], "requestBody": {"$ref": "#/components/requestBodies/ResolveAgentRun"}, "responses": {"200": {"$ref": "#/components/responses/AgentRunResolutionWithLocation"}, "201": {"$ref": "#/components/responses/AgentRunResolutionWithLocation"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/attention/information-requests": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "get": {"operationId": "attentionInformationList", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/informationState"}, {"$ref": "#/components/parameters/parentWorkItemID"}, {"$ref": "#/components/parameters/cursor"}, {"$ref": "#/components/parameters/limit"}], "responses": {"200": {"$ref": "#/components/responses/InformationRequestPageOK"}, "default": {"$ref": "#/components/responses/Problem"}}}, "post": {"operationId": "attentionInformationCreate", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}], "requestBody": {"$ref": "#/components/requestBodies/CreateInformationRequest"}, "responses": {"201": {"$ref": "#/components/responses/InformationRequestCreated"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/attention/information-requests/{requestID}": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/requestID"}], "get": {"operationId": "attentionInformationGet", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "responses": {"200": {"$ref": "#/components/responses/InformationRequestOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/attention/information-requests/{requestID}/answers": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/requestID"}], "post": {"operationId": "attentionInformationAnswer", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}, {"$ref": "#/components/parameters/ifMatch"}], "requestBody": {"$ref": "#/components/requestBodies/AnswerInformationRequest"}, "responses": {"200": {"$ref": "#/components/responses/InformationCompletionOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/attention/information-requests/{requestID}/cancellations": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/requestID"}], "post": {"operationId": "attentionInformationCancel", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}, {"$ref": "#/components/parameters/ifMatch"}], "requestBody": {"$ref": "#/components/requestBodies/AttentionReason"}, "responses": {"200": {"$ref": "#/components/responses/InformationRequestOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/attention/work-reviews": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "get": {"operationId": "attentionReviewList", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/reviewState"}, {"$ref": "#/components/parameters/reviewerID"}, {"$ref": "#/components/parameters/workItemID"}, {"$ref": "#/components/parameters/cursor"}, {"$ref": "#/components/parameters/limit"}], "responses": {"200": {"$ref": "#/components/responses/WorkReviewPageOK"}, "default": {"$ref": "#/components/responses/Problem"}}}, "post": {"operationId": "attentionReviewCreate", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}], "requestBody": {"$ref": "#/components/requestBodies/CreateWorkReview"}, "responses": {"201": {"$ref": "#/components/responses/WorkReviewCreated"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/attention/work-reviews/{reviewID}": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/reviewID"}], "get": {"operationId": "attentionReviewGet", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "responses": {"200": {"$ref": "#/components/responses/WorkReviewOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/attention/work-reviews/{reviewID}/decisions": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/reviewID"}], "post": {"operationId": "attentionReviewDecide", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}, {"$ref": "#/components/parameters/ifMatch"}], "requestBody": {"$ref": "#/components/requestBodies/DecideWorkReview"}, "responses": {"200": {"$ref": "#/components/responses/WorkReviewOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/attention/work-reviews/{reviewID}/cancellations": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/reviewID"}], "post": {"operationId": "attentionReviewCancel", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}, {"$ref": "#/components/parameters/ifMatch"}], "requestBody": {"$ref": "#/components/requestBodies/AttentionReason"}, "responses": {"200": {"$ref": "#/components/responses/WorkReviewOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/attention/approvals": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "get": {"operationId": "attentionApprovalList", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/approvalState"}, {"$ref": "#/components/parameters/workItemID"}, {"$ref": "#/components/parameters/cursor"}, {"$ref": "#/components/parameters/limit"}], "responses": {"200": {"$ref": "#/components/responses/ApprovalPageOK"}, "default": {"$ref": "#/components/responses/Problem"}}}, "post": {"operationId": "attentionApprovalCreate", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}], "requestBody": {"$ref": "#/components/requestBodies/CreateApproval"}, "responses": {"201": {"$ref": "#/components/responses/ApprovalCreated"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/attention/approvals/{approvalID}": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/approvalID"}], "get": {"operationId": "attentionApprovalGet", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "responses": {"200": {"$ref": "#/components/responses/ApprovalOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/attention/approvals/{approvalID}/decisions": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/approvalID"}], "post": {"operationId": "attentionApprovalDecide", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}, {"$ref": "#/components/parameters/ifMatch"}], "requestBody": {"$ref": "#/components/requestBodies/DecideApproval"}, "responses": {"200": {"$ref": "#/components/responses/ApprovalOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/attention/approvals/{approvalID}/cancellations": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/approvalID"}], "post": {"operationId": "attentionApprovalCancel", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}, {"$ref": "#/components/parameters/ifMatch"}], "requestBody": {"$ref": "#/components/requestBodies/AttentionReason"}, "responses": {"200": {"$ref": "#/components/responses/ApprovalOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/attention/actions": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "get": {"operationId": "attentionActionList", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/actionState"}, {"$ref": "#/components/parameters/cursor"}, {"$ref": "#/components/parameters/limit"}], "responses": {"200": {"$ref": "#/components/responses/ActionRecoveryPageOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/attention/actions/{operationID}": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/operationID"}], "get": {"operationId": "attentionActionGet", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "responses": {"200": {"$ref": "#/components/responses/ActionRecoveryOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/attention/actions/{operationID}/resolution-requests": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/operationID"}], "post": {"operationId": "attentionActionRequestResolution", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}], "requestBody": {"$ref": "#/components/requestBodies/RequestActionResolution"}, "responses": {"200": {"$ref": "#/components/responses/ActionRecoveryOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/attention/actions/{operationID}/resolutions/{resolutionID}/confirmations": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/operationID"}, {"$ref": "#/components/parameters/resolutionID"}], "post": {"operationId": "attentionActionConfirmResolution", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}], "responses": {"200": {"$ref": "#/components/responses/ActionRecoveryOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/knowledge/evidence": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "post": {"operationId": "knowledgeEvidenceRegister", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}], "requestBody": {"$ref": "#/components/requestBodies/RegisterKnowledgeEvidence"}, "responses": {"201": {"$ref": "#/components/responses/KnowledgeEvidenceCreated"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/knowledge/facts": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "get": {"operationId": "knowledgeFactList", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/knowledgeScopeKind"}, {"$ref": "#/components/parameters/knowledgeScopeID"}, {"$ref": "#/components/parameters/knowledgeKeyPrefix"}, {"$ref": "#/components/parameters/cursor"}, {"$ref": "#/components/parameters/limit"}], "responses": {"200": {"$ref": "#/components/responses/KnowledgeFactPageOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/knowledge/claims": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "get": {"operationId": "knowledgeClaimList", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/knowledgeClaimState"}, {"$ref": "#/components/parameters/knowledgeScopeKind"}, {"$ref": "#/components/parameters/knowledgeScopeID"}, {"$ref": "#/components/parameters/knowledgeKeyPrefix"}, {"$ref": "#/components/parameters/cursor"}, {"$ref": "#/components/parameters/limit"}], "responses": {"200": {"$ref": "#/components/responses/KnowledgeClaimPageOK"}, "default": {"$ref": "#/components/responses/Problem"}}}, "post": {"operationId": "knowledgeClaimPropose", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}], "requestBody": {"$ref": "#/components/requestBodies/ProposeKnowledgeClaim"}, "responses": {"201": {"$ref": "#/components/responses/KnowledgeClaimCreated"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/knowledge/claims/{claimID}": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/claimID"}], "get": {"operationId": "knowledgeClaimGet", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "responses": {"200": {"$ref": "#/components/responses/KnowledgeClaimOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/knowledge/claims/{claimID}/decisions": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/claimID"}], "post": {"operationId": "knowledgeClaimDecide", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}, {"$ref": "#/components/parameters/ifMatch"}], "requestBody": {"$ref": "#/components/requestBodies/DecideKnowledgeClaim"}, "responses": {"200": {"$ref": "#/components/responses/KnowledgeClaimDecisionOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/knowledge/retrieval": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "post": {"operationId": "knowledgeDocumentRetrieve", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "requestBody": {"$ref": "#/components/requestBodies/RetrieveKnowledgeDocuments"}, "responses": {"200": {"$ref": "#/components/responses/KnowledgeDocumentRetrievalOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/knowledge/documents": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "get": {"operationId": "knowledgeDocumentList", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/knowledgeDocumentState"}, {"$ref": "#/components/parameters/knowledgeDocumentTitlePrefix"}, {"$ref": "#/components/parameters/cursor"}, {"$ref": "#/components/parameters/limit"}], "responses": {"200": {"$ref": "#/components/responses/KnowledgeDocumentPageOK"}, "default": {"$ref": "#/components/responses/Problem"}}}, "post": {"operationId": "knowledgeDocumentUpload", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}], "requestBody": {"$ref": "#/components/requestBodies/UploadKnowledgeDocument"}, "responses": {"201": {"$ref": "#/components/responses/KnowledgeDocumentCreated"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/knowledge/documents/{documentID}": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/documentID"}], "get": {"operationId": "knowledgeDocumentGet", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "responses": {"200": {"$ref": "#/components/responses/KnowledgeDocumentOK"}, "default": {"$ref": "#/components/responses/Problem"}}}, "delete": {"operationId": "knowledgeDocumentDelete", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}, {"$ref": "#/components/parameters/ifMatch"}], "responses": {"202": {"$ref": "#/components/responses/KnowledgeDocumentDeletionAccepted"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/knowledge/documents/{documentID}/publications": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/documentID"}], "post": {"operationId": "knowledgeDocumentPublish", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}, {"$ref": "#/components/parameters/ifMatch"}], "requestBody": {"$ref": "#/components/requestBodies/PublishKnowledgeDocument"}, "responses": {"200": {"$ref": "#/components/responses/KnowledgeDocumentPublished"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/knowledge/documents/{documentID}/revisions/{revisionID}/chunks/{chunkID}": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/documentID"}, {"$ref": "#/components/parameters/revisionID"}, {"$ref": "#/components/parameters/chunkID"}], "get": {"operationId": "knowledgeDocumentCitationGet", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "responses": {"200": {"$ref": "#/components/responses/KnowledgeDocumentCitationOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/baseline-assessments": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "post": {"operationId": "baselineStart", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}], "requestBody": {"$ref": "#/components/requestBodies/StartBaseline"}, "responses": {"201": {"$ref": "#/components/responses/BaselineCreated"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/baseline-assessments/current": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "get": {"operationId": "baselineCurrent", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "responses": {"200": {"$ref": "#/components/responses/BaselineOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/baseline-assessments/{assessmentID}": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/assessmentID"}], "get": {"operationId": "baselineGet", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "responses": {"200": {"$ref": "#/components/responses/BaselineOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/baseline-assessments/{assessmentID}/answers": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/assessmentID"}], "post": {"operationId": "baselineAnswer", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}, {"$ref": "#/components/parameters/ifMatch"}], "requestBody": {"$ref": "#/components/requestBodies/AnswerBaseline"}, "responses": {"200": {"$ref": "#/components/responses/BaselineOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/baseline-assessments/{assessmentID}/inventory-starts": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/assessmentID"}], "post": {"operationId": "baselineBeginInventory", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}, {"$ref": "#/components/parameters/ifMatch"}], "requestBody": {"$ref": "#/components/requestBodies/BaselineEmptyCommand"}, "responses": {"200": {"$ref": "#/components/responses/BaselineOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/baseline-assessments/{assessmentID}/inventories": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/assessmentID"}], "post": {"operationId": "baselineCompleteInventory", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}, {"$ref": "#/components/parameters/ifMatch"}], "requestBody": {"$ref": "#/components/requestBodies/CompleteBaselineInventory"}, "responses": {"200": {"$ref": "#/components/responses/BaselineOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/baseline-assessments/{assessmentID}/evidence-decisions": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/assessmentID"}], "post": {"operationId": "baselineDecideEvidence", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}, {"$ref": "#/components/parameters/ifMatch"}], "requestBody": {"$ref": "#/components/requestBodies/DecideBaselineEvidence"}, "responses": {"200": {"$ref": "#/components/responses/BaselineOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/baseline-assessments/{assessmentID}/dispositions": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/assessmentID"}], "post": {"operationId": "baselineDisposition", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}, {"$ref": "#/components/parameters/ifMatch"}], "requestBody": {"$ref": "#/components/requestBodies/DispositionBaselineRequirement"}, "responses": {"200": {"$ref": "#/components/responses/BaselineOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/baseline-assessments/{assessmentID}/plans": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/assessmentID"}], "post": {"operationId": "baselineSubmitPlan", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}, {"$ref": "#/components/parameters/ifMatch"}], "requestBody": {"$ref": "#/components/requestBodies/BaselineEmptyCommand"}, "responses": {"200": {"$ref": "#/components/responses/BaselineOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/baseline-assessments/{assessmentID}/plan-approvals": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/assessmentID"}], "post": {"operationId": "baselineApprovePlan", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}, {"$ref": "#/components/parameters/ifMatch"}], "requestBody": {"$ref": "#/components/requestBodies/ApproveBaselinePlan"}, "responses": {"200": {"$ref": "#/components/responses/BaselineOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/baseline-assessments/{assessmentID}/work-materializations": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/assessmentID"}], "post": {"operationId": "baselineMaterializePlan", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}, {"$ref": "#/components/parameters/ifMatch"}], "requestBody": {"$ref": "#/components/requestBodies/ApproveBaselinePlan"}, "responses": {"200": {"$ref": "#/components/responses/BaselineWorkMaterializationOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/baseline-assessments/{assessmentID}/work-evidence-confirmations": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/assessmentID"}], "post": {"operationId": "baselineConfirmWorkEvidence", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}, {"$ref": "#/components/parameters/ifMatch"}], "requestBody": {"$ref": "#/components/requestBodies/ConfirmBaselineWorkEvidence"}, "responses": {"200": {"$ref": "#/components/responses/BaselineOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/baseline-assessments/{assessmentID}/maintenance-work-materializations": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/assessmentID"}], "post": {"operationId": "baselineMaterializeMaintenance", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}, {"$ref": "#/components/parameters/ifMatch"}], "requestBody": {"$ref": "#/components/requestBodies/BaselineEmptyCommand"}, "responses": {"200": {"$ref": "#/components/responses/BaselineWorkMaterializationOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/baseline-assessments/{assessmentID}/readiness": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/assessmentID"}], "post": {"operationId": "baselineMarkReady", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}, {"$ref": "#/components/parameters/ifMatch"}], "requestBody": {"$ref": "#/components/requestBodies/BaselineEmptyCommand"}, "responses": {"200": {"$ref": "#/components/responses/BaselineOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/baseline-assessments/{assessmentID}/reassessments": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/assessmentID"}], "post": {"operationId": "baselineReassess", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}, {"$ref": "#/components/parameters/ifMatch"}], "requestBody": {"$ref": "#/components/requestBodies/ReassessBaseline"}, "responses": {"201": {"$ref": "#/components/responses/BaselineReassessmentCreated"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/baseline-assessments/{assessmentID}/source-grants": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/assessmentID"}], "get": {"operationId": "baselineSourceGrantList", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/cursor"}, {"$ref": "#/components/parameters/limit"}], "responses": {"200": {"$ref": "#/components/responses/BaselineSourceGrantPageOK"}, "default": {"$ref": "#/components/responses/Problem"}}}, "post": {"operationId": "baselineSourceGrantCreate", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}], "requestBody": {"$ref": "#/components/requestBodies/CreateBaselineSourceGrant"}, "responses": {"201": {"$ref": "#/components/responses/BaselineSourceGrantCreated"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/baseline-assessments/{assessmentID}/source-grants/{grantID}/revocations": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/assessmentID"}, {"$ref": "#/components/parameters/grantID"}], "post": {"operationId": "baselineSourceGrantRevoke", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}, {"$ref": "#/components/parameters/ifMatch"}], "requestBody": {"$ref": "#/components/requestBodies/RevokeBaselineSourceGrant"}, "responses": {"200": {"$ref": "#/components/responses/BaselineSourceGrantOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/finance/ledgers": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "get": {"operationId": "financeLedgerList", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/financeLedgerState"}, {"$ref": "#/components/parameters/cursor"}, {"$ref": "#/components/parameters/limit"}], "responses": {"200": {"$ref": "#/components/responses/FinanceLedgerPageOK"}, "default": {"$ref": "#/components/responses/Problem"}}}, "post": {"operationId": "financeLedgerCreate", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}], "requestBody": {"$ref": "#/components/requestBodies/CreateFinanceLedger"}, "responses": {"200": {"$ref": "#/components/responses/FinanceLedgerOK"}, "201": {"$ref": "#/components/responses/FinanceLedgerCreated"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/finance/ledgers/{ledgerID}": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/ledgerID"}], "get": {"operationId": "financeLedgerGet", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "responses": {"200": {"$ref": "#/components/responses/FinanceLedgerOK"}, "default": {"$ref": "#/components/responses/Problem"}}}, "put": {"operationId": "financeLedgerRevise", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}, {"$ref": "#/components/parameters/ifMatch"}], "requestBody": {"$ref": "#/components/requestBodies/ReviseFinanceLedger"}, "responses": {"200": {"$ref": "#/components/responses/FinanceLedgerOK"}, "default": {"$ref": "#/components/responses/Problem"}}}, "delete": {"operationId": "financeLedgerArchive", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}, {"$ref": "#/components/parameters/ifMatch"}], "responses": {"200": {"$ref": "#/components/responses/FinanceLedgerOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/finance/ledgers/{ledgerID}/period-closes": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/ledgerID"}], "post": {"operationId": "financeLedgerClosePeriod", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}, {"$ref": "#/components/parameters/ifMatch"}], "requestBody": {"$ref": "#/components/requestBodies/CloseFinancePeriod"}, "responses": {"200": {"$ref": "#/components/responses/FinanceLedgerOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/finance/ledgers/{ledgerID}/accounts": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/ledgerID"}], "get": {"operationId": "financePostingAccountList", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/financeLedgerState"}, {"$ref": "#/components/parameters/cursor"}, {"$ref": "#/components/parameters/limit"}], "responses": {"200": {"$ref": "#/components/responses/FinancePostingAccountPageOK"}, "default": {"$ref": "#/components/responses/Problem"}}}, "post": {"operationId": "financePostingAccountCreate", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}], "requestBody": {"$ref": "#/components/requestBodies/CreateFinancePostingAccount"}, "responses": {"200": {"$ref": "#/components/responses/FinancePostingAccountOK"}, "201": {"$ref": "#/components/responses/FinancePostingAccountCreated"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/finance/accounts/{postingAccountID}": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/postingAccountID"}], "get": {"operationId": "financePostingAccountGet", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "responses": {"200": {"$ref": "#/components/responses/FinancePostingAccountOK"}, "default": {"$ref": "#/components/responses/Problem"}}}, "put": {"operationId": "financePostingAccountRevise", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}, {"$ref": "#/components/parameters/ifMatch"}], "requestBody": {"$ref": "#/components/requestBodies/ReviseFinancePostingAccount"}, "responses": {"200": {"$ref": "#/components/responses/FinancePostingAccountOK"}, "default": {"$ref": "#/components/responses/Problem"}}}, "delete": {"operationId": "financePostingAccountArchive", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}, {"$ref": "#/components/parameters/ifMatch"}], "responses": {"200": {"$ref": "#/components/responses/FinancePostingAccountOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/finance/ledgers/{ledgerID}/entries": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/ledgerID"}], "get": {"operationId": "financeEntryList", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/financeEntryState"}, {"$ref": "#/components/parameters/cursor"}, {"$ref": "#/components/parameters/limit"}], "responses": {"200": {"$ref": "#/components/responses/FinanceEntryPageOK"}, "default": {"$ref": "#/components/responses/Problem"}}}, "post": {"operationId": "financeEntryCreate", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}], "requestBody": {"$ref": "#/components/requestBodies/CreateFinanceEntry"}, "responses": {"200": {"$ref": "#/components/responses/FinanceEntryOK"}, "201": {"$ref": "#/components/responses/FinanceEntryCreated"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/finance/entries/{entryID}": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/entryID"}], "get": {"operationId": "financeEntryGet", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "responses": {"200": {"$ref": "#/components/responses/FinanceEntryOK"}, "default": {"$ref": "#/components/responses/Problem"}}}, "put": {"operationId": "financeEntryRevise", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}, {"$ref": "#/components/parameters/ifMatch"}], "requestBody": {"$ref": "#/components/requestBodies/ReviseFinanceEntry"}, "responses": {"200": {"$ref": "#/components/responses/FinanceEntryOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/finance/entries/{entryID}/postings": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/entryID"}], "post": {"operationId": "financeEntryPost", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}, {"$ref": "#/components/parameters/ifMatch"}], "responses": {"200": {"$ref": "#/components/responses/FinanceEntryOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/finance/entries/{entryID}/reversals": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/entryID"}], "post": {"operationId": "financeEntryReverse", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}, {"$ref": "#/components/parameters/ifMatch"}], "requestBody": {"$ref": "#/components/requestBodies/ReverseFinanceEntry"}, "responses": {"201": {"$ref": "#/components/responses/FinanceReversalCreated"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/finance/ledgers/{ledgerID}/reconciliations": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/ledgerID"}], "get": {"operationId": "financeReconciliationList", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/financeReconciliationState"}, {"$ref": "#/components/parameters/cursor"}, {"$ref": "#/components/parameters/limit"}], "responses": {"200": {"$ref": "#/components/responses/FinanceReconciliationPageOK"}, "default": {"$ref": "#/components/responses/Problem"}}}, "post": {"operationId": "financeReconciliationCreate", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}], "requestBody": {"$ref": "#/components/requestBodies/CreateFinanceReconciliation"}, "responses": {"200": {"$ref": "#/components/responses/FinanceReconciliationOK"}, "201": {"$ref": "#/components/responses/FinanceReconciliationCreated"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/finance/reconciliations/{reconciliationID}": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/reconciliationID"}], "get": {"operationId": "financeReconciliationGet", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "responses": {"200": {"$ref": "#/components/responses/FinanceReconciliationOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/finance/reconciliations/{reconciliationID}/confirmations": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/reconciliationID"}], "post": {"operationId": "financeReconciliationConfirm", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}, {"$ref": "#/components/parameters/ifMatch"}], "responses": {"200": {"$ref": "#/components/responses/FinanceReconciliationOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/marketing/campaigns": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "get": {"operationId": "marketingCampaignList", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/marketingCampaignState"}, {"$ref": "#/components/parameters/cursor"}, {"$ref": "#/components/parameters/limit"}], "responses": {"200": {"$ref": "#/components/responses/MarketingCampaignPageOK"}, "default": {"$ref": "#/components/responses/Problem"}}}, "post": {"operationId": "marketingCampaignCreate", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}], "requestBody": {"$ref": "#/components/requestBodies/CreateMarketingCampaign"}, "responses": {"200": {"$ref": "#/components/responses/MarketingCampaignCreated"}, "201": {"$ref": "#/components/responses/MarketingCampaignCreated"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/marketing/campaigns/{campaignID}": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/campaignID"}], "get": {"operationId": "marketingCampaignGet", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "responses": {"200": {"$ref": "#/components/responses/MarketingCampaignOK"}, "default": {"$ref": "#/components/responses/Problem"}}}, "put": {"operationId": "marketingCampaignRevise", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}, {"$ref": "#/components/parameters/ifMatch"}], "requestBody": {"$ref": "#/components/requestBodies/ReviseMarketingCampaign"}, "responses": {"200": {"$ref": "#/components/responses/MarketingCampaignOK"}, "default": {"$ref": "#/components/responses/Problem"}}}, "delete": {"operationId": "marketingCampaignArchive", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}, {"$ref": "#/components/parameters/ifMatch"}], "responses": {"200": {"$ref": "#/components/responses/MarketingCampaignOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/marketing/campaigns/{campaignID}/asset-revisions": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/campaignID"}], "get": {"operationId": "marketingAssetRevisionList", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/marketingAssetID"}, {"$ref": "#/components/parameters/cursor"}, {"$ref": "#/components/parameters/limit"}], "responses": {"200": {"$ref": "#/components/responses/MarketingAssetRevisionPageOK"}, "default": {"$ref": "#/components/responses/Problem"}}}, "post": {"operationId": "marketingAssetRevisionCreate", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}], "requestBody": {"$ref": "#/components/requestBodies/CreateMarketingAssetRevision"}, "responses": {"200": {"$ref": "#/components/responses/MarketingAssetRevisionOK"}, "201": {"$ref": "#/components/responses/MarketingAssetRevisionOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/marketing/campaigns/{campaignID}/releases": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/campaignID"}], "get": {"operationId": "marketingReleaseList", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/cursor"}, {"$ref": "#/components/parameters/limit"}], "responses": {"200": {"$ref": "#/components/responses/MarketingReleasePageOK"}, "default": {"$ref": "#/components/responses/Problem"}}}, "post": {"operationId": "marketingReleaseCreate", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}], "requestBody": {"$ref": "#/components/requestBodies/CreateMarketingRelease"}, "responses": {"200": {"$ref": "#/components/responses/MarketingReleaseCreated"}, "201": {"$ref": "#/components/responses/MarketingReleaseCreated"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/marketing/releases/{releaseID}": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/releaseID"}], "get": {"operationId": "marketingReleaseGet", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "responses": {"200": {"$ref": "#/components/responses/MarketingReleaseOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/marketing/releases/{releaseID}/submissions": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/releaseID"}], "post": {"operationId": "marketingReleaseSubmit", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}, {"$ref": "#/components/parameters/ifMatch"}], "requestBody": {"$ref": "#/components/requestBodies/SubmitMarketingRelease"}, "responses": {"200": {"$ref": "#/components/responses/MarketingReleaseOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/marketing/releases/{releaseID}/approvals": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/releaseID"}], "post": {"operationId": "marketingReleaseApprove", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}, {"$ref": "#/components/parameters/ifMatch"}], "requestBody": {"$ref": "#/components/requestBodies/ApproveMarketingRelease"}, "responses": {"200": {"$ref": "#/components/responses/MarketingReleaseOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/marketing/releases/{releaseID}/cancellations": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/releaseID"}], "post": {"operationId": "marketingReleaseCancel", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}, {"$ref": "#/components/parameters/ifMatch"}], "responses": {"200": {"$ref": "#/components/responses/MarketingReleaseOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/marketing/campaigns/{campaignID}/activations": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/campaignID"}], "post": {"operationId": "marketingCampaignActivate", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}, {"$ref": "#/components/parameters/ifMatch"}], "requestBody": {"$ref": "#/components/requestBodies/ActivateMarketingCampaign"}, "responses": {"200": {"$ref": "#/components/responses/MarketingCampaignOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/marketing/campaigns/{campaignID}/pauses": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/campaignID"}], "post": {"operationId": "marketingCampaignPause", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}, {"$ref": "#/components/parameters/ifMatch"}], "responses": {"200": {"$ref": "#/components/responses/MarketingCampaignOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/marketing/campaigns/{campaignID}/completions": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/campaignID"}], "post": {"operationId": "marketingCampaignComplete", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}, {"$ref": "#/components/parameters/ifMatch"}], "responses": {"200": {"$ref": "#/components/responses/MarketingCampaignOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/integrations/connections": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "get": {"operationId": "integrationConnectionList", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/integrationConnectionState"}, {"$ref": "#/components/parameters/integrationConnectorKind"}, {"$ref": "#/components/parameters/cursor"}, {"$ref": "#/components/parameters/limit"}], "responses": {"200": {"$ref": "#/components/responses/IntegrationConnectionPageOK"}, "default": {"$ref": "#/components/responses/Problem"}}}, "post": {"operationId": "integrationConnectionCreate", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}], "requestBody": {"$ref": "#/components/requestBodies/CreateIntegrationConnection"}, "responses": {"200": {"$ref": "#/components/responses/IntegrationConnectionCreated"}, "201": {"$ref": "#/components/responses/IntegrationConnectionCreated"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/integrations/connections/{connectionID}": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/connectionID"}], "get": {"operationId": "integrationConnectionGet", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "responses": {"200": {"$ref": "#/components/responses/IntegrationConnectionDetailOK"}, "default": {"$ref": "#/components/responses/Problem"}}}, "put": {"operationId": "integrationConnectionRevise", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}, {"$ref": "#/components/parameters/ifMatch"}], "requestBody": {"$ref": "#/components/requestBodies/ReviseIntegrationConnection"}, "responses": {"200": {"$ref": "#/components/responses/IntegrationConnectionOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/integrations/connections/{connectionID}/health": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/connectionID"}], "get": {"operationId": "integrationHealthList", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/cursor"}, {"$ref": "#/components/parameters/limit"}], "responses": {"200": {"$ref": "#/components/responses/IntegrationHealthPageOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/integrations/connections/{connectionID}/credential-bindings": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/connectionID"}], "post": {"operationId": "integrationCredentialActivate", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}, {"$ref": "#/components/parameters/ifMatch"}], "requestBody": {"$ref": "#/components/requestBodies/BindIntegrationCredential"}, "responses": {"200": {"$ref": "#/components/responses/IntegrationConnectionOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/integrations/connections/{connectionID}/credential-rotations": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/connectionID"}], "post": {"operationId": "integrationCredentialRotate", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}, {"$ref": "#/components/parameters/ifMatch"}], "requestBody": {"$ref": "#/components/requestBodies/RotateIntegrationCredential"}, "responses": {"200": {"$ref": "#/components/responses/IntegrationConnectionOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/integrations/connections/{connectionID}/disables": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/connectionID"}], "post": {"operationId": "integrationConnectionDisable", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}, {"$ref": "#/components/parameters/ifMatch"}], "responses": {"200": {"$ref": "#/components/responses/IntegrationConnectionOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/integrations/connections/{connectionID}/enables": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/connectionID"}], "post": {"operationId": "integrationConnectionEnable", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}, {"$ref": "#/components/parameters/ifMatch"}], "responses": {"200": {"$ref": "#/components/responses/IntegrationConnectionOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/integrations/connections/{connectionID}/revocations": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/connectionID"}], "post": {"operationId": "integrationConnectionRevoke", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}, {"$ref": "#/components/parameters/ifMatch"}], "responses": {"200": {"$ref": "#/components/responses/IntegrationConnectionOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/integrations/connections/{connectionID}/authorizations": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/connectionID"}], "post": {"operationId": "integrationAuthorizationBegin", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}], "requestBody": {"$ref": "#/components/requestBodies/BeginIntegrationAuthorization"}, "responses": {"201": {"$ref": "#/components/responses/IntegrationAuthorizationCreated"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/integrations/connections/{connectionID}/credential-revocations": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/connectionID"}], "post": {"operationId": "integrationCredentialRevoke", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}], "responses": {"200": {"$ref": "#/components/responses/IntegrationCredentialRevocationOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/integrations/authorizations/{authorizationID}": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/authorizationID"}], "get": {"operationId": "integrationAuthorizationGet", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "responses": {"200": {"$ref": "#/components/responses/IntegrationAuthorizationOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/integrations/google/authorization-callback": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "get": {"operationId": "integrationAuthorizationCallback", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"name": "state", "in": "query", "required": true, "schema": {"type": "string", "minLength": 43, "maxLength": 128, "pattern": "^[A-Za-z0-9._~-]+$"}}, {"name": "code", "in": "query", "required": false, "schema": {"type": "string", "minLength": 16, "maxLength": 2048}}, {"name": "error", "in": "query", "required": false, "schema": {"type": "string", "enum": ["access_denied", "server_error", "temporarily_unavailable"]}}], "responses": {"200": {"$ref": "#/components/responses/IntegrationAuthorizationOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/integrations/web-research/search": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "post": {"operationId": "integrationWebResearchSearch", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "requestBody": {"$ref": "#/components/requestBodies/SearchIntegrationWebResearch"}, "responses": {"200": {"$ref": "#/components/responses/IntegrationWebResearchSearchOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/integrations/web-research/read": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "post": {"operationId": "integrationWebResearchRead", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}], "requestBody": {"$ref": "#/components/requestBodies/ReadIntegrationWebResearch"}, "responses": {"201": {"$ref": "#/components/responses/IntegrationWebResearchReadCreated"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/integrations/executions": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "get": {"operationId": "integrationExecutionList", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/integrationConnectionID"}, {"$ref": "#/components/parameters/integrationExecutionState"}, {"$ref": "#/components/parameters/integrationCapability"}, {"$ref": "#/components/parameters/cursor"}, {"$ref": "#/components/parameters/limit"}], "responses": {"200": {"$ref": "#/components/responses/IntegrationExecutionPageOK"}, "default": {"$ref": "#/components/responses/Problem"}}}, "post": {"operationId": "integrationExecutionPrepare", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}], "requestBody": {"$ref": "#/components/requestBodies/PrepareIntegrationExecution"}, "responses": {"200": {"$ref": "#/components/responses/IntegrationExecutionCreated"}, "201": {"$ref": "#/components/responses/IntegrationExecutionCreated"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/integrations/executions/{executionID}": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/executionID"}], "get": {"operationId": "integrationExecutionGet", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "responses": {"200": {"$ref": "#/components/responses/IntegrationExecutionDetailOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/integrations/executions/{executionID}/resolution-requests": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/executionID"}], "post": {"operationId": "integrationExecutionRequestResolution", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}], "requestBody": {"$ref": "#/components/requestBodies/RequestIntegrationExecutionResolution"}, "responses": {"200": {"$ref": "#/components/responses/IntegrationExecutionDetailOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/integrations/executions/{executionID}/resolutions/{resolutionID}/confirmations": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/executionID"}, {"$ref": "#/components/parameters/resolutionID"}], "post": {"operationId": "integrationExecutionConfirmResolution", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}], "responses": {"200": {"$ref": "#/components/responses/IntegrationExecutionDetailOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/schedules": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "get": {"operationId": "scheduleList", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/cursor"}, {"$ref": "#/components/parameters/limit"}], "responses": {"200": {"$ref": "#/components/responses/SchedulePageOK"}, "default": {"$ref": "#/components/responses/Problem"}}}, "post": {"operationId": "scheduleCreate", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}], "requestBody": {"$ref": "#/components/requestBodies/CreateSchedule"}, "responses": {"200": {"$ref": "#/components/responses/ScheduleWithLocation"}, "201": {"$ref": "#/components/responses/ScheduleWithLocation"}, "default": {"$ref": "#/components/responses/Problem"}}}},
[...]
