{
  "openapi": "3.1.0",
  "info": {"title": "Infinite Ocean: Spyglass API", "version": "0.1.0", "description": "Customer-facing JSON API. Cell-owned operations are reached through the authenticated Spyglass router; clients never select a cell."},
  "servers": [{"url": "https://app.infiniteocean.net"}],
  "paths": {
    "/api/v1/catalog/public": {"get": {"operationId": "publicCatalog", "x-spyglass-service": "account-api", "security": [], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/registrations": {"post": {"operationId": "beginRegistration", "x-spyglass-service": "account-api", "security": [], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/registrations/verify": {"post": {"operationId": "completeRegistration", "x-spyglass-service": "account-api", "security": [], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/recovery-challenges": {"post": {"operationId": "beginRecovery", "x-spyglass-service": "account-api", "security": [], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/recovery-challenges/complete": {"post": {"operationId": "completeRecovery", "x-spyglass-service": "account-api", "security": [], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/sessions": {
      "get": {"operationId": "listSessions", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}},
      "post": {"operationId": "login", "x-spyglass-service": "account-api", "security": [], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}},
      "delete": {"operationId": "logoutAll", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}
    },
    "/api/v1/passkey-login/challenges": {"post": {"operationId": "beginPasskeyLogin", "x-spyglass-service": "account-api", "security": [], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/passkey-login/challenges/{ceremonyID}/complete": {"parameters": [{"$ref": "#/components/parameters/ceremonyID"}], "post": {"operationId": "completePasskeyLogin", "x-spyglass-service": "account-api", "security": [], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/passkeys": {"get": {"operationId": "listPasskeys", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/passkey-registrations": {"post": {"operationId": "beginPasskeyRegistration", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/passkey-registrations/{ceremonyID}/complete": {"parameters": [{"$ref": "#/components/parameters/ceremonyID"}], "post": {"operationId": "completePasskeyRegistration", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/passkeys/{credentialID}": {"parameters": [{"$ref": "#/components/parameters/credentialID"}], "delete": {"operationId": "deletePasskey", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/passkey-reauthentications": {"post": {"operationId": "beginPasskeyReauthentication", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/passkey-reauthentications/{ceremonyID}/complete": {"parameters": [{"$ref": "#/components/parameters/ceremonyID"}], "post": {"operationId": "completePasskeyReauthentication", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/recovery-codes": {
      "get": {"operationId": "recoveryCodeStatus", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}},
      "post": {"operationId": "rotateRecoveryCodes", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}
    },
    "/api/v1/recovery-codes/consume": {"post": {"operationId": "consumeRecoveryCode", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/security-posture": {"get": {"operationId": "securityPostureStatus", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/security-events": {"get": {"operationId": "listSecurityEvents", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/sessions/{sessionID}": {"parameters": [{"$ref": "#/components/parameters/sessionID"}], "delete": {"operationId": "revokeSession", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/session/reauthenticate": {"post": {"operationId": "reauthenticate", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/session": {"delete": {"operationId": "logout", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/session/accounts": {"get": {"operationId": "listAccounts", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/session/account": {"post": {"operationId": "selectAccount", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/account-closures": {"get": {"operationId": "listAccountClosures", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/closure": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "post": {"operationId": "requestAccountClosure", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}, "delete": {"operationId": "cancelAccountClosure", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/invitations": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "post": {"operationId": "createInvitation", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/memberships": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "get": {"operationId": "listMemberships", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/memberships/{membershipID}": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/membershipID"}], "patch": {"operationId": "changeMembershipRole", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}, "delete": {"operationId": "removeMembership", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/memberships/{membershipID}/suspensions": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/membershipID"}], "post": {"operationId": "suspendMembership", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}, "delete": {"operationId": "reactivateMembership", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/membership": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "delete": {"operationId": "leaveAccount", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/ownership-transfers": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "post": {"operationId": "transferOwnership", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/checkout-sessions": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "post": {"operationId": "createCheckoutSession", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/billing-portal-sessions": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "post": {"operationId": "createBillingPortalSession", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/billing": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "get": {"operationId": "billingStatus", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/invitations/accept": {"post": {"operationId": "acceptInvitation", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/webhooks/stripe": {"post": {"operationId": "stripeWebhook", "x-spyglass-service": "account-api", "security": [{"stripeSignature": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},

    "/api/v1/accounts/{accountID}/context": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "get": {"operationId": "accountContext", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "responses": {"200": {"$ref": "#/components/responses/AccountContextOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/work-items": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "get": {"operationId": "workList", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/workState"}, {"$ref": "#/components/parameters/workKind"}, {"$ref": "#/components/parameters/search"}, {"$ref": "#/components/parameters/cursor"}, {"$ref": "#/components/parameters/limit"}], "responses": {"200": {"$ref": "#/components/responses/WorkPageOK"}, "default": {"$ref": "#/components/responses/Problem"}}}, "post": {"operationId": "workCreate", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}], "requestBody": {"$ref": "#/components/requestBodies/CreateWork"}, "responses": {"201": {"$ref": "#/components/responses/WorkItemCreated"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/work-items/summary": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "get": {"operationId": "workSummary", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "responses": {"200": {"$ref": "#/components/responses/WorkSummaryOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/work-items/{itemID}": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/itemID"}], "get": {"operationId": "workItem", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "responses": {"200": {"$ref": "#/components/responses/WorkItemOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/work-items/{itemID}/children": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/itemID"}], "get": {"operationId": "workChildren", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/limit"}], "responses": {"200": {"$ref": "#/components/responses/WorkItemsOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/work-items/{itemID}/transitions": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/itemID"}], "post": {"operationId": "workTransition", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}, {"$ref": "#/components/parameters/ifMatch"}], "requestBody": {"$ref": "#/components/requestBodies/TransitionWork"}, "responses": {"200": {"$ref": "#/components/responses/WorkItemOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/work-items/{itemID}/assignment": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/itemID"}], "patch": {"operationId": "workAssign", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}, {"$ref": "#/components/parameters/ifMatch"}], "requestBody": {"$ref": "#/components/requestBodies/AssignWork"}, "responses": {"200": {"$ref": "#/components/responses/WorkItemOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/agent-boardrooms": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "get": {"operationId": "agentBoardrooms", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}, "post": {"operationId": "agentBoardroomCreate", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/agent-boardrooms/{boardroomID}/personas": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/boardroomID"}], "get": {"operationId": "agentPersonas", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}, "post": {"operationId": "agentPersonaPublish", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/agent-boardrooms/{boardroomID}/runs": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/boardroomID"}], "post": {"operationId": "agentRunStart", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/agent-runs/{runID}": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/runID"}], "get": {"operationId": "agentRun", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "responses": {"2XX": {"$ref": "#/components/responses/Success"}, "default": {"$ref": "#/components/responses/Problem"}}}}
  },
  "components": {
    "securitySchemes": {
      "sessionCookie": {"type": "apiKey", "in": "cookie", "name": "__Host-spyglass_session"},
      "stripeSignature": {"type": "apiKey", "in": "header", "name": "Stripe-Signature"}
    },
    "parameters": {
      "accountID": {"name": "accountID", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}},
      "boardroomID": {"name": "boardroomID", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}},
      "ceremonyID": {"name": "ceremonyID", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}},
      "credentialID": {"name": "credentialID", "in": "path", "required": true, "schema": {"type": "string", "minLength": 1, "maxLength": 1024}},
      "itemID": {"name": "itemID", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}},
      "membershipID": {"name": "membershipID", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}},
      "runID": {"name": "runID", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}},
      "sessionID": {"name": "sessionID", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}},
      "idempotencyKey": {"name": "Idempotency-Key", "in": "header", "required": true, "schema": {"type": "string", "format": "uuid"}},
      "ifMatch": {"name": "If-Match", "in": "header", "required": true, "schema": {"type": "string", "pattern": "^W/\\\"[1-9][0-9]*\\\"$"}},
      "workState": {"name": "state", "in": "query", "required": false, "style": "form", "explode": true, "schema": {"type": "array", "maxItems": 5, "uniqueItems": true, "items": {"$ref": "#/components/schemas/WorkState"}}},
      "workKind": {"name": "kind", "in": "query", "required": false, "style": "form", "explode": true, "schema": {"type": "array", "maxItems": 2, "uniqueItems": true, "items": {"$ref": "#/components/schemas/WorkKind"}}},
      "search": {"name": "q", "in": "query", "required": false, "schema": {"type": "string", "maxLength": 200}},
      "cursor": {"name": "cursor", "in": "query", "required": false, "schema": {"type": "string", "maxLength": 1024, "pattern": "^[A-Za-z0-9_-]+$"}},
      "limit": {"name": "limit", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 1, "maximum": 100, "default": 50}}
    },
    "schemas": {
      "Problem": {"type": "object", "required": ["type", "title", "status", "code", "detail"], "properties": {"type": {"type": "string", "format": "uri", "pattern": "^https://infiniteocean\\.net/problems/[a-z][a-z0-9_]{0,99}$"}, "title": {"type": "string", "minLength": 1}, "status": {"type": "integer", "minimum": 400, "maximum": 599}, "code": {"type": "string", "pattern": "^[a-z][a-z0-9_]{0,99}$"}, "detail": {"type": "string", "minLength": 1}}, "additionalProperties": false},
      "PackageAccess": {"type": "object", "required": ["code", "version", "mode"], "properties": {"code": {"type": "string", "pattern": "^[a-z][a-z0-9_-]{0,49}$"}, "version": {"type": "integer", "minimum": 1}, "mode": {"type": "string", "enum": ["enabled", "read_only", "suspended"]}, "limits": {"type": "object", "additionalProperties": {"type": "integer", "minimum": 0}}, "limit_policies": {"type": "object", "additionalProperties": {"$ref": "#/components/schemas/LimitPolicy"}}}, "additionalProperties": false},
      "LimitPolicy": {"type": "object", "required": ["kind", "combine"], "properties": {"kind": {"type": "string", "enum": ["capacity"]}, "combine": {"type": "string", "enum": ["replace", "add", "maximum", "minimum"]}, "reservation_ttl_seconds": {"type": "integer", "minimum": 1}}, "additionalProperties": false},
      "AccountContext": {"type": "object", "required": ["account_id", "actor_kind", "role", "cell_id", "placement_generation", "entitlement_version", "package_access"], "properties": {"account_id": {"type": "string", "format": "uuid"}, "actor_kind": {"type": "string", "enum": ["user", "workload"]}, "role": {"type": "string", "enum": ["owner", "administrator", "billing_admin", "member", "viewer"]}, "cell_id": {"type": "string", "pattern": "^[a-z][a-z0-9-]{0,63}$"}, "placement_generation": {"type": "integer", "minimum": 1}, "entitlement_version": {"type": "integer", "minimum": 1}, "package_access": {"anyOf": [{"$ref": "#/components/schemas/PackageAccess"}, {"type": "null"}]}}, "additionalProperties": false},
      "WorkKind": {"type": "string", "enum": ["todo", "ticket"]},
      "WorkState": {"type": "string", "enum": ["open", "in_progress", "waiting", "done", "canceled"]},
      "WorkPriority": {"type": "string", "enum": ["low", "normal", "high", "urgent"]},
      "WorkResponsibility": {"type": "string", "enum": ["user", "persona", "shared", "external"]},
      "WorkAssignment": {"type": "object", "required": ["responsibility"], "properties": {"responsibility": {"$ref": "#/components/schemas/WorkResponsibility"}, "user_id": {"type": "string", "format": "uuid"}, "persona_id": {"type": "string", "format": "uuid"}, "external_ref": {"type": "string", "minLength": 2, "maxLength": 200}}, "additionalProperties": false},
      "WorkAssignmentInput": {"type": "object", "required": ["responsibility"], "properties": {"responsibility": {"type": "string", "enum": ["user", "shared", "external"]}, "user_id": {"type": "string", "format": "uuid"}, "external_ref": {"type": "string", "minLength": 2, "maxLength": 200}}, "additionalProperties": false},
      "WorkActor": {"type": "object", "required": ["kind", "id"], "properties": {"kind": {"type": "string", "enum": ["user", "workload"]}, "id": {"type": "string", "minLength": 1, "maxLength": 200}}, "additionalProperties": false},
      "WorkProvenance": {"type": "object", "required": ["source", "created_by"], "properties": {"source": {"type": "string", "enum": ["manual", "baseline", "schedule", "conversation", "run", "system"]}, "created_by": {"$ref": "#/components/schemas/WorkActor"}, "baseline_requirement_id": {"type": "string", "format": "uuid"}, "schedule_id": {"type": "string", "format": "uuid"}, "conversation_id": {"type": "string", "format": "uuid"}, "run_id": {"type": "string", "format": "uuid"}}, "additionalProperties": false},
      "WorkItem": {"type": "object", "required": ["id", "number", "depth", "kind", "title", "description", "state", "priority", "assignment", "provenance", "version", "created_at", "updated_at"], "properties": {"id": {"type": "string", "format": "uuid"}, "number": {"type": "integer", "minimum": 1}, "parent_id": {"type": "string", "format": "uuid"}, "depth": {"type": "integer", "minimum": 0, "maximum": 3}, "kind": {"$ref": "#/components/schemas/WorkKind"}, "title": {"type": "string", "minLength": 2, "maxLength": 240}, "description": {"type": "string", "maxLength": 20000}, "state": {"$ref": "#/components/schemas/WorkState"}, "priority": {"$ref": "#/components/schemas/WorkPriority"}, "assignment": {"$ref": "#/components/schemas/WorkAssignment"}, "provenance": {"$ref": "#/components/schemas/WorkProvenance"}, "due_at": {"type": "string", "format": "date-time"}, "completed_at": {"type": "string", "format": "date-time"}, "version": {"type": "integer", "minimum": 1}, "created_at": {"type": "string", "format": "date-time"}, "updated_at": {"type": "string", "format": "date-time"}}, "additionalProperties": false},
      "WorkPage": {"type": "object", "required": ["items"], "properties": {"items": {"type": "array", "maxItems": 100, "items": {"$ref": "#/components/schemas/WorkItem"}}, "next_cursor": {"type": "string", "maxLength": 1024, "pattern": "^[A-Za-z0-9_-]+$"}}, "additionalProperties": false},
      "WorkItems": {"type": "object", "required": ["items"], "properties": {"items": {"type": "array", "maxItems": 100, "items": {"$ref": "#/components/schemas/WorkItem"}}}, "additionalProperties": false},
      "WorkSummary": {"type": "object", "required": ["active", "in_progress", "waiting", "urgent", "done"], "properties": {"active": {"type": "integer", "minimum": 0}, "in_progress": {"type": "integer", "minimum": 0}, "waiting": {"type": "integer", "minimum": 0}, "urgent": {"type": "integer", "minimum": 0}, "done": {"type": "integer", "minimum": 0}}, "additionalProperties": false},
      "CreateWorkRequest": {"type": "object", "required": ["kind", "title", "priority", "assignment"], "properties": {"parent_id": {"type": "string", "format": "uuid"}, "kind": {"$ref": "#/components/schemas/WorkKind"}, "title": {"type": "string", "minLength": 2, "maxLength": 240}, "description": {"type": "string", "maxLength": 20000}, "priority": {"$ref": "#/components/schemas/WorkPriority"}, "assignment": {"$ref": "#/components/schemas/WorkAssignmentInput"}, "due_at": {"type": "string", "format": "date-time"}, "reason": {"type": "string", "maxLength": 1000}}, "additionalProperties": false},
      "TransitionWorkRequest": {"type": "object", "required": ["to"], "properties": {"to": {"$ref": "#/components/schemas/WorkState"}, "reason": {"type": "string", "maxLength": 1000}}, "additionalProperties": false},
      "AssignWorkRequest": {"type": "object", "required": ["assignment"], "properties": {"assignment": {"$ref": "#/components/schemas/WorkAssignmentInput"}, "reason": {"type": "string", "maxLength": 1000}}, "additionalProperties": false}
    },
    "requestBodies": {
      "CreateWork": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CreateWorkRequest"}}}},
      "TransitionWork": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TransitionWorkRequest"}}}},
      "AssignWork": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AssignWorkRequest"}}}}
    },
    "responses": {
      "Success": {"description": "Successful response. Status codes and operation-specific payload schemas are certified per operation before this contract is published as a typed SDK surface."},
      "AccountContextOK": {"description": "Trusted routed Account context", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AccountContext"}}}},
      "WorkPageOK": {"description": "Stable cursor Work page", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/WorkPage"}}}},
      "WorkSummaryOK": {"description": "Work queue summary", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/WorkSummary"}}}},
      "WorkItemsOK": {"description": "Direct Work children", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/WorkItems"}}}},
      "WorkItemOK": {"description": "Work item", "headers": {"ETag": {"required": true, "schema": {"type": "string", "pattern": "^W/\\\"[1-9][0-9]*\\\"$"}}}, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/WorkItem"}}}},
      "WorkItemCreated": {"description": "Work item created", "headers": {"ETag": {"required": true, "schema": {"type": "string", "pattern": "^W/\\\"[1-9][0-9]*\\\"$"}}, "Location": {"required": true, "schema": {"type": "string", "pattern": "^/api/v1/accounts/[0-9a-f-]{36}/work-items/[0-9a-f-]{36}$"}}}, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/WorkItem"}}}},
      "Problem": {"description": "Request failed", "content": {"application/problem+json": {"schema": {"$ref": "#/components/schemas/Problem"}}}}
    }
  }
}
