{
  "openapi": "3.1.0",
  "info": {"title": "Infinite Ocean: Spyglass API", "version": "0.1.0", "description": "Customer-facing JSON API. Cell-owned operations are reached through the authenticated Spyglass router; clients never select a cell."},
  "servers": [{"url": "https://app.infiniteocean.net"}],
  "paths": {
    "/api/v1/catalog/public": {"get": {"operationId": "publicCatalog", "x-spyglass-service": "account-api", "security": [], "responses": {"200": {"$ref": "#/components/responses/PublicCatalogOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/registrations": {"post": {"operationId": "beginRegistration", "x-spyglass-service": "account-api", "security": [], "requestBody": {"$ref": "#/components/requestBodies/BeginRegistration"}, "responses": {"202": {"$ref": "#/components/responses/RegistrationAccepted"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/registrations/verify": {"post": {"operationId": "completeRegistration", "x-spyglass-service": "account-api", "security": [], "requestBody": {"$ref": "#/components/requestBodies/CompleteRegistration"}, "responses": {"201": {"$ref": "#/components/responses/RegistrationCompleted"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/recovery-challenges": {"post": {"operationId": "beginRecovery", "x-spyglass-service": "account-api", "security": [], "requestBody": {"$ref": "#/components/requestBodies/BeginRecovery"}, "responses": {"202": {"$ref": "#/components/responses/RecoveryAccepted"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/recovery-challenges/complete": {"post": {"operationId": "completeRecovery", "x-spyglass-service": "account-api", "security": [], "requestBody": {"$ref": "#/components/requestBodies/CompleteRecovery"}, "responses": {"204": {"$ref": "#/components/responses/NoContent"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/contact-change-requests": {"post": {"operationId": "beginContactChange", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/origin"}], "requestBody": {"$ref": "#/components/requestBodies/BeginContactChange"}, "responses": {"202": {"$ref": "#/components/responses/ContactChangeAccepted"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/contact-change-verifications": {"post": {"operationId": "completeContactChange", "x-spyglass-service": "account-api", "security": [], "requestBody": {"$ref": "#/components/requestBodies/CompleteContactChange"}, "responses": {"200": {"$ref": "#/components/responses/ContactChangeCompleted"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/sessions": {
      "get": {"operationId": "listSessions", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"200": {"$ref": "#/components/responses/ActiveSessionsOK"}, "default": {"$ref": "#/components/responses/Problem"}}},
      "post": {"operationId": "login", "x-spyglass-service": "account-api", "security": [], "requestBody": {"$ref": "#/components/requestBodies/Login"}, "responses": {"201": {"$ref": "#/components/responses/LoginCreated"}, "default": {"$ref": "#/components/responses/Problem"}}},
      "delete": {"operationId": "logoutAll", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/origin"}], "responses": {"204": {"$ref": "#/components/responses/SessionCleared"}, "default": {"$ref": "#/components/responses/Problem"}}}
    },
    "/api/v1/passkey-login/challenges": {"post": {"operationId": "beginPasskeyLogin", "x-spyglass-service": "account-api", "security": [], "parameters": [{"$ref": "#/components/parameters/origin"}], "responses": {"201": {"$ref": "#/components/responses/PasskeyCeremonyCreated"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/passkey-login/challenges/{ceremonyID}/complete": {"parameters": [{"$ref": "#/components/parameters/ceremonyID"}], "post": {"operationId": "completePasskeyLogin", "x-spyglass-service": "account-api", "security": [], "parameters": [{"$ref": "#/components/parameters/origin"}], "requestBody": {"$ref": "#/components/requestBodies/CompletePasskeyLogin"}, "responses": {"201": {"$ref": "#/components/responses/PasskeyLoginCreated"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/passkeys": {"get": {"operationId": "listPasskeys", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"200": {"$ref": "#/components/responses/PasskeysOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/passkey-registrations": {"post": {"operationId": "beginPasskeyRegistration", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/origin"}], "responses": {"201": {"$ref": "#/components/responses/PasskeyCeremonyCreated"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/passkey-registrations/{ceremonyID}/complete": {"parameters": [{"$ref": "#/components/parameters/ceremonyID"}], "post": {"operationId": "completePasskeyRegistration", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/origin"}], "requestBody": {"$ref": "#/components/requestBodies/CompletePasskeyRegistration"}, "responses": {"201": {"$ref": "#/components/responses/PasskeyCreated"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/passkeys/{credentialID}": {"parameters": [{"$ref": "#/components/parameters/credentialID"}], "patch": {"operationId": "renamePasskey", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/origin"}], "requestBody": {"$ref": "#/components/requestBodies/RenamePasskey"}, "responses": {"204": {"$ref": "#/components/responses/NoContent"}, "default": {"$ref": "#/components/responses/Problem"}}}, "delete": {"operationId": "deletePasskey", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/origin"}], "responses": {"204": {"$ref": "#/components/responses/NoContent"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/passkeys/{credentialID}/compromise": {"parameters": [{"$ref": "#/components/parameters/credentialID"}], "post": {"operationId": "compromisePasskey", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/origin"}], "responses": {"204": {"$ref": "#/components/responses/SessionCleared"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/passkey-reauthentications": {"post": {"operationId": "beginPasskeyReauthentication", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/origin"}], "responses": {"201": {"$ref": "#/components/responses/PasskeyCeremonyCreated"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/passkey-reauthentications/{ceremonyID}/complete": {"parameters": [{"$ref": "#/components/parameters/ceremonyID"}], "post": {"operationId": "completePasskeyReauthentication", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/origin"}], "requestBody": {"$ref": "#/components/requestBodies/CompletePasskeyReauthentication"}, "responses": {"204": {"$ref": "#/components/responses/NoContent"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/recovery-codes": {
      "get": {"operationId": "recoveryCodeStatus", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"200": {"$ref": "#/components/responses/RecoveryCodeStatusOK"}, "default": {"$ref": "#/components/responses/Problem"}}},
      "post": {"operationId": "rotateRecoveryCodes", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/origin"}], "responses": {"201": {"$ref": "#/components/responses/RecoveryCodesCreated"}, "default": {"$ref": "#/components/responses/Problem"}}}
    },
    "/api/v1/recovery-codes/consume": {"post": {"operationId": "consumeRecoveryCode", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/origin"}], "requestBody": {"$ref": "#/components/requestBodies/ConsumeRecoveryCode"}, "responses": {"204": {"$ref": "#/components/responses/NoContent"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/security-posture": {"get": {"operationId": "securityPostureStatus", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"200": {"$ref": "#/components/responses/SecurityPostureOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/security-events": {"get": {"operationId": "listSecurityEvents", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"200": {"$ref": "#/components/responses/SecurityEventsOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/sessions/{sessionID}": {"parameters": [{"$ref": "#/components/parameters/sessionID"}], "delete": {"operationId": "revokeSession", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/origin"}], "responses": {"204": {"$ref": "#/components/responses/NoContent"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/session/reauthenticate": {"post": {"operationId": "reauthenticate", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/origin"}], "requestBody": {"$ref": "#/components/requestBodies/Reauthenticate"}, "responses": {"204": {"$ref": "#/components/responses/NoContent"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/session": {"delete": {"operationId": "logout", "x-spyglass-service": "account-api", "security": [], "responses": {"204": {"$ref": "#/components/responses/SessionCleared"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/session/accounts": {"get": {"operationId": "listAccounts", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"200": {"$ref": "#/components/responses/AccountChoicesOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/session/account": {"post": {"operationId": "selectAccount", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/origin"}], "requestBody": {"$ref": "#/components/requestBodies/SelectAccount"}, "responses": {"200": {"$ref": "#/components/responses/AccountSelected"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/account-closures": {"get": {"operationId": "listAccountClosures", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"200": {"$ref": "#/components/responses/AccountClosuresOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/closure": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "post": {"operationId": "requestAccountClosure", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/origin"}], "requestBody": {"$ref": "#/components/requestBodies/ChangeAccountClosure"}, "responses": {"202": {"$ref": "#/components/responses/AccountClosureAccepted"}, "default": {"$ref": "#/components/responses/Problem"}}}, "delete": {"operationId": "cancelAccountClosure", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/origin"}], "requestBody": {"$ref": "#/components/requestBodies/ChangeAccountClosure"}, "responses": {"200": {"$ref": "#/components/responses/AccountClosureOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/invitations": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "post": {"operationId": "createInvitation", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/origin"}], "requestBody": {"$ref": "#/components/requestBodies/CreateInvitation"}, "responses": {"201": {"$ref": "#/components/responses/InvitationCreated"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/memberships": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "get": {"operationId": "listMemberships", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "responses": {"200": {"$ref": "#/components/responses/MembershipsOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/memberships/{membershipID}": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/membershipID"}], "patch": {"operationId": "changeMembershipRole", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/origin"}], "requestBody": {"$ref": "#/components/requestBodies/ChangeMembershipRole"}, "responses": {"200": {"$ref": "#/components/responses/MembershipOK"}, "default": {"$ref": "#/components/responses/Problem"}}}, "delete": {"operationId": "removeMembership", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/origin"}], "requestBody": {"$ref": "#/components/requestBodies/ChangeMembershipState"}, "responses": {"204": {"$ref": "#/components/responses/NoContent"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/memberships/{membershipID}/suspensions": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/membershipID"}], "post": {"operationId": "suspendMembership", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/origin"}], "requestBody": {"$ref": "#/components/requestBodies/ChangeMembershipState"}, "responses": {"200": {"$ref": "#/components/responses/MembershipOK"}, "default": {"$ref": "#/components/responses/Problem"}}}, "delete": {"operationId": "reactivateMembership", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/origin"}], "requestBody": {"$ref": "#/components/requestBodies/ChangeMembershipState"}, "responses": {"200": {"$ref": "#/components/responses/MembershipOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/membership": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "delete": {"operationId": "leaveAccount", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/origin"}], "requestBody": {"$ref": "#/components/requestBodies/ChangeMembershipState"}, "responses": {"204": {"$ref": "#/components/responses/NoContent"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/ownership-transfers": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "post": {"operationId": "transferOwnership", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/origin"}], "requestBody": {"$ref": "#/components/requestBodies/TransferOwnership"}, "responses": {"200": {"$ref": "#/components/responses/OwnershipTransferred"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/checkout-sessions": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "post": {"operationId": "createCheckoutSession", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/optionalOrigin"}, {"$ref": "#/components/parameters/idempotencyKey"}], "requestBody": {"$ref": "#/components/requestBodies/CreateCheckoutSession"}, "responses": {"201": {"$ref": "#/components/responses/HostedBillingSessionCreated"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/billing-portal-sessions": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "post": {"operationId": "createBillingPortalSession", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/optionalOrigin"}, {"$ref": "#/components/parameters/idempotencyKey"}], "responses": {"201": {"$ref": "#/components/responses/HostedBillingSessionCreated"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/billing": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "get": {"operationId": "billingStatus", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/optionalOrigin"}], "responses": {"200": {"$ref": "#/components/responses/BillingStatusOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/invitations/accept": {"post": {"operationId": "acceptInvitation", "x-spyglass-service": "account-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/origin"}], "requestBody": {"$ref": "#/components/requestBodies/AcceptInvitation"}, "responses": {"201": {"$ref": "#/components/responses/InvitationAccepted"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/webhooks/stripe": {"post": {"operationId": "stripeWebhook", "x-spyglass-service": "account-api", "security": [{"stripeSignature": []}], "requestBody": {"$ref": "#/components/requestBodies/StripeWebhook"}, "responses": {"200": {"$ref": "#/components/responses/StripeWebhookAccepted"}, "default": {"$ref": "#/components/responses/Problem"}}}},

    "/api/v1/accounts/{accountID}/context": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "get": {"operationId": "accountContext", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "responses": {"200": {"$ref": "#/components/responses/AccountContextOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/work-items": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "get": {"operationId": "workList", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/workState"}, {"$ref": "#/components/parameters/workKind"}, {"$ref": "#/components/parameters/search"}, {"$ref": "#/components/parameters/cursor"}, {"$ref": "#/components/parameters/limit"}], "responses": {"200": {"$ref": "#/components/responses/WorkPageOK"}, "default": {"$ref": "#/components/responses/Problem"}}}, "post": {"operationId": "workCreate", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}], "requestBody": {"$ref": "#/components/requestBodies/CreateWork"}, "responses": {"201": {"$ref": "#/components/responses/WorkItemCreated"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/work-items/summary": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "get": {"operationId": "workSummary", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "responses": {"200": {"$ref": "#/components/responses/WorkSummaryOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/work-items/{itemID}": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/itemID"}], "get": {"operationId": "workItem", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "responses": {"200": {"$ref": "#/components/responses/WorkItemOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/work-items/{itemID}/children": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/itemID"}], "get": {"operationId": "workChildren", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/limit"}], "responses": {"200": {"$ref": "#/components/responses/WorkItemsOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/work-items/{itemID}/transitions": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/itemID"}], "post": {"operationId": "workTransition", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}, {"$ref": "#/components/parameters/ifMatch"}], "requestBody": {"$ref": "#/components/requestBodies/TransitionWork"}, "responses": {"200": {"$ref": "#/components/responses/WorkItemOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/work-items/{itemID}/assignment": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/itemID"}], "patch": {"operationId": "workAssign", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}, {"$ref": "#/components/parameters/ifMatch"}], "requestBody": {"$ref": "#/components/requestBodies/AssignWork"}, "responses": {"200": {"$ref": "#/components/responses/WorkItemOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/work-items/{itemID}/provenance-links": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/itemID"}], "post": {"operationId": "workAttachProvenance", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}, {"$ref": "#/components/parameters/ifMatch"}], "requestBody": {"$ref": "#/components/requestBodies/AttachWorkProvenance"}, "responses": {"200": {"$ref": "#/components/responses/WorkItemOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/work-items/{itemID}/conversation-links": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/itemID"}], "post": {"operationId": "workLinkConversation", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}, {"$ref": "#/components/parameters/ifMatch"}], "requestBody": {"$ref": "#/components/requestBodies/LinkWorkConversation"}, "responses": {"200": {"$ref": "#/components/responses/WorkItemOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/agent-boardrooms": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "get": {"operationId": "agentBoardrooms", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "responses": {"200": {"$ref": "#/components/responses/AgentBoardroomsOK"}, "default": {"$ref": "#/components/responses/Problem"}}}, "post": {"operationId": "agentBoardroomCreate", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}], "requestBody": {"$ref": "#/components/requestBodies/CreateAgentBoardroom"}, "responses": {"200": {"$ref": "#/components/responses/AgentBoardroomWithLocation"}, "201": {"$ref": "#/components/responses/AgentBoardroomWithLocation"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/agent-boardrooms/{boardroomID}/personas": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/boardroomID"}], "get": {"operationId": "agentPersonas", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "responses": {"200": {"$ref": "#/components/responses/AgentPersonasOK"}, "default": {"$ref": "#/components/responses/Problem"}}}, "post": {"operationId": "agentPersonaPublish", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}], "requestBody": {"$ref": "#/components/requestBodies/PublishAgentPersona"}, "responses": {"200": {"$ref": "#/components/responses/AgentPersonaOK"}, "201": {"$ref": "#/components/responses/AgentPersonaOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/agent-boardrooms/{boardroomID}/conversations": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/boardroomID"}], "get": {"operationId": "agentConversations", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/cursor"}, {"$ref": "#/components/parameters/limit"}], "responses": {"200": {"$ref": "#/components/responses/AgentConversationsOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/agent-boardrooms/{boardroomID}/runs": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/boardroomID"}], "post": {"operationId": "agentRunStart", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}], "requestBody": {"$ref": "#/components/requestBodies/StartAgentRun"}, "responses": {"200": {"$ref": "#/components/responses/AgentRunWithLocation"}, "202": {"$ref": "#/components/responses/AgentRunWithLocation"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/agent-conversations/{conversationID}": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/conversationID"}], "get": {"operationId": "agentConversation", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "responses": {"200": {"$ref": "#/components/responses/AgentConversationOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/agent-conversations/{conversationID}/messages": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/conversationID"}], "get": {"operationId": "agentMessages", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/cursor"}, {"$ref": "#/components/parameters/limit"}], "responses": {"200": {"$ref": "#/components/responses/AgentMessagesOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/agent-runs/{runID}": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/runID"}], "get": {"operationId": "agentRun", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "responses": {"200": {"$ref": "#/components/responses/AgentRunOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/agent-runs/{runID}/resolutions": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/runID"}], "post": {"operationId": "agentRunResolve", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}], "requestBody": {"$ref": "#/components/requestBodies/ResolveAgentRun"}, "responses": {"200": {"$ref": "#/components/responses/AgentRunResolutionWithLocation"}, "201": {"$ref": "#/components/responses/AgentRunResolutionWithLocation"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/attention/information-requests": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "get": {"operationId": "attentionInformationList", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/informationState"}, {"$ref": "#/components/parameters/parentWorkItemID"}, {"$ref": "#/components/parameters/cursor"}, {"$ref": "#/components/parameters/limit"}], "responses": {"200": {"$ref": "#/components/responses/InformationRequestPageOK"}, "default": {"$ref": "#/components/responses/Problem"}}}, "post": {"operationId": "attentionInformationCreate", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}], "requestBody": {"$ref": "#/components/requestBodies/CreateInformationRequest"}, "responses": {"201": {"$ref": "#/components/responses/InformationRequestCreated"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/attention/information-requests/{requestID}": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/requestID"}], "get": {"operationId": "attentionInformationGet", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "responses": {"200": {"$ref": "#/components/responses/InformationRequestOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/attention/information-requests/{requestID}/answers": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/requestID"}], "post": {"operationId": "attentionInformationAnswer", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}, {"$ref": "#/components/parameters/ifMatch"}], "requestBody": {"$ref": "#/components/requestBodies/AnswerInformationRequest"}, "responses": {"200": {"$ref": "#/components/responses/InformationCompletionOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/attention/information-requests/{requestID}/cancellations": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/requestID"}], "post": {"operationId": "attentionInformationCancel", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}, {"$ref": "#/components/parameters/ifMatch"}], "requestBody": {"$ref": "#/components/requestBodies/AttentionReason"}, "responses": {"200": {"$ref": "#/components/responses/InformationRequestOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/attention/work-reviews": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "get": {"operationId": "attentionReviewList", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/reviewState"}, {"$ref": "#/components/parameters/reviewerID"}, {"$ref": "#/components/parameters/workItemID"}, {"$ref": "#/components/parameters/cursor"}, {"$ref": "#/components/parameters/limit"}], "responses": {"200": {"$ref": "#/components/responses/WorkReviewPageOK"}, "default": {"$ref": "#/components/responses/Problem"}}}, "post": {"operationId": "attentionReviewCreate", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}], "requestBody": {"$ref": "#/components/requestBodies/CreateWorkReview"}, "responses": {"201": {"$ref": "#/components/responses/WorkReviewCreated"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/attention/work-reviews/{reviewID}": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/reviewID"}], "get": {"operationId": "attentionReviewGet", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "responses": {"200": {"$ref": "#/components/responses/WorkReviewOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/attention/work-reviews/{reviewID}/decisions": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/reviewID"}], "post": {"operationId": "attentionReviewDecide", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}, {"$ref": "#/components/parameters/ifMatch"}], "requestBody": {"$ref": "#/components/requestBodies/DecideWorkReview"}, "responses": {"200": {"$ref": "#/components/responses/WorkReviewOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/attention/work-reviews/{reviewID}/cancellations": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/reviewID"}], "post": {"operationId": "attentionReviewCancel", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}, {"$ref": "#/components/parameters/ifMatch"}], "requestBody": {"$ref": "#/components/requestBodies/AttentionReason"}, "responses": {"200": {"$ref": "#/components/responses/WorkReviewOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/attention/approvals": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "get": {"operationId": "attentionApprovalList", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/approvalState"}, {"$ref": "#/components/parameters/workItemID"}, {"$ref": "#/components/parameters/cursor"}, {"$ref": "#/components/parameters/limit"}], "responses": {"200": {"$ref": "#/components/responses/ApprovalPageOK"}, "default": {"$ref": "#/components/responses/Problem"}}}, "post": {"operationId": "attentionApprovalCreate", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}], "requestBody": {"$ref": "#/components/requestBodies/CreateApproval"}, "responses": {"201": {"$ref": "#/components/responses/ApprovalCreated"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/attention/approvals/{approvalID}": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/approvalID"}], "get": {"operationId": "attentionApprovalGet", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "responses": {"200": {"$ref": "#/components/responses/ApprovalOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/attention/approvals/{approvalID}/decisions": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/approvalID"}], "post": {"operationId": "attentionApprovalDecide", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}, {"$ref": "#/components/parameters/ifMatch"}], "requestBody": {"$ref": "#/components/requestBodies/DecideApproval"}, "responses": {"200": {"$ref": "#/components/responses/ApprovalOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/attention/approvals/{approvalID}/cancellations": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/approvalID"}], "post": {"operationId": "attentionApprovalCancel", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}, {"$ref": "#/components/parameters/ifMatch"}], "requestBody": {"$ref": "#/components/requestBodies/AttentionReason"}, "responses": {"200": {"$ref": "#/components/responses/ApprovalOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/attention/actions": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "get": {"operationId": "attentionActionList", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/actionState"}, {"$ref": "#/components/parameters/cursor"}, {"$ref": "#/components/parameters/limit"}], "responses": {"200": {"$ref": "#/components/responses/ActionRecoveryPageOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/attention/actions/{operationID}": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/operationID"}], "get": {"operationId": "attentionActionGet", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "responses": {"200": {"$ref": "#/components/responses/ActionRecoveryOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/attention/actions/{operationID}/resolution-requests": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/operationID"}], "post": {"operationId": "attentionActionRequestResolution", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}], "requestBody": {"$ref": "#/components/requestBodies/RequestActionResolution"}, "responses": {"200": {"$ref": "#/components/responses/ActionRecoveryOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/attention/actions/{operationID}/resolutions/{resolutionID}/confirmations": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/operationID"}, {"$ref": "#/components/parameters/resolutionID"}], "post": {"operationId": "attentionActionConfirmResolution", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}], "responses": {"200": {"$ref": "#/components/responses/ActionRecoveryOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/knowledge/evidence": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "post": {"operationId": "knowledgeEvidenceRegister", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}], "requestBody": {"$ref": "#/components/requestBodies/RegisterKnowledgeEvidence"}, "responses": {"201": {"$ref": "#/components/responses/KnowledgeEvidenceCreated"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/knowledge/facts": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "get": {"operationId": "knowledgeFactList", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/knowledgeScopeKind"}, {"$ref": "#/components/parameters/knowledgeScopeID"}, {"$ref": "#/components/parameters/knowledgeKeyPrefix"}, {"$ref": "#/components/parameters/cursor"}, {"$ref": "#/components/parameters/limit"}], "responses": {"200": {"$ref": "#/components/responses/KnowledgeFactPageOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/knowledge/claims": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "get": {"operationId": "knowledgeClaimList", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/knowledgeClaimState"}, {"$ref": "#/components/parameters/knowledgeScopeKind"}, {"$ref": "#/components/parameters/knowledgeScopeID"}, {"$ref": "#/components/parameters/knowledgeKeyPrefix"}, {"$ref": "#/components/parameters/cursor"}, {"$ref": "#/components/parameters/limit"}], "responses": {"200": {"$ref": "#/components/responses/KnowledgeClaimPageOK"}, "default": {"$ref": "#/components/responses/Problem"}}}, "post": {"operationId": "knowledgeClaimPropose", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}], "requestBody": {"$ref": "#/components/requestBodies/ProposeKnowledgeClaim"}, "responses": {"201": {"$ref": "#/components/responses/KnowledgeClaimCreated"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/knowledge/claims/{claimID}": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/claimID"}], "get": {"operationId": "knowledgeClaimGet", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "responses": {"200": {"$ref": "#/components/responses/KnowledgeClaimOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/knowledge/claims/{claimID}/decisions": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/claimID"}], "post": {"operationId": "knowledgeClaimDecide", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}, {"$ref": "#/components/parameters/ifMatch"}], "requestBody": {"$ref": "#/components/requestBodies/DecideKnowledgeClaim"}, "responses": {"200": {"$ref": "#/components/responses/KnowledgeClaimDecisionOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/knowledge/retrieval": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "post": {"operationId": "knowledgeDocumentRetrieve", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "requestBody": {"$ref": "#/components/requestBodies/RetrieveKnowledgeDocuments"}, "responses": {"200": {"$ref": "#/components/responses/KnowledgeDocumentRetrievalOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/knowledge/documents": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "get": {"operationId": "knowledgeDocumentList", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/knowledgeDocumentState"}, {"$ref": "#/components/parameters/knowledgeDocumentTitlePrefix"}, {"$ref": "#/components/parameters/cursor"}, {"$ref": "#/components/parameters/limit"}], "responses": {"200": {"$ref": "#/components/responses/KnowledgeDocumentPageOK"}, "default": {"$ref": "#/components/responses/Problem"}}}, "post": {"operationId": "knowledgeDocumentUpload", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}], "requestBody": {"$ref": "#/components/requestBodies/UploadKnowledgeDocument"}, "responses": {"201": {"$ref": "#/components/responses/KnowledgeDocumentCreated"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/knowledge/documents/{documentID}": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/documentID"}], "get": {"operationId": "knowledgeDocumentGet", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "responses": {"200": {"$ref": "#/components/responses/KnowledgeDocumentOK"}, "default": {"$ref": "#/components/responses/Problem"}}}, "delete": {"operationId": "knowledgeDocumentDelete", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}, {"$ref": "#/components/parameters/ifMatch"}], "responses": {"202": {"$ref": "#/components/responses/KnowledgeDocumentDeletionAccepted"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/knowledge/documents/{documentID}/publications": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/documentID"}], "post": {"operationId": "knowledgeDocumentPublish", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}, {"$ref": "#/components/parameters/ifMatch"}], "requestBody": {"$ref": "#/components/requestBodies/PublishKnowledgeDocument"}, "responses": {"200": {"$ref": "#/components/responses/KnowledgeDocumentPublished"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/knowledge/documents/{documentID}/revisions/{revisionID}/chunks/{chunkID}": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/documentID"}, {"$ref": "#/components/parameters/revisionID"}, {"$ref": "#/components/parameters/chunkID"}], "get": {"operationId": "knowledgeDocumentCitationGet", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "responses": {"200": {"$ref": "#/components/responses/KnowledgeDocumentCitationOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/baseline-assessments": {"parameters": [{"$ref": "#/components/parameters/accountID"}], "post": {"operationId": "baselineStart", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}], "requestBody": {"$ref": "#/components/requestBodies/StartBaseline"}, "responses": {"201": {"$ref": "#/components/responses/BaselineCreated"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/baseline-assessments/{assessmentID}": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/assessmentID"}], "get": {"operationId": "baselineGet", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "responses": {"200": {"$ref": "#/components/responses/BaselineOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/baseline-assessments/{assessmentID}/answers": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/assessmentID"}], "post": {"operationId": "baselineAnswer", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}, {"$ref": "#/components/parameters/ifMatch"}], "requestBody": {"$ref": "#/components/requestBodies/AnswerBaseline"}, "responses": {"200": {"$ref": "#/components/responses/BaselineOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/baseline-assessments/{assessmentID}/inventory-starts": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/assessmentID"}], "post": {"operationId": "baselineBeginInventory", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}, {"$ref": "#/components/parameters/ifMatch"}], "requestBody": {"$ref": "#/components/requestBodies/BaselineEmptyCommand"}, "responses": {"200": {"$ref": "#/components/responses/BaselineOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/baseline-assessments/{assessmentID}/inventories": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/assessmentID"}], "post": {"operationId": "baselineCompleteInventory", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}, {"$ref": "#/components/parameters/ifMatch"}], "requestBody": {"$ref": "#/components/requestBodies/CompleteBaselineInventory"}, "responses": {"200": {"$ref": "#/components/responses/BaselineOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/baseline-assessments/{assessmentID}/evidence-decisions": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/assessmentID"}], "post": {"operationId": "baselineDecideEvidence", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}, {"$ref": "#/components/parameters/ifMatch"}], "requestBody": {"$ref": "#/components/requestBodies/DecideBaselineEvidence"}, "responses": {"200": {"$ref": "#/components/responses/BaselineOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/baseline-assessments/{assessmentID}/dispositions": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/assessmentID"}], "post": {"operationId": "baselineDisposition", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}, {"$ref": "#/components/parameters/ifMatch"}], "requestBody": {"$ref": "#/components/requestBodies/DispositionBaselineRequirement"}, "responses": {"200": {"$ref": "#/components/responses/BaselineOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/baseline-assessments/{assessmentID}/plans": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/assessmentID"}], "post": {"operationId": "baselineSubmitPlan", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}, {"$ref": "#/components/parameters/ifMatch"}], "requestBody": {"$ref": "#/components/requestBodies/BaselineEmptyCommand"}, "responses": {"200": {"$ref": "#/components/responses/BaselineOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/baseline-assessments/{assessmentID}/plan-approvals": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/assessmentID"}], "post": {"operationId": "baselineApprovePlan", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}, {"$ref": "#/components/parameters/ifMatch"}], "requestBody": {"$ref": "#/components/requestBodies/ApproveBaselinePlan"}, "responses": {"200": {"$ref": "#/components/responses/BaselineOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/baseline-assessments/{assessmentID}/work-materializations": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/assessmentID"}], "post": {"operationId": "baselineMaterializePlan", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}, {"$ref": "#/components/parameters/ifMatch"}], "requestBody": {"$ref": "#/components/requestBodies/ApproveBaselinePlan"}, "responses": {"200": {"$ref": "#/components/responses/BaselineWorkMaterializationOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/baseline-assessments/{assessmentID}/work-evidence-confirmations": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/assessmentID"}], "post": {"operationId": "baselineConfirmWorkEvidence", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}, {"$ref": "#/components/parameters/ifMatch"}], "requestBody": {"$ref": "#/components/requestBodies/ConfirmBaselineWorkEvidence"}, "responses": {"200": {"$ref": "#/components/responses/BaselineOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/baseline-assessments/{assessmentID}/maintenance-work-materializations": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/assessmentID"}], "post": {"operationId": "baselineMaterializeMaintenance", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}, {"$ref": "#/components/parameters/ifMatch"}], "requestBody": {"$ref": "#/components/requestBodies/BaselineEmptyCommand"}, "responses": {"200": {"$ref": "#/components/responses/BaselineWorkMaterializationOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/baseline-assessments/{assessmentID}/readiness": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/assessmentID"}], "post": {"operationId": "baselineMarkReady", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}, {"$ref": "#/components/parameters/ifMatch"}], "requestBody": {"$ref": "#/components/requestBodies/BaselineEmptyCommand"}, "responses": {"200": {"$ref": "#/components/responses/BaselineOK"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/baseline-assessments/{assessmentID}/reassessments": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/assessmentID"}], "post": {"operationId": "baselineReassess", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}, {"$ref": "#/components/parameters/ifMatch"}], "requestBody": {"$ref": "#/components/requestBodies/ReassessBaseline"}, "responses": {"201": {"$ref": "#/components/responses/BaselineReassessmentCreated"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/baseline-assessments/{assessmentID}/source-grants": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/assessmentID"}], "get": {"operationId": "baselineSourceGrantList", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/cursor"}, {"$ref": "#/components/parameters/limit"}], "responses": {"200": {"$ref": "#/components/responses/BaselineSourceGrantPageOK"}, "default": {"$ref": "#/components/responses/Problem"}}}, "post": {"operationId": "baselineSourceGrantCreate", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}], "requestBody": {"$ref": "#/components/requestBodies/CreateBaselineSourceGrant"}, "responses": {"201": {"$ref": "#/components/responses/BaselineSourceGrantCreated"}, "default": {"$ref": "#/components/responses/Problem"}}}},
    "/api/v1/accounts/{accountID}/baseline-assessments/{assessmentID}/source-grants/{grantID}/revocations": {"parameters": [{"$ref": "#/components/parameters/accountID"}, {"$ref": "#/components/parameters/assessmentID"}, {"$ref": "#/components/parameters/grantID"}], "post": {"operationId": "baselineSourceGrantRevoke", "x-spyglass-service": "cell-api", "security": [{"sessionCookie": []}], "parameters": [{"$ref": "#/components/parameters/idempotencyKey"}, {"$ref": "#/components/parameters/ifMatch"}], "requestBody": {"$ref": "#/components/requestBodies/RevokeBaselineSourceGrant"}, "responses": {"200": {"$ref": "#/components/responses/BaselineSourceGrantOK"}, "default": {"$ref": "#/components/responses/Problem"}}}}
  },
  "components": {
    "securitySchemes": {
      "sessionCookie": {"type": "apiKey", "in": "cookie", "name": "__Host-spyglass_session"},
      "stripeSignature": {"type": "apiKey", "in": "header", "name": "Stripe-Signature"}
    },
    "parameters": {
      "accountID": {"name": "accountID", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}},
      "assessmentID": {"name": "assessmentID", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}},
      "grantID": {"name": "grantID", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}},
      "boardroomID": {"name": "boardroomID", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}},
      "conversationID": {"name": "conversationID", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}},
      "ceremonyID": {"name": "ceremonyID", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}},
      "credentialID": {"name": "credentialID", "in": "path", "required": true, "schema": {"type": "string", "minLength": 1, "maxLength": 2048, "pattern": "^[A-Za-z0-9_-]+$"}},
      "itemID": {"name": "itemID", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}},
      "membershipID": {"name": "membershipID", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}},
      "requestID": {"name": "requestID", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}},
      "reviewID": {"name": "reviewID", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}},
      "approvalID": {"name": "approvalID", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}},
      "operationID": {"name": "operationID", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}},
      "resolutionID": {"name": "resolutionID", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}},
      "claimID": {"name": "claimID", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}},
      "documentID": {"name": "documentID", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}},
      "revisionID": {"name": "revisionID", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}},
      "chunkID": {"name": "chunkID", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}},
      "runID": {"name": "runID", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}},
      "sessionID": {"name": "sessionID", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}},
      "idempotencyKey": {"name": "Idempotency-Key", "in": "header", "required": true, "schema": {"type": "string", "format": "uuid"}},
      "ifMatch": {"name": "If-Match", "in": "header", "required": true, "schema": {"type": "string", "pattern": "^W/\\\"[1-9][0-9]*\\\"$"}},
      "origin": {"name": "Origin", "in": "header", "required": true, "schema": {"type": "string", "format": "uri"}},
      "optionalOrigin": {"name": "Origin", "in": "header", "required": false, "schema": {"type": "string", "format": "uri"}},
      "workState": {"name": "state", "in": "query", "required": false, "style": "form", "explode": true, "schema": {"type": "array", "maxItems": 5, "uniqueItems": true, "items": {"$ref": "#/components/schemas/WorkState"}}},
      "workKind": {"name": "kind", "in": "query", "required": false, "style": "form", "explode": true, "schema": {"type": "array", "maxItems": 2, "uniqueItems": true, "items": {"$ref": "#/components/schemas/WorkKind"}}},
      "informationState": {"name": "state", "in": "query", "required": false, "schema": {"$ref": "#/components/schemas/InformationRequestState"}},
      "reviewState": {"name": "state", "in": "query", "required": false, "schema": {"$ref": "#/components/schemas/WorkReviewState"}},
      "approvalState": {"name": "state", "in": "query", "required": false, "schema": {"$ref": "#/components/schemas/ApprovalState"}},
      "actionState": {"name": "state", "in": "query", "required": false, "schema": {"$ref": "#/components/schemas/ActionRecoveryState"}},
      "parentWorkItemID": {"name": "parent_work_item_id", "in": "query", "required": false, "schema": {"type": "string", "format": "uuid"}},
      "workItemID": {"name": "work_item_id", "in": "query", "required": false, "schema": {"type": "string", "format": "uuid"}},
      "reviewerID": {"name": "reviewer_id", "in": "query", "required": false, "schema": {"type": "string", "format": "uuid"}},
      "search": {"name": "q", "in": "query", "required": false, "schema": {"type": "string", "maxLength": 200}},
      "knowledgeScopeKind": {"name": "scope_kind", "in": "query", "required": false, "schema": {"$ref": "#/components/schemas/KnowledgeScopeKind"}},
      "knowledgeScopeID": {"name": "scope_id", "in": "query", "required": false, "schema": {"type": "string", "format": "uuid"}},
      "knowledgeKeyPrefix": {"name": "key_prefix", "in": "query", "required": false, "schema": {"type": "string", "maxLength": 128}},
      "knowledgeClaimState": {"name": "state", "in": "query", "required": false, "schema": {"$ref": "#/components/schemas/KnowledgeClaimState"}},
      "knowledgeDocumentState": {"name": "state", "in": "query", "required": false, "schema": {"$ref": "#/components/schemas/KnowledgeDocumentState"}},
      "knowledgeDocumentTitlePrefix": {"name": "title_prefix", "in": "query", "required": false, "schema": {"type": "string", "maxLength": 200}},
      "cursor": {"name": "cursor", "in": "query", "required": false, "schema": {"type": "string", "maxLength": 1024, "pattern": "^[A-Za-z0-9_-]+$"}},
      "limit": {"name": "limit", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 1, "maximum": 100, "default": 50}}
    },
    "schemas": {
      "Problem": {"type": "object", "required": ["type", "title", "status", "code", "detail"], "properties": {"type": {"type": "string", "format": "uri", "pattern": "^https://infiniteocean\\.net/problems/[a-z][a-z0-9_]{0,99}$"}, "title": {"type": "string", "minLength": 1}, "status": {"type": "integer", "minimum": 400, "maximum": 599}, "code": {"type": "string", "pattern": "^[a-z][a-z0-9_]{0,99}$"}, "detail": {"type": "string", "minLength": 1}}, "additionalProperties": false},
      "CatalogPackageCode": {"type": "string", "enum": ["knowledge", "work", "agents", "finance", "marketing", "integrations"]},
      "CatalogPackageMode": {"type": "string", "enum": ["enabled", "read_only", "suspended"]},
      "CatalogFeaturePackage": {"type": "object", "required": ["code", "version", "name", "description", "features"], "properties": {"code": {"$ref": "#/components/schemas/CatalogPackageCode"}, "version": {"type": "integer", "minimum": 1}, "name": {"type": "string", "minLength": 1, "maxLength": 120}, "description": {"type": "string", "maxLength": 1000}, "dependencies": {"type": "array", "uniqueItems": true, "items": {"$ref": "#/components/schemas/CatalogPackageCode"}}, "features": {"type": "array", "items": {"type": "string", "pattern": "^[a-z][a-z0-9_.-]{1,99}$"}}, "default_limits": {"type": "object", "additionalProperties": {"type": "integer", "minimum": 0}}}, "additionalProperties": false},
      "CatalogLimitDefinition": {"type": "object", "required": ["code", "package_code", "name", "unit", "kind", "combine"], "properties": {"code": {"type": "string", "pattern": "^[a-z][a-z0-9_-]{0,49}$"}, "package_code": {"$ref": "#/components/schemas/CatalogPackageCode"}, "name": {"type": "string", "minLength": 1, "maxLength": 120}, "unit": {"type": "string", "pattern": "^[a-z][a-z0-9_-]{0,49}$"}, "kind": {"type": "string", "enum": ["capacity"]}, "combine": {"type": "string", "enum": ["replace", "add", "maximum", "minimum"]}, "reservation_ttl_seconds": {"type": "integer", "minimum": 1, "maximum": 2592000}}, "additionalProperties": false},
      "CatalogPlan": {"type": "object", "required": ["code", "version", "name", "description", "packages"], "properties": {"code": {"type": "string", "pattern": "^[a-z][a-z0-9_-]{0,49}$"}, "version": {"type": "integer", "minimum": 1}, "name": {"type": "string", "minLength": 1, "maxLength": 120}, "description": {"type": "string", "maxLength": 1000}, "packages": {"type": "object", "additionalProperties": {"$ref": "#/components/schemas/CatalogPackageMode"}}}, "additionalProperties": false},
      "CatalogOffer": {"type": "object", "required": ["code", "plan_code", "plan_version", "currency", "amount_minor", "billing_interval", "effective_from"], "properties": {"code": {"type": "string", "pattern": "^[a-z][a-z0-9_-]{0,79}$"}, "plan_code": {"type": "string", "pattern": "^[a-z][a-z0-9_-]{0,49}$"}, "plan_version": {"type": "integer", "minimum": 1}, "currency": {"type": "string", "pattern": "^[A-Z]{3}$"}, "amount_minor": {"type": "integer", "minimum": 0}, "billing_interval": {"type": "string", "enum": ["none", "month", "year"]}, "effective_from": {"type": "string", "format": "date-time"}}, "additionalProperties": false},
      "PublicCatalog": {"type": "object", "required": ["version", "published_at", "packages", "limits", "plans", "offers"], "properties": {"version": {"type": "integer", "minimum": 1}, "published_at": {"type": "string", "format": "date-time"}, "packages": {"type": "array", "minItems": 1, "items": {"$ref": "#/components/schemas/CatalogFeaturePackage"}}, "limits": {"type": "array", "items": {"$ref": "#/components/schemas/CatalogLimitDefinition"}}, "plans": {"type": "array", "minItems": 1, "items": {"$ref": "#/components/schemas/CatalogPlan"}}, "offers": {"type": "array", "items": {"$ref": "#/components/schemas/CatalogOffer"}}}, "additionalProperties": false},
      "BeginRegistrationRequest": {"type": "object", "required": ["email", "display_name", "account_name"], "properties": {"email": {"type": "string", "format": "email", "maxLength": 254}, "display_name": {"type": "string", "minLength": 2, "maxLength": 120}, "account_name": {"type": "string", "minLength": 2, "maxLength": 140}, "region": {"type": "string", "pattern": "^[a-z][a-z0-9-]{1,31}$", "default": "us-east"}, "offer_code": {"type": "string", "pattern": "^[a-z][a-z0-9_-]{0,79}$"}}, "additionalProperties": false},
      "RegistrationAccepted": {"type": "object", "required": ["registration_id", "expires_at", "status"], "properties": {"registration_id": {"type": "string", "format": "uuid"}, "expires_at": {"type": "string", "format": "date-time"}, "status": {"type": "string", "enum": ["verification_required"]}, "development_verification_token": {"type": "string", "minLength": 43, "maxLength": 43, "description": "Development compositions only; never present in production."}}, "additionalProperties": false},
      "CompleteRegistrationRequest": {"type": "object", "required": ["token", "password"], "properties": {"token": {"type": "string", "minLength": 43, "maxLength": 43}, "password": {"type": "string", "minLength": 12, "maxLength": 1024, "format": "password"}}, "additionalProperties": false},
      "ProvisionedUser": {"type": "object", "required": ["id", "email", "display_name", "state"], "properties": {"id": {"type": "string", "format": "uuid"}, "email": {"type": "string", "format": "email"}, "display_name": {"type": "string", "minLength": 2, "maxLength": 120}, "state": {"type": "string", "enum": ["active"]}}, "additionalProperties": false},
      "ProvisionedAccount": {"type": "object", "required": ["id", "slug", "display_name", "type", "state", "cell_id", "placement_generation"], "properties": {"id": {"type": "string", "format": "uuid"}, "slug": {"type": "string", "pattern": "^[a-z0-9]+(?:-[a-z0-9]+)*$"}, "display_name": {"type": "string", "minLength": 2, "maxLength": 140}, "type": {"type": "string", "enum": ["free"]}, "state": {"type": "string", "enum": ["active"]}, "cell_id": {"type": "string", "pattern": "^[a-z][a-z0-9-]{0,63}$"}, "placement_generation": {"type": "integer", "minimum": 1}}, "additionalProperties": false},
      "ProvisionedMembership": {"type": "object", "required": ["id", "role", "state"], "properties": {"id": {"type": "string", "format": "uuid"}, "role": {"type": "string", "enum": ["owner"]}, "state": {"type": "string", "enum": ["active"]}}, "additionalProperties": false},
      "EntitlementGrantSource": {"type": "string", "enum": ["free_plan", "subscription", "trial", "promotion", "support_override", "grandfathered"]},
      "EntitlementPackageAccess": {"type": "object", "required": ["code", "version", "mode", "sources"], "properties": {"code": {"$ref": "#/components/schemas/CatalogPackageCode"}, "version": {"type": "integer", "minimum": 1}, "mode": {"$ref": "#/components/schemas/CatalogPackageMode"}, "limits": {"type": "object", "additionalProperties": {"type": "integer", "minimum": 0}}, "limit_policies": {"type": "object", "additionalProperties": {"$ref": "#/components/schemas/LimitPolicy"}}, "sources": {"type": "array", "minItems": 1, "items": {"$ref": "#/components/schemas/EntitlementGrantSource"}}}, "additionalProperties": false},
      "EntitlementSnapshot": {"type": "object", "required": ["account_id", "version", "catalog_version", "evaluated_at", "packages"], "properties": {"account_id": {"type": "string", "format": "uuid"}, "version": {"type": "integer", "minimum": 1}, "catalog_version": {"type": "integer", "minimum": 1}, "evaluated_at": {"type": "string", "format": "date-time"}, "packages": {"type": "array", "items": {"$ref": "#/components/schemas/EntitlementPackageAccess"}}}, "additionalProperties": false},
      "RegistrationCompleted": {"type": "object", "required": ["user", "account", "membership", "entitlements"], "properties": {"user": {"$ref": "#/components/schemas/ProvisionedUser"}, "account": {"$ref": "#/components/schemas/ProvisionedAccount"}, "membership": {"$ref": "#/components/schemas/ProvisionedMembership"}, "entitlements": {"$ref": "#/components/schemas/EntitlementSnapshot"}}, "additionalProperties": false},
      "LoginRequest": {"type": "object", "required": ["email", "password"], "properties": {"email": {"type": "string", "format": "email", "maxLength": 254}, "password": {"type": "string", "minLength": 12, "maxLength": 1024, "format": "password"}}, "additionalProperties": false},
      "LoginSession": {"type": "object", "required": ["status", "user_id", "expires_at", "authentication_method", "authentication_assurance"], "properties": {"status": {"type": "string", "enum": ["authenticated"]}, "user_id": {"type": "string", "format": "uuid"}, "expires_at": {"type": "string", "format": "date-time"}, "authentication_method": {"type": "string", "enum": ["password"]}, "authentication_assurance": {"type": "string", "enum": ["single_factor"]}}, "additionalProperties": false},
      "AccountChoice": {"type": "object", "required": ["account_id", "slug", "display_name", "account_type", "account_version", "role", "cell_id", "placement_generation", "entitlements", "owner_enrollment_required"], "properties": {"account_id": {"type": "string", "format": "uuid"}, "slug": {"type": "string", "pattern": "^[a-z0-9]+(?:-[a-z0-9]+)*$"}, "display_name": {"type": "string", "minLength": 2, "maxLength": 140}, "account_type": {"type": "string", "enum": ["free", "paid"]}, "account_version": {"type": "integer", "minimum": 1}, "role": {"type": "string", "enum": ["owner", "administrator", "billing_admin", "member", "viewer"]}, "cell_id": {"type": "string", "pattern": "^[a-z][a-z0-9-]{0,63}$"}, "placement_generation": {"type": "integer", "minimum": 1}, "entitlements": {"$ref": "#/components/schemas/EntitlementSnapshot"}, "owner_enrollment_required": {"type": "boolean"}}, "additionalProperties": false},
      "AccountChoices": {"type": "object", "required": ["accounts"], "properties": {"accounts": {"type": "array", "items": {"$ref": "#/components/schemas/AccountChoice"}}}, "additionalProperties": false},
      "SelectAccountRequest": {"type": "object", "required": ["account_id"], "properties": {"account_id": {"type": "string", "format": "uuid"}}, "additionalProperties": false},
      "SelectedAccountContext": {"type": "object", "required": ["account_id", "account_name", "cell_id", "placement_generation", "entitlement_version", "role"], "properties": {"account_id": {"type": "string", "format": "uuid"}, "account_name": {"type": "string", "minLength": 2, "maxLength": 140}, "cell_id": {"type": "string", "pattern": "^[a-z][a-z0-9-]{0,63}$"}, "placement_generation": {"type": "integer", "minimum": 1}, "entitlement_version": {"type": "integer", "minimum": 1}, "role": {"type": "string", "enum": ["owner", "administrator", "billing_admin", "member", "viewer"]}}, "additionalProperties": false},
      "AccountSelected": {"type": "object", "required": ["account_context"], "properties": {"account_context": {"$ref": "#/components/schemas/SelectedAccountContext"}}, "additionalProperties": false},
      "BeginRecoveryRequest": {"type": "object", "required": ["email"], "properties": {"email": {"type": "string", "format": "email", "maxLength": 254}}, "additionalProperties": false},
      "RecoveryAccepted": {"type": "object", "required": ["status"], "properties": {"status": {"type": "string", "enum": ["accepted"]}, "development_recovery_token": {"type": "string", "minLength": 43, "maxLength": 43, "description": "Development compositions only; never present in production."}}, "additionalProperties": false},
      "CompleteRecoveryRequest": {"type": "object", "required": ["token", "password"], "properties": {"token": {"type": "string", "minLength": 43, "maxLength": 43}, "password": {"type": "string", "minLength": 12, "maxLength": 1024, "format": "password"}}, "additionalProperties": false},
      "BeginContactChangeRequest": {"type": "object", "required": ["new_email"], "properties": {"new_email": {"type": "string", "format": "email", "maxLength": 254}}, "additionalProperties": false},
      "CompleteContactChangeRequest": {"type": "object", "required": ["token"], "properties": {"token": {"type": "string", "minLength": 43, "maxLength": 43}}, "additionalProperties": false},
      "ContactChangeAccepted": {"type": "object", "required": ["contact_change_id", "new_email", "expires_at", "status"], "properties": {"contact_change_id": {"type": "string", "format": "uuid"}, "new_email": {"type": "string", "format": "email", "maxLength": 254}, "expires_at": {"type": "string", "format": "date-time"}, "status": {"type": "string", "enum": ["verification_required"]}, "development_verification_token": {"type": "string", "minLength": 43, "maxLength": 43, "description": "Development compositions only; never present in production."}}, "additionalProperties": false},
      "ContactChangeCompleted": {"type": "object", "required": ["status", "new_email", "changed_at", "sessions_revoked"], "properties": {"status": {"type": "string", "enum": ["email_changed"]}, "new_email": {"type": "string", "format": "email", "maxLength": 254}, "changed_at": {"type": "string", "format": "date-time"}, "sessions_revoked": {"type": "boolean", "const": true}}, "additionalProperties": false},
      "RecoveryCodeStatus": {"type": "object", "required": ["configured", "remaining"], "properties": {"configured": {"type": "boolean"}, "version": {"type": "integer", "minimum": 1}, "remaining": {"type": "integer", "minimum": 0, "maximum": 10}, "created_at": {"type": "string", "format": "date-time"}}, "additionalProperties": false},
      "RecoveryCodeRotation": {"type": "object", "required": ["status", "codes"], "properties": {"status": {"$ref": "#/components/schemas/RecoveryCodeStatus"}, "codes": {"type": "array", "minItems": 10, "maxItems": 10, "uniqueItems": true, "items": {"type": "string", "pattern": "^[0-9a-f]{4}(?:-[0-9a-f]{4}){7}$"}}}, "additionalProperties": false},
      "ConsumeRecoveryCodeRequest": {"type": "object", "required": ["code"], "properties": {"code": {"type": "string", "pattern": "^[0-9A-Fa-f]{4}(?:-[0-9A-Fa-f]{4}){7}$"}}, "additionalProperties": false},
      "SecurityPosture": {"type": "object", "required": ["passkey_count", "recovery_codes_configured", "recovery_codes_remaining", "owner_ready"], "properties": {"passkey_count": {"type": "integer", "minimum": 0, "maximum": 10}, "recovery_codes_configured": {"type": "boolean"}, "recovery_codes_remaining": {"type": "integer", "minimum": 0, "maximum": 10}, "owner_ready": {"type": "boolean"}}, "additionalProperties": false},
      "AuthenticationMethod": {"type": "string", "enum": ["password", "passkey"]},
      "AuthenticationAssurance": {"type": "string", "enum": ["single_factor", "user_verified_cryptographic"]},
      "ActiveSession": {"type": "object", "required": ["id", "client_label", "authenticated_at", "reauthenticated_at", "last_seen_at", "expires_at", "current", "authentication_method", "authentication_assurance", "reauthentication_method", "reauthentication_assurance"], "properties": {"id": {"type": "string", "format": "uuid"}, "client_label": {"type": "string", "minLength": 1, "maxLength": 160}, "authenticated_at": {"type": "string", "format": "date-time"}, "reauthenticated_at": {"type": "string", "format": "date-time"}, "last_seen_at": {"type": "string", "format": "date-time"}, "expires_at": {"type": "string", "format": "date-time"}, "current": {"type": "boolean"}, "authentication_method": {"$ref": "#/components/schemas/AuthenticationMethod"}, "authentication_assurance": {"$ref": "#/components/schemas/AuthenticationAssurance"}, "reauthentication_method": {"$ref": "#/components/schemas/AuthenticationMethod"}, "reauthentication_assurance": {"$ref": "#/components/schemas/AuthenticationAssurance"}}, "additionalProperties": false},
      "ActiveSessions": {"type": "object", "required": ["sessions"], "properties": {"sessions": {"type": "array", "items": {"$ref": "#/components/schemas/ActiveSession"}}}, "additionalProperties": false},
      "SecurityEventType": {"type": "string", "enum": ["session_created", "session_reauthenticated", "session_revoked", "sessions_revoked", "credential_recovered", "passkey_added", "passkey_removed", "passkey_renamed", "passkey_compromised", "passkey_authenticated", "passkey_reauthenticated", "passkey_clone_warning", "recovery_codes_rotated", "recovery_code_consumed", "primary_email_change_requested", "primary_email_changed"]},
      "SecurityEvent": {"type": "object", "required": ["type", "occurred_at"], "properties": {"type": {"$ref": "#/components/schemas/SecurityEventType"}, "session_id": {"type": "string", "format": "uuid"}, "occurred_at": {"type": "string", "format": "date-time"}}, "additionalProperties": false},
      "SecurityEvents": {"type": "object", "required": ["events"], "properties": {"events": {"type": "array", "maxItems": 50, "items": {"$ref": "#/components/schemas/SecurityEvent"}}}, "additionalProperties": false},
      "ReauthenticateRequest": {"type": "object", "required": ["password"], "properties": {"password": {"type": "string", "minLength": 12, "maxLength": 1024, "format": "password"}}, "additionalProperties": false},
      "WebAuthnPublicKeyOptions": {"type": "object", "required": ["publicKey"], "properties": {"publicKey": {"type": "object"}}, "additionalProperties": false},
      "WebAuthnCeremony": {"type": "object", "required": ["ceremony_id", "public_key", "expires_at"], "properties": {"ceremony_id": {"type": "string", "format": "uuid"}, "public_key": {"$ref": "#/components/schemas/WebAuthnPublicKeyOptions"}, "expires_at": {"type": "string", "format": "date-time"}}, "additionalProperties": false},
      "WebAuthnCreationResponse": {"type": "object", "required": ["clientDataJSON", "attestationObject"], "properties": {"clientDataJSON": {"type": "string", "pattern": "^[A-Za-z0-9_-]+$"}, "attestationObject": {"type": "string", "pattern": "^[A-Za-z0-9_-]+$"}, "transports": {"type": "array", "uniqueItems": true, "items": {"type": "string"}}}, "additionalProperties": true},
      "WebAuthnAssertionResponse": {"type": "object", "required": ["clientDataJSON", "authenticatorData", "signature"], "properties": {"clientDataJSON": {"type": "string", "pattern": "^[A-Za-z0-9_-]+$"}, "authenticatorData": {"type": "string", "pattern": "^[A-Za-z0-9_-]+$"}, "signature": {"type": "string", "pattern": "^[A-Za-z0-9_-]+$"}, "userHandle": {"anyOf": [{"type": "string", "pattern": "^[A-Za-z0-9_-]+$"}, {"type": "null"}]}}, "additionalProperties": true},
      "WebAuthnCreationCredential": {"type": "object", "required": ["id", "rawId", "type", "response"], "properties": {"id": {"type": "string", "minLength": 1, "maxLength": 2048}, "rawId": {"type": "string", "minLength": 1, "maxLength": 2048, "pattern": "^[A-Za-z0-9_-]+$"}, "type": {"type": "string", "enum": ["public-key"]}, "response": {"$ref": "#/components/schemas/WebAuthnCreationResponse"}, "clientExtensionResults": {"type": "object"}, "authenticatorAttachment": {"type": "string", "enum": ["platform", "cross-platform"]}}, "additionalProperties": false},
      "WebAuthnAssertionCredential": {"type": "object", "required": ["id", "rawId", "type", "response"], "properties": {"id": {"type": "string", "minLength": 1, "maxLength": 2048}, "rawId": {"type": "string", "minLength": 1, "maxLength": 2048, "pattern": "^[A-Za-z0-9_-]+$"}, "type": {"type": "string", "enum": ["public-key"]}, "response": {"$ref": "#/components/schemas/WebAuthnAssertionResponse"}, "clientExtensionResults": {"type": "object"}, "authenticatorAttachment": {"type": "string", "enum": ["platform", "cross-platform"]}}, "additionalProperties": false},
      "CompletePasskeyLoginRequest": {"type": "object", "required": ["credential"], "properties": {"credential": {"$ref": "#/components/schemas/WebAuthnAssertionCredential"}, "client_label": {"type": "string", "maxLength": 160}}, "additionalProperties": false},
      "PasskeyLoginSession": {"type": "object", "required": ["status", "user_id", "expires_at", "authentication_method", "authentication_assurance"], "properties": {"status": {"type": "string", "enum": ["authenticated"]}, "user_id": {"type": "string", "format": "uuid"}, "expires_at": {"type": "string", "format": "date-time"}, "authentication_method": {"type": "string", "enum": ["passkey"]}, "authentication_assurance": {"type": "string", "enum": ["user_verified_cryptographic"]}}, "additionalProperties": false},
      "PasskeyCredential": {"type": "object", "required": ["id", "name", "created_at", "backup_eligible", "backed_up"], "properties": {"id": {"type": "string", "minLength": 1, "maxLength": 2048, "pattern": "^[A-Za-z0-9_-]+$"}, "name": {"type": "string", "minLength": 2, "maxLength": 80}, "created_at": {"type": "string", "format": "date-time"}, "last_used_at": {"type": "string", "format": "date-time"}, "backup_eligible": {"type": "boolean"}, "backed_up": {"type": "boolean"}}, "additionalProperties": false},
      "Passkeys": {"type": "object", "required": ["passkeys"], "properties": {"passkeys": {"type": "array", "maxItems": 10, "items": {"$ref": "#/components/schemas/PasskeyCredential"}}}, "additionalProperties": false},
      "RenamePasskeyRequest": {"type": "object", "required": ["name"], "properties": {"name": {"type": "string", "minLength": 2, "maxLength": 80}}, "additionalProperties": false},
      "CompletePasskeyRegistrationRequest": {"type": "object", "required": ["name", "credential"], "properties": {"name": {"type": "string", "minLength": 2, "maxLength": 80}, "credential": {"$ref": "#/components/schemas/WebAuthnCreationCredential"}}, "additionalProperties": false},
      "CompletePasskeyReauthenticationRequest": {"type": "object", "required": ["credential"], "properties": {"credential": {"$ref": "#/components/schemas/WebAuthnAssertionCredential"}}, "additionalProperties": false},
      "AssignableMembershipRole": {"type": "string", "enum": ["administrator", "billing_admin", "member", "viewer"]},
      "CreateInvitationRequest": {"type": "object", "required": ["email", "role"], "properties": {"email": {"type": "string", "format": "email", "maxLength": 254}, "role": {"$ref": "#/components/schemas/AssignableMembershipRole"}}, "additionalProperties": false},
      "InvitationCreated": {"type": "object", "required": ["invitation_id", "expires_at", "status"], "properties": {"invitation_id": {"type": "string", "format": "uuid"}, "expires_at": {"type": "string", "format": "date-time"}, "status": {"type": "string", "enum": ["pending"]}, "development_invitation_token": {"type": "string", "minLength": 43, "maxLength": 43, "description": "Development compositions only; never present in production."}}, "additionalProperties": false},
      "Membership": {"type": "object", "required": ["membership_id", "user_id", "display_name", "email", "role", "state", "version", "created_at"], "properties": {"membership_id": {"type": "string", "format": "uuid"}, "user_id": {"type": "string", "format": "uuid"}, "display_name": {"type": "string", "minLength": 2, "maxLength": 120}, "email": {"type": "string", "format": "email"}, "role": {"type": "string", "enum": ["owner", "administrator", "billing_admin", "member", "viewer"]}, "state": {"type": "string", "enum": ["active", "suspended"]}, "version": {"type": "integer", "minimum": 1}, "created_at": {"type": "string", "format": "date-time"}}, "additionalProperties": false},
      "Memberships": {"type": "object", "required": ["memberships"], "properties": {"memberships": {"type": "array", "items": {"$ref": "#/components/schemas/Membership"}}}, "additionalProperties": false},
      "MembershipResult": {"type": "object", "required": ["membership"], "properties": {"membership": {"$ref": "#/components/schemas/Membership"}}, "additionalProperties": false},
      "ChangeMembershipRoleRequest": {"type": "object", "required": ["role", "expected_version", "reason"], "properties": {"role": {"$ref": "#/components/schemas/AssignableMembershipRole"}, "expected_version": {"type": "integer", "minimum": 1}, "reason": {"type": "string", "minLength": 3, "maxLength": 300}}, "additionalProperties": false},
      "ChangeMembershipStateRequest": {"type": "object", "required": ["expected_version", "reason"], "properties": {"expected_version": {"type": "integer", "minimum": 1}, "reason": {"type": "string", "minLength": 3, "maxLength": 300}}, "additionalProperties": false},
      "TransferOwnershipRequest": {"type": "object", "required": ["target_membership_id", "expected_actor_version", "expected_target_version", "reason"], "properties": {"target_membership_id": {"type": "string", "format": "uuid"}, "expected_actor_version": {"type": "integer", "minimum": 1}, "expected_target_version": {"type": "integer", "minimum": 1}, "reason": {"type": "string", "minLength": 3, "maxLength": 300}}, "additionalProperties": false},
      "OwnershipTransfer": {"type": "object", "required": ["previous_owner", "new_owner"], "properties": {"previous_owner": {"$ref": "#/components/schemas/Membership"}, "new_owner": {"$ref": "#/components/schemas/Membership"}}, "additionalProperties": false},
      "AcceptInvitationRequest": {"type": "object", "required": ["token"], "properties": {"token": {"type": "string", "minLength": 43, "maxLength": 43}}, "additionalProperties": false},
      "AcceptedMembership": {"type": "object", "required": ["id", "account_id", "user_id", "role", "state", "version", "created_at"], "properties": {"id": {"type": "string", "format": "uuid"}, "account_id": {"type": "string", "format": "uuid"}, "user_id": {"type": "string", "format": "uuid"}, "role": {"$ref": "#/components/schemas/AssignableMembershipRole"}, "state": {"type": "string", "enum": ["active"]}, "version": {"type": "integer", "minimum": 1}, "created_at": {"type": "string", "format": "date-time"}}, "additionalProperties": false},
      "InvitationAcceptance": {"type": "object", "required": ["membership"], "properties": {"membership": {"$ref": "#/components/schemas/AcceptedMembership"}}, "additionalProperties": false},
      "AccountClosure": {"type": "object", "required": ["request_id", "account_id", "account_name", "account_state", "account_version", "state", "reason", "requested_at", "execute_after"], "properties": {"request_id": {"type": "string", "format": "uuid"}, "account_id": {"type": "string", "format": "uuid"}, "account_name": {"type": "string", "minLength": 2, "maxLength": 140}, "account_state": {"type": "string", "enum": ["active", "closing", "closed"]}, "account_version": {"type": "integer", "minimum": 1}, "state": {"type": "string", "enum": ["cooling_off", "processing", "blocked", "canceled", "closed"]}, "reason": {"type": "string", "minLength": 3, "maxLength": 300}, "blocker_code": {"type": "string", "pattern": "^[a-z][a-z0-9_]{0,99}$"}, "requested_at": {"type": "string", "format": "date-time"}, "execute_after": {"type": "string", "format": "date-time"}, "canceled_at": {"type": "string", "format": "date-time"}, "closed_at": {"type": "string", "format": "date-time"}, "delete_after": {"type": "string", "format": "date-time"}}, "additionalProperties": false},
      "AccountClosures": {"type": "object", "required": ["account_closures"], "properties": {"account_closures": {"type": "array", "items": {"$ref": "#/components/schemas/AccountClosure"}}}, "additionalProperties": false},
      "ChangeAccountClosureRequest": {"type": "object", "required": ["expected_account_version", "reason"], "properties": {"expected_account_version": {"type": "integer", "minimum": 1}, "reason": {"type": "string", "minLength": 3, "maxLength": 300}}, "additionalProperties": false},
      "BillingSubscriptionState": {"type": "string", "enum": ["incomplete", "incomplete_expired", "trialing", "active", "past_due", "canceled", "unpaid", "paused"]},
      "BillingSubscription": {"type": "object", "required": ["state", "offer_code", "catalog_version", "last_synced_at"], "properties": {"state": {"$ref": "#/components/schemas/BillingSubscriptionState"}, "offer_code": {"type": "string", "pattern": "^[a-z][a-z0-9_-]{0,79}$"}, "catalog_version": {"type": "integer", "minimum": 1}, "current_period_start": {"type": "string", "format": "date-time"}, "current_period_end": {"type": "string", "format": "date-time"}, "cancel_at": {"type": "string", "format": "date-time"}, "last_synced_at": {"type": "string", "format": "date-time"}}, "additionalProperties": false},
      "BillingStatus": {"type": "object", "required": ["has_customer", "can_manage", "can_start_checkout", "subscriptions"], "properties": {"has_customer": {"type": "boolean"}, "can_manage": {"type": "boolean"}, "can_start_checkout": {"type": "boolean"}, "subscriptions": {"type": "array", "items": {"$ref": "#/components/schemas/BillingSubscription"}}}, "additionalProperties": false},
      "CreateCheckoutSessionRequest": {"type": "object", "required": ["offer_code"], "properties": {"offer_code": {"type": "string", "pattern": "^[a-z][a-z0-9_-]{0,79}$"}}, "additionalProperties": false},
      "HostedBillingSession": {"type": "object", "required": ["session_id", "url", "expires_at"], "properties": {"session_id": {"type": "string", "minLength": 1, "maxLength": 255}, "url": {"type": "string", "format": "uri", "maxLength": 4096}, "expires_at": {"type": "string", "format": "date-time"}}, "additionalProperties": false},
      "StripeEvent": {"type": "object"},
      "StripeWebhookReceipt": {"type": "object", "required": ["status", "event_id"], "properties": {"status": {"type": "string", "enum": ["accepted", "duplicate"]}, "event_id": {"type": "string", "pattern": "^evt_[A-Za-z0-9_]+$"}}, "additionalProperties": false},
      "PackageAccess": {"type": "object", "required": ["code", "version", "mode"], "properties": {"code": {"type": "string", "pattern": "^[a-z][a-z0-9_-]{0,49}$"}, "version": {"type": "integer", "minimum": 1}, "mode": {"type": "string", "enum": ["enabled", "read_only", "suspended"]}, "limits": {"type": "object", "additionalProperties": {"type": "integer", "minimum": 0}}, "limit_policies": {"type": "object", "additionalProperties": {"$ref": "#/components/schemas/LimitPolicy"}}}, "additionalProperties": false},
      "LimitPolicy": {"type": "object", "required": ["kind", "combine"], "properties": {"kind": {"type": "string", "enum": ["capacity"]}, "combine": {"type": "string", "enum": ["replace", "add", "maximum", "minimum"]}, "reservation_ttl_seconds": {"type": "integer", "minimum": 1}}, "additionalProperties": false},
      "AccountContext": {"type": "object", "required": ["account_id", "actor_kind", "role", "cell_id", "placement_generation", "entitlement_version", "package_access"], "properties": {"account_id": {"type": "string", "format": "uuid"}, "actor_kind": {"type": "string", "enum": ["user", "workload"]}, "role": {"type": "string", "enum": ["owner", "administrator", "billing_admin", "member", "viewer"]}, "cell_id": {"type": "string", "pattern": "^[a-z][a-z0-9-]{0,63}$"}, "placement_generation": {"type": "integer", "minimum": 1}, "entitlement_version": {"type": "integer", "minimum": 1}, "package_access": {"anyOf": [{"$ref": "#/components/schemas/PackageAccess"}, {"type": "null"}]}}, "additionalProperties": false},
      "WorkKind": {"type": "string", "enum": ["todo", "ticket"]},
      "WorkState": {"type": "string", "enum": ["open", "in_progress", "waiting", "done", "canceled"]},
      "WorkPriority": {"type": "string", "enum": ["low", "normal", "high", "urgent"]},
      "WorkResponsibility": {"type": "string", "enum": ["user", "persona", "shared", "external"]},
      "WorkAssignment": {"type": "object", "required": ["responsibility"], "properties": {"responsibility": {"$ref": "#/components/schemas/WorkResponsibility"}, "user_id": {"type": "string", "format": "uuid"}, "persona_id": {"type": "string", "format": "uuid"}, "external_ref": {"type": "string", "minLength": 2, "maxLength": 200}}, "additionalProperties": false},
      "WorkAssignmentInput": {"type": "object", "required": ["responsibility"], "properties": {"responsibility": {"type": "string", "enum": ["user", "persona", "shared", "external"]}, "user_id": {"type": "string", "format": "uuid"}, "persona_id": {"type": "string", "format": "uuid"}, "external_ref": {"type": "string", "minLength": 2, "maxLength": 200}}, "additionalProperties": false},
      "WorkActor": {"type": "object", "required": ["kind", "id"], "properties": {"kind": {"type": "string", "enum": ["user", "workload"]}, "id": {"type": "string", "minLength": 1, "maxLength": 200}}, "additionalProperties": false},
      "WorkProvenance": {"type": "object", "required": ["source", "created_by"], "properties": {"source": {"type": "string", "enum": ["manual", "baseline", "schedule", "conversation", "run", "system"]}, "created_by": {"$ref": "#/components/schemas/WorkActor"}, "baseline_requirement_id": {"type": "string", "format": "uuid"}, "schedule_id": {"type": "string", "format": "uuid"}, "conversation_id": {"type": "string", "format": "uuid"}, "run_id": {"type": "string", "format": "uuid"}}, "additionalProperties": false},
      "WorkItem": {"type": "object", "required": ["id", "number", "depth", "kind", "title", "description", "state", "priority", "assignment", "provenance", "version", "created_at", "updated_at"], "properties": {"id": {"type": "string", "format": "uuid"}, "number": {"type": "integer", "minimum": 1}, "parent_id": {"type": "string", "format": "uuid"}, "depth": {"type": "integer", "minimum": 0, "maximum": 3}, "kind": {"$ref": "#/components/schemas/WorkKind"}, "title": {"type": "string", "minLength": 2, "maxLength": 240}, "description": {"type": "string", "maxLength": 20000}, "state": {"$ref": "#/components/schemas/WorkState"}, "priority": {"$ref": "#/components/schemas/WorkPriority"}, "assignment": {"$ref": "#/components/schemas/WorkAssignment"}, "provenance": {"$ref": "#/components/schemas/WorkProvenance"}, "due_at": {"type": "string", "format": "date-time"}, "completed_at": {"type": "string", "format": "date-time"}, "version": {"type": "integer", "minimum": 1}, "created_at": {"type": "string", "format": "date-time"}, "updated_at": {"type": "string", "format": "date-time"}}, "additionalProperties": false},
      "WorkPage": {"type": "object", "required": ["items"], "properties": {"items": {"type": "array", "maxItems": 100, "items": {"$ref": "#/components/schemas/WorkItem"}}, "next_cursor": {"type": "string", "maxLength": 1024, "pattern": "^[A-Za-z0-9_-]+$"}}, "additionalProperties": false},
      "WorkItems": {"type": "object", "required": ["items"], "properties": {"items": {"type": "array", "maxItems": 100, "items": {"$ref": "#/components/schemas/WorkItem"}}}, "additionalProperties": false},
      "WorkSummary": {"type": "object", "required": ["active", "in_progress", "waiting", "urgent", "done"], "properties": {"active": {"type": "integer", "minimum": 0}, "in_progress": {"type": "integer", "minimum": 0}, "waiting": {"type": "integer", "minimum": 0}, "urgent": {"type": "integer", "minimum": 0}, "done": {"type": "integer", "minimum": 0}}, "additionalProperties": false},
      "CreateWorkRequest": {"type": "object", "required": ["kind", "title", "priority", "assignment"], "properties": {"parent_id": {"type": "string", "format": "uuid"}, "kind": {"$ref": "#/components/schemas/WorkKind"}, "title": {"type": "string", "minLength": 2, "maxLength": 240}, "description": {"type": "string", "maxLength": 20000}, "priority": {"$ref": "#/components/schemas/WorkPriority"}, "assignment": {"$ref": "#/components/schemas/WorkAssignmentInput"}, "due_at": {"type": "string", "format": "date-time"}, "reason": {"type": "string", "maxLength": 1000}}, "additionalProperties": false},
      "TransitionWorkRequest": {"type": "object", "required": ["to"], "properties": {"to": {"$ref": "#/components/schemas/WorkState"}, "reason": {"type": "string", "maxLength": 1000}}, "additionalProperties": false},
      "AssignWorkRequest": {"type": "object", "required": ["assignment"], "properties": {"assignment": {"$ref": "#/components/schemas/WorkAssignmentInput"}, "reason": {"type": "string", "maxLength": 1000}}, "additionalProperties": false},
      "WorkProvenanceLinkKind": {"type": "string", "enum": ["baseline_requirement", "schedule", "run"]},
      "AttachWorkProvenanceRequest": {"type": "object", "required": ["kind", "reference_id"], "properties": {"kind": {"$ref": "#/components/schemas/WorkProvenanceLinkKind"}, "reference_id": {"type": "string", "format": "uuid"}, "reason": {"type": "string", "maxLength": 1000}}, "additionalProperties": false},
      "LinkWorkConversationRequest": {"type": "object", "required": ["conversation_id"], "properties": {"conversation_id": {"type": "string", "format": "uuid"}, "reason": {"type": "string", "maxLength": 1000}}, "additionalProperties": false},
      "AttentionActor": {"type": "object", "required": ["kind", "id"], "properties": {"kind": {"type": "string", "enum": ["user", "workload"]}, "id": {"type": "string", "minLength": 1, "maxLength": 200}}, "additionalProperties": false},
      "InformationScope": {"type": "string", "enum": ["account", "work_item", "conversation"]},
      "InformationRequirement": {"type": "object", "required": ["key", "scope"], "properties": {"key": {"type": "string", "pattern": "^[a-z][a-z0-9._:/-]{0,127}$"}, "scope": {"$ref": "#/components/schemas/InformationScope"}, "scope_id": {"type": "string", "format": "uuid"}}, "additionalProperties": false},
      "InformationRequestState": {"type": "string", "enum": ["open", "answered", "canceled"]},
      "InformationAnswer": {"type": "object", "required": ["fact_id", "fact_version", "answered_by", "answered_at"], "properties": {"fact_id": {"type": "string", "format": "uuid"}, "fact_version": {"type": "integer", "minimum": 1}, "answered_by": {"$ref": "#/components/schemas/AttentionActor"}, "answered_at": {"type": "string", "format": "date-time"}}, "additionalProperties": false},
[...]
